/*
 * Блок ввода данных
 * Совмещает в себе все стандартные
 * элементы формы
 * 
 */

// Объявляем блок
$block: '.b-field'



// Стили
#{$block}
    &__select
        +font(14px)

    &_select
        padding: 20px
        background: $white
        .is-item-banner &,
        .is-item-tgb &
            display: block

        +bp-tablet
            &
                .is-item-banner &,
                .is-item-tgb &
                    display: none

    +bp-tabletLandscape
        .is-mobileApp &
            clear: none
            margin-right: 20px
            margin-left: 30px

        &
            .is-mobileApp &
                clear: none
                margin-right: 20px
                margin-left: 30px








