$block: '.b-contacts'

#{$block}

    margin-bottom: 30px
    overflow: hidden
    &__name
        font-size: inherit

        color: $black
    &__link
        margin-bottom: 15px
        &:last-child
            margin-bottom: 0


    +bp-desktop
        &__name
            +font(17px)

.b-content_article
    #{$block}
        margin: 0 20px
        margin-bottom: 30px

    +bp-tablet
        #{$block}
            margin: 0