/*
 * Подсказки у инпута
 *
 */

// Объявляем блок
$block: '.b-input-notification'

// Стили
#{$block}
    +font(12px)
    margin-bottom: 40px
    margin-bottom: 10px
    padding: 15px 0
    position: absolute
    left: 0
    right: 0
    bottom: 35px
    display: block

    background: $white
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.3)

    &:after
        content: ''

        width: 10px
        height: 10px
        margin-left: -5px
        
        position: absolute
        bottom: -5px
        left: 50%
        display: block
        background: $white

        +transform(translateX(-50%) rotate(45deg))
  
    &__msg
        width: 80%
        margin: 0 auto
        text-align: center
        color: $red-warn
        line-height: 1.5

    &_success &__msg
        color: $green-accent

    &_error &__msg
        color: $red-warn
