/*
 * Фильтр на странице поиска
 * используется в b-list-head_search-page
 * 
 */     

// Объявляем блок
$block: '.b-search-filters'

// Основной блок
#{$block}

    .b-search-head__filters &__body,
    &.b-sidebar-right__item
        margin-bottom: 20px
        padding: 20px
        background: $today-bg-color

    // Блок группы фильтров
    &__wrapper
        margin-bottom: 20px
        vertical-align: top

        &:last-child
            margin-bottom: 0

        &_theme
        
        &_material-type
        
        &_origin

        &_period

        // Документы
        &_doc-status

        &_doc-datepub

        &_doc-type

        &_doc-department

        &_doc-theme

        &_theme,
        &_material-type,
        &_projects,
        &_origin,
        &_doc-type,
        &_doc-department,
        &_doc-theme

            & .b-field
                width: 100%

    // Название группы фильтров
    &__name
        +font(13px)
        font-weight: bold
        margin-bottom: 14px

    // Группа фильтров
    &__content

        // inline-block fix
        font-size: $f-sz-zero

    // Фильтр
    &__item
        +font(13px)
        margin-bottom: 10px

        // Модификатор селект-элемента
        &_select
            margin-bottom: 20px

        // Модификатор дейтпикера - начала
        &_datepicker-from
            //width: 140px
            width: 48%
            margin-right: 4%
            display: inline-block
        
        // Модификатор дейтпикера - конец
        &_datepicker-to
            //width: 140px
            width: 48%
            display: inline-block

    // Лейбл фильтра
    &__label
        margin-bottom: 0

    // Инпут фильтра
    &__input

    // Селект фильтра
    &__select

    &__input,
    &__select
        +font(13px)
        background: $white

    // Кнопка найти
    &__submit

        .b-search-head__filters &
            margin-bottom: 0

    // Кнопка очистить
    &__reset
        +font(13px)

        display: none!important // Пока тестим

    // Элемент кнопки с дейтпикером
    //&__datepicker.b-custom-datepicker
    &__content

        // Сурово переназначаем высоту у дейтпикер элемента
        & .ui-datepicker-trigger
            width: 20px
            top: 6px
            right: 6px

        & .b-field__input_text
            pointer-events: none

    // Текст к фильтру
    &__title
        +font(13px)

    // Фильтры страницы документов
    &_doc &__item_datepicker-from
        

    // Скрываем
    & .is-show
        display: block

    & .is-hide
        display: none


    // Планшет
    +bp-tablet

        &

            &__wrapper

                &_theme,            
                &_material-type
                    width: 224px
                    display: inline-block

                &_origin
                    width: 290px

                // Документы
                &_doc-status
                    width: 200px
                    display: inline-block

                &_doc-datepub
                    width: 245px
                    display: inline-block

                &_doc-type
                    width: 200px
                    float: left

                &_doc-department
                    clear: both

                &_doc-department,
                &_doc-theme
                    display: block
                    float: left

            &__submit
                clear: both
                

            &__item

                &_select
                    width: 190px
                    margin-right: 10px
                    margin-bottom: 0
                    display: inline-block

                &_datepicker-from
                    margin-right: 10px
                    
                &_datepicker-from,
                &_datepicker-to
                    width: 115px



    // Горизонтальный планшет
    +bp-tabletLandscape

        &

            &__wrapper

                &_theme,            
                &_material-type,
                &_projects,
                &_origin
                    width: 200px

                &_projects,
                &_origin
                    display: inline-block

                // Документы
                &_doc-status
                    width: 300px
                    display: inline-block

                &_doc-datepub,
                &_doc-department,
                &_doc-theme
                    width: 245px
                    display: inline-block

    // Настольный компьютер
    +bp-desktop

        &

            &__wrapper

                &_origin
                    width: 255px
                    margin-right: 30px

                &_period
                    width: 100%
                    display: inline-block

                // Документы
                &_doc-department
                    margin-right: 54px

            &__submit
                display: none

            &_doc &__wrapper
                display: block
                clear: none
                float: left
                width: 200px

            .b-search-head__filters &__body,
            &.b-sidebar-right__item
                padding: 30px

            &.b-sidebar-right__item &__submit
                width: 50%
                margin-bottom: 0

            &.b-sidebar-right__item &__reset
                width: 50%
                padding-top: 8px

                float: left
                text-align: right



    // Широкоформатный монитор 
    +bp-desktopFull

        &

            &__wrapper

                &_theme,            
                &_material-type
                    width: 260px

                &_origin
                    width: 300px

                &_origin
                    margin-right: 100px

                // Документы
                &_doc-datepub
                    width: 400px

            &_doc &__wrapper
                display: block
                float: left
                width: 300px