/*
 * Список тегов
 *
 */

// Объявляем блок
$block: '.b-tags'

// Стили
#{$block}
    display: table-cell

    &__list
        column-count: 2
        -webkit-column-gap: 60px
        -moz-column-gap: 60px
        column-gap: 60px

    &__list-item
        line-height: 30px

    &__title
        font-family: "NotoSans", Arial, sans-serif