$block: '.b-feed'

#{$block}
    margin: 30px 0

    .b__name
        font-family: "NotoSans", Arial, sans-serif
        font-style: normal
        text-transform: uppercase

    &__date
        display: block
        color: #999

    &__item
        margin-bottom: 16px
        border-bottom: 1px solid #dedede

        &:last-child
            border-bottom: 0

    .b-link_title
        padding: 6px 0 16px
        display: inline-block