/*
 * Фотогалерея внутри статьи
 * 
 */

// Объявляем блок
$block: '.b-form'

+bp-tabletLandscape
    .is-main-page
        #{$block}
            width: 290px

+bp-desktop
    .is-main-page
        #{$block}
            width: 280px

+bp-desktopFull
    .is-main-page
        #{$block}
            width: 310px

.b-field__input_submit
    background-color: $red-orange

// Стили
#{$block}

    &__title
        +font(17px)
        font-family: $f-serif
        font-style: italic
        font-weight: bold
        margin-bottom: 25px

    &__fieldset
        margin-bottom: 10px

        &:nth-child(6)
            margin-bottom: 0
            #{$block}
                &__fieldset
                    margin-bottom: 0

    +bp-tablet

        &__fieldset
            &:nth-child(-n+4)
                width: 33.3333%
                float: left
                padding: 0 10px

            &:nth-child(2)
                padding-left: 0

            &:nth-child(4)
                padding-right: 0

            &:nth-child(5)
                margin-bottom: 20px

    +bp-tabletLandscape
        width: 280px
        &__fieldset
            &:nth-child(-n+4)
                width: 100%
                float: none
                padding: 0

    +bp-desktop
        width: 280px

