// Объявляем блок
$block: '.b-custom-links'

// Стили
#{$block}
    padding: $indent-g 0

    &__body
        display: table
        width: 100%
        padding: $indent-g 0
    
    &__item
        display: block
        float: left
        width: 50%
        border: none
        text-align: center

        &:nth-child(-n+2)
            margin-bottom: $indent-g-small

        &:after
            display: block
            clear: both
            content: ''
            height: 0

        & a
            text-transform: uppercase
            +font(16px)
            font-weight: bold
            display: block


    // Landscape
    +bp-tabletLandscape

        &

            &__item
                display: table-cell
                text-align: center
                width: 25%
                border-right: 1px solid $border-color

                &:last-child
                    border: none