$block: '.b-list-head'

#{$block}

    &__title
        margin-bottom: 0

    &__body
    	display: none

    // Кастомизируем брендинг белые поля
    +bp-desktop

        &:before
            top: 468px
