/*
 * Круглое изображение
 *
 */

// Объявляем блок
$block: '.b-round-image'

// Стили
#{$block}
    border-radius: 50%
    vertical-align: middle
    margin-right: 1px

    &_profile
        width: 100px
        height: 100px

    +bp-tabletLandscape

        &

            &_profile
                width: 140px
                height: 140px
                float: left