/*
 * Блок списка
 * 
 */

// Объявляем блок
$block: '.b-form'

// Стили
#{$block}

    &__body
        margin-bottom: 20px
        padding: 20px
        position: relative
        display: block

        &_grey
            background: $today-bg-color

        &_info
            border: 1px solid $green-accent

    &__title
        margin-bottom: 20px
    
    &__row

        // элементы центрируются
        &_centered
            text-align: center

    &__fieldset
        margin-bottom: 30px

        &__title
            +font(16px)
            margin-bottom: 20px

    &__notice
        +font(13px)
		
    &__head-notice
        +font(13px)

    &_info
        //width: auto
        //color: $green-accent
        //border: 1px solid $green-accent

    
    // НА УДАЛЕНИЕ
    &__input
        //+font(14px)

        //margin-bottom: 10px
        //padding: 10px 10px
        //background: $white

    &__button
        //+font(15px)
        //padding: 10px 10px

        //line-height: normal

        &:hover
            //opacity: .7

        &_accent,
        &_accent:hover
            //background-color: $red

        &_half
            //width: calc(50% - 5px)

        &.has-loading
            //opacity: .7
            //cursor: not-allowed