/*
 * Блок Таблица
 * 
 */

$block: '.b-table'

#{$block}
    width: 100%
    
    display: inline-table
    vertical-align: top

    &__cell
        display: table-cell
        vertical-align: middle