/*
 * Акцент внутри статьи
 * 
 */

// Объявляем блок
$block: '.b-material-marked'

// Модификаторы

// Стили
#{$block}
    +font(14px)

    font-weight: bold

    padding: 20px 40px
    margin: 20px

    border-top: 3px solid $time-color
    border-bottom: 3px solid $time-color

    &__text
        margin: 0 -60px
    

    // Tablet
    +bp-tablet

        &
            +font(15px)
            margin: 20px 125px

            &__text
                margin: 0 -105px

    // Tablet landscape
    +bp-tabletLandscape

        &
            +font(18px)

            margin: 40px 205px

            &__text
                margin: 0 -165px
            

    // Desktop
    +bp-desktop

        &
            +font(20px)

            &__text
                margin: 0 -155px
            

    // Desktop full
    +bp-desktopFull

        &
            margin: 40px 300px
            padding: 22px 40px 25px

            &__text
                margin: 0 -160px
            