// Объявляем блок
$block: '.b-sidebar'

// Стили
#{$block}
    display: none

    &__advert

        &.is-fixed
            position: fixed
            top: 0

        &.is-bottom
            position: absolute
            top: auto
            bottom: 25px

    // Tablet
    +bp-tablet

        &
            &_left
                width: 240px
                float: left
                
                display: block
                //position: absolute
                //bottom: 0
                //top: 0


    // Tablet landscape
    +bp-tabletLandscape

        &
            &_left
                width: 280px

    // Desktop
    +bp-desktop

        &
            width: 310px
            display: block

            &_right &__item
                margin-bottom: 20px