/*
 * Блок комментариев
 * 
 */

// Объявляем блок
$block: '.b-comment'

// Стили
#{$block}
    +font(14px)

    margin-bottom: 20px
    padding: 0 20px

    &:after
        display: block
        content: ''
        height: 0
        font-size: 0
        clear: both

    &__open-comments
        margin-bottom: 10px
        background-color: #1F77BB
        padding: 10px 25px
        +rounded-corners(3px) 
        color: $white
        width: 100%
        display: block
        text-align: center
        // float: right

        & span
            margin-right: 5px

    &__head
        position: relative
        //margin-bottom: 20px

        & .b-field_input_checkbox
            width: 100%

    &__title 
        +font(15px)
        font-family: $f-sans
        font-weight: normal
        
    &__check
        clear: none
        cursor: pointer

    &__remember-me
        margin-top: 20px
        margin-bottom: 20px
        display: block
        color: $comment-color
        cursor: pointer

    &__form
        margin-top: 10px

        & .b-field_textarea_textarea

        & .b-field_input_checkbox
            margin-top: 10px
            margin-bottom: 10px

        & .b-field_input_submit
    
    &__form_clickable
        cursor: pointer

    &__list
        //margin-bottom: 30px

    &__post
        padding-top: 10px
        padding-bottom: 10px
        border-bottom: 1px dashed $border-color

        &_quote
            padding-left: 40px

    &__list &__item:last-child &__post:last-child
        margin-bottom: 5px 
        padding-bottom: 0
        border-bottom: 0

    &__textarea,
    // Контейнер плагина
    .ql-container
        min-height: 105px
        margin-bottom: 10px

    .ql-editor
        min-height: 79px
    
    // Обертка цитаты
    &__quote-wrapper
        margin: 16px 0

    // цитата текст
    &__quote
        margin-top: 16px
        padding-top: 20px
        padding-left: 20px
        position: relative
        display: block
        color: $comment-color
        +opacity(0.4)

        &:before
            content: "“"

            +font(46px)
            font-family: $f-serif
            font-style: italic

            position: absolute
            top: 0
            left: 0

            line-height: 0.6em
            color: $link-color

    // упоминание автор
    &__mention
        font-style: italic
        font-weight: bold
        color: $comment-color

    // цитата автор
    &__mention-quote
        font-style: italic
        font-weight: bold
        margin-top: 4px
        margin-bottom: 16px
        padding-left: 20px
        display: block
        color: $comment-color

    // Информация
    &__info

        &-text
            margin-bottom: 20px 

    &__submit-btn
        display: block

    // Tablet
    +bp-tablet

        &
            padding: 0

            &__open-comments
                float: right
                width: auto

            &__title
                float: left

            &__check
                float: right

            &__textarea

                &:before
                    content: 'Оставить комментарий'
                    color: $border-color

                &.ql-container:before
                    display: none


            &__textarea,
            // Контейнер плагина
            .ql-container
                min-height: 35px


            .ql-editor
                min-height: 149px

            &__form
                //margin-top: 20px
            

    // Desktop full
    +bp-desktopFull

        &
            &__head
                //width: 630px