$block: '.b-header'

#{$block}
    width: 100%
    margin: $indent-g-small 0

    &__item
        display: inline-block
        vertical-align: middle

    // Tablet
    +bp-tablet

        &
            

    // Tablet landscape
    +bp-tabletLandscape

        &
            

    // Desktop
    +bp-desktop

        &
            padding-bottom: $indent-g-small
            border-bottom: 1px solid #dedede
            margin-bottom: 0            

    // Desktop full
    +bp-desktopFull

        &
            