/* Иконка-гамбургер */

// Объявляем блок
$block: '.b-hamburger'

//Стили
#{$block}
	width: 20px
	margin-top: 2px

	position: relative
	top: 2px

	display: inline-block
	line-height: 0
	vertical-align: middle

	&__line
    	width: 100%
    	margin-bottom: 5px

    	display: inline-block
    	border-bottom: 2px solid $black

 +bp-tablet

 	&
 		display: none