#игнорируем симфонивские не нужные компоненты
www/app/config/parameters.yml
www/build/
www/phpunit.xml
www/var/*
!/var/cache
www/var/cache/*
!www/var/cache/.gitkeep
!/var/logs
/var/logs/*
!www/var/logs/.gitkeep
!/var/sessions
www/var/sessions/*
!www/var/sessions/.gitkeep
!www/var/SymfonyRequirements.php
www/vendor/
www/app/config/parameters_db.yml
www/web/bundles/
share/
node_modules/
npm-debug.log
www/web/robots.txt
www/src/JuristBundle/Resources/public
www/src/JuristBundle/Resources/views
www/web/sitemaps/*
