/*
 * Аккаунт
 *
 */

// Объявляем блок
$block: '.b-spinner'

// Основной блок
#{$block}

    &, &_black
        background-position: 9999px 9999px !important

    & .b-field__input, & .b-link-btn
        color: rgba(0,0,0,0) !important
        position: relative


    &:before, &_black:before
        content: ''

        width: 80%
        height: 80%
        margin: auto

        position: absolute
        top: 0
        right: 0
        bottom: 0
        left: 0

        background-size: contain!important

        //+opacity(0)

        +transition(opacity .3s ease)

        z-index: 1

    &:before
        background: url($spinner) no-repeat center center transparent

    &_black:before
        background: url($img-path + "spinner_black.svg") no-repeat center center transparent
