/*
 * Блок комментариев
 * 
 */

// Объявляем блок
$block: '.b-comment'

// Стили
#{$block}
    +font(14px)

    margin-bottom: 20px
    padding: 0 20px

    &__head
        position: relative

    &__title
        +font(15px)

        font-family: $f-sans
        font-weight: normal


    &__list

    &__list-item
        padding-bottom: 10px
        margin-bottom: 10px
        border-bottom: 1px dashed $border-color

        &:last-child
            margin-bottom: 5px
            padding-bottom: 0
            border-bottom: 0

    &__list-item-quote
        margin-right: 0

    &__textarea
        height: 105px
    

    // Tablet
    +bp-tablet

        &
            padding: 0

            &__check
                position: absolute
                top: 1px
                right: 0

            &__textarea
                height: 175px
            

    // Desktop full
    +bp-desktopFull

        &
            &__head
                width: 630px