/*
 * Блок, выровненный по правому краю
 *
 */


// Объявляем блок
$block: '.b-right'

// Стили
#{$block}
    display: block
    float: right

    .b-answer__lower-panel &
        display: inline-block
        float: none

    +bp-tablet

        &
            .b-answer__lower-panel &
                display: block
                float: right