$block: '.b-relap'

#{$block}
	
	&__rightSideBar
		margin-bottom: 20px

	&__item
		padding-bottom: 16px

		&:after
			display: block
			content: ''
			clear: both
			font-size: 0
			height: 0

		&__link
			display: block
			line-height: 1.6em

		&__media
			display: block
			width: 75px
			height: 55px
			overflow: hidden
			float: left

		&__img
			width: 100%

		&__title
			display: block
			width: calc(100% - 95px)
			float: right
			margin-top: -5px

	&__name
		+font(17px)
		margin: 0 0 15px
		font-family: $f-serif
		font-weight: bold
		font-style: italic

	&_underMaterial
		padding: 0 20px

		+bp-tablet

			&
				padding: 0

		#{$block}

			&__body
				padding: 20px
				background-color: $today-bg-color

				&:after
					display: block
					clear: both
					height: 0
					font-size: 0
					content: ''

			&__item
				border-top: 1px solid $border-color
				padding-top: 16px
				padding-bottom: 0
				margin-bottom: 20px
				+font(13px)

				&:nth-child(-n+3), &:nth-last-of-type(-n+3)
					font-weight: bold

				&:nth-child(n+4)
					
					.b-relap__item__media
						display: none

					.b-relap__item__title
						width: 100%


				&:nth-child(n+10)
					
					.b-relap__item__media
						display: block

					.b-relap__item__title
						width: calc(100% - 95px)


				&:first-child
					border: none
					padding-top: 0

				&:last-child
					margin-bottom: 0

			+bp-tablet

				&

					&__item

						&:nth-child(n+4)
							float: left
							width: calc(50%)
							border-bottom: none
							border-top: 1px solid $border-color
							padding-left: 10px

						&:nth-child(4), &:nth-child(6), &:nth-child(8)
							clear: both
							padding-left: 0
							padding-right: 10px

						&:nth-child(n+10)
							width: 100%
							float: none
							clear: both
							padding-left: 0

			+bp-tabletLandscape

				&

					&__body
						padding: 30px

					&__item
						+font(14px)

						&:nth-child(n+4)
							+font(13px)
						
						&:nth-child(n+10)
							+font(14px)

						&:nth-child(-n+3), &:nth-last-of-type(-n+3)
							float: left
							width: calc(100% / 2.923)
							border-top: none
							padding-top: 0
							padding-left: 20px
							clear: none
							
							#{$block}
								
								&__item

									&__media
										display: block
										width: 100%
										height: 123px
										margin-bottom: 20px

									&__title
										display: block
										width: 100%

						&:first-child, &:nth-last-of-type(3)
							clear: both
							width: calc(100% / 3.257)
							padding-left: 0

						&:nth-last-of-type(-n+3)
							padding-top: 20px
							margin-bottom: 0
							border-top: 1px solid $border-color

			+bp-desktopFull

				&

					&__item

						&:nth-child(-n+3), &:nth-last-of-type(-n+3)

							#{$block}

								&__item

									&__media
										height: 167px

						&:nth-child(4), &:nth-child(6), &:nth-child(8)

							#{$block}

								&__item

									&__media
										display: block
									
									&__title	
										width: calc(100% - 95px)

						&:nth-child(5), &:nth-child(7), &:nth-child(9)

							#{$block}

								&__item

									&__media
										display: block
										float: right
									
									&__title	
										width: calc(100% - 95px)
										float: left





	