/*
 * Пост комментария
 * 
 */

// Объявляем блок
$block: '.b-post'

// Стили
#{$block}
    +font(14px)

    &__row
        margin-bottom: 10px
        position: relative
        overflow: hidden

    &__row_type_person
        padding-right: 40px

    &__face
        display: none

    &__image
        width: 30px

    &__description
        overflow: hidden

    &__name
        font-weight: bold

    &__name-date
        font-weight: normal

        margin-left: 10px
        color: $comment-color

    &__like
        position: absolute
        top: 0
        right: 0

    &__like-qty
        color: $comment-color

    &__like-icon.is-active + &__like-qty
        color: $black
    

    // Tablet
    +bp-tablet

        &
            &__face
                margin-right: 10px
                float: left
                display: block

            &__name
                +font(13px)
                padding-top: 5px

            &__like
                top: 5px


    // Desktop
    +bp-desktop

        &
            +transition

            &__like
                cursor: pointer
                +opacity(0)
                +transition

            &__like_active
                +opacity(1)

            &:hover
                +transition

            .b-post__like
                +opacity(1)
                +transition