/*
 * Блок ленты акцентов
 *
 */


// Объявляем блок
$block: '.b-feed-accents'

$b-accents: '.b-accents'

// Стили
#{$b-accents}


    // Модификаторы

    &_showcase
        #{$block}
            &__img
                margin: 0 auto

    &_header

        #{$block}
            &__date
                display: inline

                margin-right: 3px

                +font(13px)
                font-weight: bold


            &__subtitle
                display: inline

            &__media
                width: 100px
                margin-right: 25px

                float: left
            &__img
            	width: 100px
    &_views

        #{$block}
            &__media
                position: absolute
                bottom: 0

                width: 50px
                height: 50px

                overflow: hidden

                +rounded-corners(50%)

            &__subtitle
                position: relative

                font-style: italic
                font-family: $f-serif

                padding: 32px 0 6px 0

                &:before
                    content: '“'

                    +font(62px)
                    position: absolute
                    top: 7px
                    left: 50%

                    margin-left: -26px

                    font-family: $f-serif
                    font-style: italic

                    line-height: 0.6em
                    color: $link-color

                    +opacity(0.4)

        // Tablet
        +bp-tablet

            &

            #{$block}
                &__subtitle
                    padding-top: 45px

                    &:before
                        +font(92px)

        // Tablet landscape
        +bp-tabletLandscape

            &

            #{$block}
                &__subtitle
                    padding-top: 54px

                    &:before
                        margin-left: -44px

        // Desktop
        +bp-desktop

            &

            #{$block}
                &__media
                    left: 40px

                &__subtitle
                    padding-top: 0

                &__subtitle:before
                    left: -16px


    &_projects
        #{$block}

            &__img
                width: 100%
                display: block
                position: relative
                z-index: -1

                &:after
                    content: ''

                    width: 100%

                    position: absolute
                    z-index: 2
                    top: 0
                    left: 0
                    bottom: 0

            &__media
                background: -webkit-linear-gradient(top, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0) 35%,rgba(0,0,0,0) 100%)
                background: -moz-linear-gradient(top, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0) 35%,rgba(0,0,0,0) 100%)
                background: linear-gradient(to bottom,  rgba(0,0,0,0.6) 0%,rgba(0,0,0,0) 35%,rgba(0,0,0,0) 100%)

            &__date
                display: none



            &__subtitle
                width: 100%
                padding: 12px 20px

                position: absolute
                bottom: 0
                left: 0
                z-index: 3

                background-color: rgba( $time-color, .7 )
                color: $white

                #{$block}
                    &__link:hover
                        color: inherit

    &_showcase-catalog

        #{$block}
            &__img
                width: 310px

        +bp-desktop
            &
                #{$block}

                    &__img
                        width: 300px
        +bp-desktopFull
            &
                #{$block}
                    &__img
                        width: 310px

    &_editor

        #{$block}
            &__link:hover
                color: $link-color

    &_person

        #{$block}
            &__img
                width: 100px

                position: absolute
                top: 0
                bottom: 0
                left: 0

                margin: auto

                display: inline-block

            &__title
                font-family: $f-serif
                font-weight: bold

            &__subtitle
                +font(13px)
                color: $black

            &__date
                display: none

        #{$b-accents}
            &__item:first-child

                #{$block}
                    &__img
                        position: relative
                        width: 100%
                        display: block

                    &__title
                        position: absolute
                        bottom: 0

                        width: 100%

                        padding: 10px 10px 30px 10px
                        color: $white

                    &__subtitle
                        width: 100%

                        padding: 10px 15px

                        color: $white

                        position: absolute
                        bottom: 0
                        background-color: rgba( $time-color, 1 )


        // Tablet landscape
        +bp-tabletLandscape

            &

            #{$b-accents}
                &__item
                    #{$block}
                        &__title
                            +font(14px)

                        &__img
                            top: 45px
                            bottom: initial


                &__item:first-child

                    #{$block}

                        &__img
                            top: 0
















