/*
 * Абстрактный блок стандартных элементов
 * 
 */

// Объявляем блок
$block: '.b'

// Стили
#{$block}

    &__title
        font-family: $f-sans
        margin-top: 40px
        text-transform: uppercase
    &__text
        margin-bottom: 10px
    &__wrapper
        #{$block}
            &__title
                +font(20px)
                margin-top: 20px




