/*
 * Таб-меню
 * 
 */     

// Объявляем блок
$block: '.b-tabs'

// Основной блок
#{$block}
    display: none

    &__body
        font-family: $f-sans
        +font(14px)

        margin-bottom: 20px
        padding: 0
        position: relative

        border-bottom: 1px solid $border-color

    &__item
        font-size: 14px
        margin-right: 35px
        margin-bottom: -1px
        line-height: 32px

        position: relative
        display: inline-block
        vertical-align: middle

        border-bottom: 3px solid transparent

        cursor: pointer
        +transition(left .5s ease)

    // Статические табы
    &__body_static
        margin-bottom: 0
        border: 0

    &__body_static &__item
        margin-bottom: 0

        border-bottom: 3px solid transparent

        &.is-active
            border-color: $red

    .b-menu-mobile &
        display: block

        &__item
            display: block

            &.is-active
                border: none

    // Tablet
    +bp-tablet

        &
            display: inline-block

            &__item
                padding-bottom: 20px
                line-height: normal

                &_mobile
                    display: none