/*
 * Меню рубрик
 * 
 */

// Объявляем блок
$block: '.b-rubricator-menu'

// Стили
#{$block}
    margin-bottom: 20px
    padding: 0 20px

    // Список элементов
    &__list
        // Сдвигаем на величину отступа, чтобы выровнять блок
        margin-left: -10px

    // Элемент рубрики
    &__item
        padding: 10px
        display: inline-block

        vertical-align: top
        cursor: pointer

        &_active
            font-weight: bold

    &__item_active &__link
        color: $black
        text-decoration: none

    .b-account &
        margin-bottom: 0

    +bp-tablet

        &
            padding: 0

            .b-account &
                margin-bottom: 20px