/*
 * Блок следить за сюжетом
 * 
 */

// Объявляем блок
$block: '.b-top-news'

// Стили
#{$block}
    width: 100%
    padding: 0 20px
    clear: both

    &__name
        +font(14px)
        font-weight: bold
        font-family: $f-sans

        margin-bottom: 20px

    &__list
        margin-bottom: 20px

    &__press
        clear: both
        padding: $indent-g-small
        padding-bottom: 0
        margin-bottom: $indent-g-small
        border: 1px solid $border-color

        #{$block}

            &__name
                margin-bottom: 0

                & a
                    color: #1f77bb
                    font-style: italic
                    font-family: $f-serif

        picture
            display: none

        .b-news-rubric__list-item
            padding-top: $indent-g-small/2
            display: block !important

            &-time
                display: none


            &-link
                +font(13px)
                font-family: $f-sans

            &:first-child
                border-top: none
                padding-top: 0

    &__press
        display: none !important

        &[data-alias=sibfo]
            display: block !important


    // Tablet
    +bp-tablet

        &
            padding: 0

            &__list
                overflow: hidden

            &__press
                // display: none

                .b-news-rubric__list-item
                    border-top: none
                    padding-top: 0
                    float: left
                    display: block
                    padding-right: $indent-g-small
                    width: 50%

    // desktop
    +bp-desktop

        &

            &__press
                display: block

                .b-news-rubric__list-item
                    border-top: 1px solid $border-color
                    padding-top: $indent-g-small/2
                    float: none
                    padding-right: 0
                    width: 100%

                    &:first-child
                        border-top: none
                        padding-top: 0
                        margin-top: 0

                .b-sidebar-right &

                    #{$block}

                        &__name
                            +font(17px)
                            margin-bottom: 11px

    // desktop full
    +bp-desktopFull

        &

            &__press

                .b-news-rubric__list-item
                    border-top: 1px solid $border-color
                    padding-top: $indent-g-small/2
                    float: none
                    padding-right: 0
                    width: 100%

                    &:first-child
                        border-top: none
                        padding-top: 0
                        margin-top: 0  

                #{$block}

                    &__name
                        margin-bottom: 11px






