// Объявляем блок
$block: '.b-actual-news'

// Стили
#{$block}
    margin: $indent-g 0

    &__name
        font-style: italic
        +font(17px)
        padding-left: $indent-g-small
        margin-bottom: 0

        & a
            color: #1f77bb

    &__wrapper 
        width: 100%
        padding: $indent-g-small

    &__list
        display: block

    & .b-feed__item
        
        &:nth-child(n+4)
            border-bottom: none

        &:nth-child(n+5)
            // все начиная с 5ого
            display: none


    &__left

        & .b-feed__item
            border-bottom: none
            margin-bottom: 0

            &:nth-child(4)
                margin-top: 10px
                margin-bottom: 10px

                & img
                    width: 100%
                    display: block
                    // max-width: 310px

                & .b-link_title
                    +font(17px)
                    font-weight: bold  
                    // padding-top: 15px 
                    display: block                 

                & .b-feed__date
                    display: none

                & .b-feed-accents__media
                    margin-bottom: $indent-g/2


        & .b-feed__spiegel .b-feed__date
            font-weight: bold
            color: #f26922


    &__right  
        font-family: $f-serif

        & .b-yadirect 
            & + .b-feed__item
                padding-top: $indent-g/2
                border-top: 1px solid #dedede
                margin-top: $indent-g-small/2

        & .b-feed__item
            +font(14px)
            padding-bottom: $indent-g-small/2
            margin-bottom: $indent-g-small/2

            &:first-child
                border-top: 1px solid #dedede
                padding-top: $indent-g-small

            & a.b-link_title, &  img
                display: block

            & .b-feed-accents__media
                display: none

            &:last-child
                border-bottom: none


    // Tablet
    +bp-tablet

        &
            
            &__left
                padding-right: $indent-g/2
                width: 50%

                & .b-feed__item

                    &:nth-child(4)
                        margin-bottom: 0

                        & img
                            max-width: 310px

            &__name
                padding-left: 0
                margin-bottom: $indent-g/2

            & .b-feed__item

                &:nth-child(n+5)
                    // все начиная с 5ого
                    display: inline-block  


            &__wrapper 
                padding: 0
                display: table
                width: 100%

            &__list
                display: table-cell

            &__right
                padding-left: $indent-g/2
                width: 50%

                & .b-feed__item
            
                    &:nth-child(n+4)
                        border-bottom: 1px solid #dedede

                    &:first-child
                        border-top: none
                        padding-top: 0

                    &:nth-last-child(-n+2)
                        border-bottom: none

                    &:nth-last-child(-n+1)
                        // с конца 2 элемента
                        display: none    

    // Landscape
    +bp-tabletLandscape

        &

            &__right

                & .b-feed__item

                    &:nth-child(even)
                        // :nth-child(3n+1) Каждый 3ий
                        // :nth-child(4n+1) Каждый 4ый

                        & .b-feed-accents__media
                            display: block                      

    // Desktop
    +bp-desktop

        & .b-feed__item

            


    // Desktop full
    +bp-desktopFull

        &__left
            width: 40%


        &__right
            width: 60%

            & .b-feed__item

                &:nth-last-child(-n+3)
                    border-bottom: 1px solid #dedede

                &:last-child
                    border-bottom: none

                &:nth-last-child(-n+2)
                    display: inline-block

