/*
 * Блок downloads
 * 
 */


// Объявляем блок
$block: '.b-downloads'


// Стили
#{$block}

    padding-left: 30px
    margin-top: 20px
    margin-right: 100px

    +bp-tabletLandscape
        &
            float: none

    +bp-desktop

        &

            float: right





