/*
 * Заглушка
 *
 */

// Объявляем блок
$block: '.b-dummy'

// Стили
#{$block}

    +font(14px)
    font-family: $f-serif
    font-style: italic
    
    text-align: left

    background-color: $white

    &__name
        color: $red

    &__text
        margin-bottom: 20px

    &__text:last-child
        margin-bottom: 0

    // Модификатор
    .b-account &_empty
        margin: 20px
        padding: 30px
        background-color: $today-bg-color

    // Tablet
    +bp-tablet

        // Модификатор
        .b-account &_empty
            margin: 20px 0


#colorbox

    & #{$block}
        font-family: $f-serif
        padding: 30px
        font-style: italic
        line-height: 1.5
        
        &__name
            color: $red