/*
 * Стили для брендирования в шапке
 *
 */

// Объявляем блок
$block: '.b-branding-head'

$id: 'russianadovidet'

// Стили
#{$block}

    &__media
        margin-bottom: 20px
        padding-bottom: 35%

        background: url(#{$img-path}custom/sujets/#{$id}/branding_tabletLandscape.jpg) no-repeat 0 0
        background-size: contain

    // Tablet 
    +bp-tablet

        &
            &__media
                height: 169px
                margin-bottom: 0
                padding-bottom: 0

    // Tablet landscape
    +bp-tabletLandscape

        &

            &__media
                height: 224px

    // Desktop
    +bp-desktop    

        &
            margin-top: 0

            &__media
                height: 276px
                background: url(#{$img-path}custom/sujets/#{$id}/branding_desktop_name.png) no-repeat center center, url(#{$img-path}custom/sujets/#{$id}/branding_desktop.jpg) no-repeat -360px 0


    // Desktop
    +bp-desktopFull

        &

            &__media
                background-position: center center, 0 0

// Стилизуем бекграунд
+bp-desktop

    body
        background: url(#{$img-path}custom/sujets/#{$id}/bg.jpg) no-repeat 1240px 0

+bp-desktopFull

    body
        background-position: 1700px 0