$block: '.b-media'

#{$block}
    background-color: $white
    padding: 0 20px
    overflow: hidden

    .slick-track
        background-color: $white

    .slick-list
        overflow: visible
        
    &__list-item
        position: relative
        display: block
        overflow: hidden

        &:before
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 100%
            content: ''
            background-color: rgba(29,37,62,.35)
        
        & > img
            display: block
            width: 100%
            // position: absolute
            // top: -100%

        &:nth-child(n + 5)
            display: none

        &:hover
            #{$block}-full__description
                padding: 0 20px
                display: -webkit-box
                display: -moz-box
                display: -ms-flexbox
                display: -webkit-flex
                display: flex
                -webkit-align-items: center
                -moz-align-items: center
                -ms-align-items: center
                align-items: center

            .b-icon
                display: none

    .b-icon
        position: absolute
        top: 50%
        margin-top: -29px
        width: 66px
        height: 58px
        background: url(#{$img-path}custom/projects/hockey2016/hockeyMedia.png) 0 0 no-repeat 
        display: block
    
    #{$block} 
        &__icon-photo
            left: 50%
            margin-left: -33px
            background-position: 0 0

        &__icon-video
            width: 132px
            left: 50%
            margin-left: -66px
            background-position: 0 0

            &:only-of-type
                width: 66px
                background-position: -69px 0
                margin-left: -33px

    &__icon-video + &__icon-photo
        display: none


    &__list-item + &__list-item
        margin-top: 20px

    // &__list-item-action,
    &__list-item-time,
    &__list-item-text,
    &-full__description,
    &-full picture
        display: none

    &-full__description
        margin: 0
        +font(16px)
        text-align: center
        position: absolute
        top: 0
        left: 0
        margin: auto
        width: 100%
        height: 100%
        background-color: rgba(29,37,62,1)
        color: $white

    +bp-tablet

        &
            // width: 50%
            width: 100%
            margin: 0 auto 30px
            padding: 0 30px
            overflow: visible

            &:after
                display: block
                clear: both
                height: 0
                content: ''
                font-size: 0

            &__list-item
                margin: 0
                width: calc(50% - 15px)
                margin-right: 15px
                float: left

                &:nth-child(n + 3)
                    display: none

            &__list-item + &__list-item
                margin-right: 0
                margin-left: 15px
                float: right
                margin-top: 0


    +bp-tabletLandscape

        &
            // width: 75%

            &__list-item
                margin: 0
                width: calc(25% - 23px)
                margin-right: 15px
                float: left

                // & > img
                //     position: absolute
                //     top: -100%

                &:nth-child(n + 3)
                    display: block

                &:nth-child(n + 5)
                    display: none

            // &-full
            //     display: block

            //     & picture
            //         display: block

            //     & img
            //         width: 100%
            //         display: block

            &__list-item + &__list-item
                margin-right: 15px
                margin-left: 15px
                float: left
                margin-top: 0

                &:nth-child(n + 4)
                    margin-right: 0

    +bp-desktop

        &
            width: 100%
            overflow: hidden
            padding-bottom: 30px
            margin-bottom: 0

            &__list-item
                // margin: 0 15px   

                & > img
                    position: absolute
                    top: -100%  

            &-full
                display: block

                & picture
                    display: block

                & img
                    width: 100%
                    display: block                                   
