/*
 * Абстрактный блок ненумерованного списка
 * 
 */

// Объявляем блок
$block: '.b-ul'

// Стили
#{$block}
	&__item
		+font(14px)
		padding-left: 15px
		margin-bottom: 10px

		&:before
			background-color: $black

	&__list
		margin-bottom: 20px

	+bp-tablet
		float: left
		overflow: hidden
		padding-right: 30px

	+bp-desktop
		width: 50%










