/*
 * Шапка ленты контента
 * 
 */

// Объявляем блок
$block: '.b-list-head'

// Основной блок
#{$block}
    border-bottom: 1px solid $border-color
    margin-top: 0
    // Tablet
    +bp-tablet

        &
            width: 100%

    // Tablet landscape
    +bp-tabletLandscape

        &
            width: 100%

    // Desktop
    +bp-desktop

        &
            width: 100%

    // Desktop full
    +bp-desktopFull

        &
            width: 100%
