/*
 * Изображение в материале
 * 
 */

// Объявляем блок
$block: '.b-material-img'

// Стили
#{$block}
    max-width: 100%
    margin-bottom: 20px
    
    display: inline-block
    position: relative

    &__title
        +font(13px)

        padding: 5px 10px
        
        position: absolute
        bottom: 0

        color: $white
        letter-spacing: 0
        
        background: rgba($black, .7)

    &__img
        width: auto
        max-width: 100%
        vertical-align: top

    // Tablet landscape
    +bp-tabletLandscape

        &,
        .article-img__pic
            max-width: 850px
            width: 100%

// Вставка бильдами через редактуру
.article-img
    max-width: 100%
    margin-bottom: 20px

    display: inline-block
    position: relative

.article-img__pic
    max-width: 100%
    
    display: inline-block
    position: relative

.article-img__pic img
    width: auto
    max-width: 100%
    vertical-align: top

.article-img__info__text
    font-family: $f-sans

.article-img__info,
.article-img__infograph__text
    +font(13px)
    width: 100%

    padding: 5px 10px
    
    position: absolute
    bottom: 0

    color: $white
    letter-spacing: 0
    
    background: rgba($black, .7)

// Если инфографика, отбиваем подпись после картинки
.article-img_infograph:not(.article-img_f_left) .article-img__info,
.article-img_photo .article-img__info
    position: static    

// Если это документ для скачки
.doc-img_250
	+font(14px)
	width: 240px
	padding: 20px
	background-color: $article-color

// Модификаторы
.article-img_f_left
    margin-right: 20px
    float: left

.article-img_f_right
    margin-left: 20px
    float: right