/*
 * Меню рубрик
 * 
 */

// Объявляем блок
$block: '.b-rubricator-menu'

// Стили
#{$block}
    width: 100%
    +font(14px)
    float: left
    color: $link-color

    &__item
        &_active
            color: $black