/*
 * Блок сквозной ленты новостей
 * 
 */

// Объявляем блок
$block: '.b-news-inner'

// Стили
#{$block}
    +font(13px)

    padding-top: 20px
    // margin: 0 20px 20px
    margin: 0 0 20px

    border-top: 3px solid $time-color

    &_type_article
        padding-top: 0
        padding-bottom: 10px
        
        border-bottom: 1px solid $border-color
        border-top: 0

    &_type_article &__title
        +font(14px)
        font-family: $f-sans
        font-weight: bold

    &_type_article &__list-item
        margin-bottom: 10px
        padding-bottom: 0
        
        border-bottom: 0

    &_type_sidebar
        padding-bottom: 0
        border-bottom: 0

    &_type_viewed
        background-color: $white

    &_type_wide
        width: 100%
        margin: 0
        padding: 0

        border: 0

    &_type_wide &__list
        padding: 20px

    &_type_wide &__title
        +font(14px)
        font-family: $f-sans
        font-weight: bold

        padding: 15px 20px

        border-bottom: 1px solid $border-color

    &__list
        overflow: hidden

    &__list-name
        +font(17px)
        font-style: italic
        margin-bottom: 20px

        &_interviews
            color: $red

    &__list-item
        width: 100%
        margin-bottom: 20px

        padding-left: 20px
        padding-right: 20px
        padding-bottom: 20px

        position: relative
        
        display: inline-block
        vertical-align: top
        
        border-bottom: 1px solid $border-color

        z-index: 1

        //+transition

        &:last-child
            margin-bottom: 0

    &__list-item-date
        //margin-bottom: 5px
        margin-bottom: 10px
        display: inline-block

        color: $comment-color

    &__list-item_type_important &__list-item-date
        padding-left: 23px
        position: absolute

    &__list-item_type_important &__list-item-date ~ &__list-item-wrapper,
    &__list-item_type_important &__list-item-date ~ &__list-item-image-wrapper
        //padding-top: 24px
        padding-top: 29px

    &__list-item-time
        margin-bottom: 5px
        color: $comment-color

    &__list-item_type_important &__list-item-wrapper
        padding-left: 20px
        border-left: 3px solid $red

    &__list-item-image-wrapper
        max-width: 200px
        margin: 0 0 0 15px
        float: right
        display: none

    &__list-item-image
        width: 100%
        height: auto  

    &__list-item-title
        +font
        margin-top: -4px
        margin-bottom: 6px

        line-height: 1.3em

    &__list-item.is-read &__list-item-title
        color: $is-read-color

    &__list-item-text
        margin-bottom: 5px

    &__list-item-tags
        margin-top: 5px
        color: $comment-color

    &__list-item-edition
        margin-top: 5px
        color: $comment-color

    &__list-item-edition_type_image
        display: none

    &__reload
        margin-bottom: 20px

    &__reload-text
        color: $comment-color

    &__action
        margin: 10px 0 20px
        text-align: center

        +transition(opacity .3s ease)

        .has-loading &
            +opacity(.7)
        
        &_btn
            cursor: pointer

            &:before
                content: ''
                width: 20px
                height: 20px
                margin: auto

                position: absolute
                top: 0
                right: 0
                bottom: 0
                left: 0

                background: url($spinner) no-repeat center center transparent
                background-size: contain!important

                +opacity(0)
                +transition(opacity .3s ease)

            .has-loading &
                position: relative
                color: transparent
                pointer-events: none

                &:before
                    +opacity(1)

            &.has-hidden
                display: none


    // Тип материала
    // Документ, статья
    &__material-type
        margin-right: 20px
        margin-bottom: 12px
        display: inline-block

        color: $comment-color

    //&__banners
        //text-align: center

    // Tablet
    +bp-tablet

        &
            margin: 0 0 20px
            padding-top: 25px

            &__list-item
                padding-left: 0
                padding-right: 0

            &_type_article
                padding-top: 0

            &_type_article &__title
                margin-bottom: 20px

            &_type_article &__list
                margin-left: -20px

            &_type_article &__list-item
                width: 230px
                margin-left: 20px

                display: inline-block
                vertical-align: top

            &_type_wide &__title
                +font
                font-weight: normal

                margin-bottom: 0
                border-bottom: 2px solid $black

            &_type_wide &__list
                padding: 0

            &_type_wide &__list-item
                margin-bottom: 0
                padding: 20px 20px 20px 80px
                position: relative

            &_type_wide &__list-item-time
                position: absolute
                top: 17px
                // left: 20px
                padding-left: 10px
                left: 0

            &_type_viewed
                margin: 0
                padding-top: 0px

            &_type_viewed &__list
                //height: 452px
                margin: 0

            &_type_attention
                width: 635px
                margin-bottom: 0
                padding-top: 0
                background-color: $white

            &_type_attention &__title
                padding: 17px 20px

            &__list-item_type_new
                background-color: $yellow

            &__list-item-image-wrapper
                display: block

            //&__banners-item
                //margin: 0 5px

            &__reload
                margin-bottom: 26px
            

    // Tablet landscape
    +bp-tabletLandscape

        &

            &_type_article &__list-item
                width: 310px

            &__list-item
                padding-bottom: 17px

            &__list-item-edition
                display: none

            &__list-item-edition_type_image
                max-width: 210px
                display: block
                text-align: right

            &__list-item-text
                line-height: 1.6em

            //&__banners-item
                //margin: 0 2px
            

    // Desktop
    +bp-desktop

        &
        
            &__action
                margin: 10px 0 30px


    // Desktop Full
    +bp-desktopFull

        &

            &__list-item-date
                top: -4px
                position: absolute
                display: block
                max-width: 80px

                // Если на странице поиска
                .l-main-content__item_search-page &
                    top: 0

            &__material-type
                margin-left: 84px

            &__list-item_type_important &__list-item-date
                padding-left: 0

            &__list-item-date ~ &__list-item-wrapper
                margin-left: 84px

            &__list-item_type_important &__list-item-date ~ &__list-item-wrapper,
            &__list-item_type_important &__list-item-date ~ &__list-item-image-wrapper
                padding-top: 0


// .b-list-wrapper_catalog

//     #{$block}
//         border-top: none



