/*
 * Стрелки
 *
 */


// Объявляем блок
$block: '.b-arrow'

// Стили
#{$block}
    display: inline-block
    width: 10px
    height: 16px
    background: url("#{$img-path}sprite_main.png") no-repeat
    vertical-align: middle
    &:hover
        opacity: 0.5

    &_prev
        background-position: -70px -32px
        margin-right: 10px

    &_next
        background-position: -80px -32px
        margin-left: 10px

    &_disabled
        opacity: 0.5
        display: none

    +bp-retina
        background: url("#{$img-path}sprite_main_2.png") no-repeat