/*
 * Лента новостей рубрик
 *
 */

// Объявляем блок
$block: '.b-news-rubric'

// Основной блок
#{$block}
    &__list-item-time
        display: none

    &__list-item-link
        font-family: $f-sans


    +bp-tabletLandscape
        &__list-item.is-tablet
            display: block!important