/*
 * Меню рубрик
 * 
 */

// Объявляем блок
$block: '.b-rubricator-menu'

// Стили
#{$block}
	padding-left: 0
	&__item
		color: $link-color

	&__item_active
		color: $black

	+bp-tablet
		margin-bottom: 25px

