/*
 * Новые документы
 * 
 */

// Объявляем блок
$block: '.b-docs'

// Стили
#{$block}
    +font(13px)

    margin: 0 20px 20px
    padding: 15px 30px 10px 20px

    position: relative
    line-height: 1.6em
    
    border: 2px solid $border-color
    border-top: 0
    border-right: 0

    // Декоративные бордеры
    // Правый
    &:before
        content: ''

        position: absolute
        top: 30px
        right: 0
        bottom: 0

        border-right: 2px solid $border-color

    // Верхний
    &:after
        content: ''

        position: absolute
        top: 0
        left: 0
        right: 30px

        border-top: 2px solid $border-color

    // Подчеркивание ссылки на ховере
    &__link:hover
        text-decoration: underline


    &__name
        +font(15px)
        font-style: italic
        font-weight: bold

        margin-bottom: 27px

    &__list
        // inline-block fix
        font-size: $f-sz-zero
        letter-spacing: 0

    &__item
        margin: 0 0 10px 40px
        position: relative

        // inline-block fix
        +font(13px)
        letter-spacing: $letterSpacingDefault

        // Картинка документа
        &:after
            content: ''
            
            width: 30px
            height: 40px

            position: absolute
            top: 1px
            left: -40px
            background: url(#{$img-path}sprite_main.png) 0 -90px no-repeat

    &__title
        margin-bottom: 2px

    &__date
        color: $comment-color

    &__link
        font-weight: bold

    // Обертка, нужна для декоративного элемента
    &__wrapper

        // Декоративный элемент
        // В виде загнутого уголка
        &:after
            content: ''

            background: url(#{$img-path}sprite_main.png) -60px -90px no-repeat
            position: absolute
            top: 0
            right: -8px
            width: 40px
            height: 40px

    // Если в сайтбаре
    // Удалил за ненадобностью
    // &_sidebar

    // Если в статье врезкой
    // ПОКА НЕ ИСПОЛЬЗУЕМ И ВСЕ СТИЛИ ВЫКЛЮЧАЕМ

    //&_article
        //+font(14px)
        //font-weight: bold
        //margin: 0 0 20px

    //&_article &__list-item
        //margin: 0 0 10px 0
        //&:after
            //content: ''
            //left: -50px
            //display: none
            //background: url(#{$img-path}sprite_main.png) -30px -90px no-repeat


    // Tablet
    +bp-tablet

        &
            margin: 0 0 25px

            &__name
                margin-bottom: 21px

            &__list
                margin-left: -34px

            &__item
                width: 200px
                margin-left: 34px
                display: inline-block
                vertical-align: top

                &:after
                    display: none

            // ПОКА НЕ ИСПОЛЬЗУЕМ И ВСЕ СТИЛИ ВЫКЛЮЧАЕМ
            //&_article
                //padding: 30px 40px 20px 20px

            //&_article &__list-item
                //width: auto
                //margin: 0 0 10px 70px
                //&:after
                    //display: block
            

    // Tablet landscape
    +bp-tabletLandscape

        &
            padding: 20px 30px 10px 20px

            &__list
                margin-left: -40px

            &__item
                width: 238px
                margin-left: 80px

                &:after
                    display: block

            // ПОКА НЕ ИСПОЛЬЗУЕМ И ВСЕ СТИЛИ ВЫКЛЮЧАЕМ
            //&_article
                //+font(15px)
                //padding: 30px 40px 20px 20px

            //&_article &__list
                //margin-left: -20px
            

    // Desktop
    +bp-desktop

        &
            &__name
                +font(17px)

            &__list
                margin-left: 0

            &__item
                width: 220px
                margin-left: 40px

            // Вообще не нужен
            //&_type_sidebar
                //width: 100%
            

    // Desktop full
    +bp-desktopFull

        //&
            // ПОКА НЕ ИСПОЛЬЗУЕМ И ВСЕ СТИЛИ ВЫКЛЮЧАЕМ
            //&_article &__list-item
                //margin: 0 110px 10px 180px


    // Retina
    +bp-retina
    
        &
        
            &__item

                &:after
                    background: url(#{$img-path}sprite_main_2.png) 0 -90px no-repeat
                    background-size: $retina-icon-width

            &__wrapper

                &:after
                    background: url(#{$img-path}sprite_main_2.png) -60px -90px no-repeat
                    background-size: $retina-icon-width

            // ПОКА НЕ ИСПОЛЬЗУЕМ И ВСЕ СТИЛИ ВЫКЛЮЧАЕМ
            //&_article &__list-item
                //&:after
                    //background: url(#{$img-path}sprite_main_2.png) -30px -90px no-repeat
                    //background-size: $retina-icon-width
            