/*
 * Всплывающая карта проезда
 *
 */

// Объявляем блок
$block: '.karta-proezda-ctx'

// Стили
#{$block}

    #cboxContent
        padding: 40px 20px

    #cboxTitle
        +font(16px)
        top: 8px
        left: 20px