$block: '.b-menu'

#{$block}
    text-align: center

    &__mobile-link
        display: block
        float: right
        width: 20px
        height: 16px
        position: relative

        span
            display: block
            margin-top: 33px
            height: 17px
            content: ''
            border-top: 10px double #fff
            border-bottom: 3px solid #fff

    &__overlay
        display: none

    &__colorbox

        &#colorbox #cboxLoadedContent
            background: rgba(47,38,93,1) url(#{$img-path}custom/projects/football/mobilemenubg.png) 0 0 
            text-align: center

            &:before
                content: ''
                display: block
                height: 50px
                border-bottom: 2px solid rgba(255,255,255,.3)

        & #{$block}

            &__link
                color: $white
                display: block
                width: 240px
                margin: 0 auto
                padding: 20px 0
                border-bottom: 1px solid rgba(255,255,255,.3)

                &:hover:before
                    display: none

                &:first-child

    &__link
        display: inline-block
        position: relative
        +font(16px)
        text-transform: uppercase
        margin: 0 1%
        color: #fff
        font-weight: bold
        overflow: hidden


        &:after
            display: none
            width: 100%
            height: 4px
            content: ''
            position: absolute
            bottom: 0
            left: 0   
            background: $green

        &:before
            display: none
            width: 90px
            height: 22px
            content: ''
            position: absolute
            bottom: 0
            left: 50%
            margin-left: -45px   
            background: url(#{$img-path}custom/projects/euro/euroSprite.png) -9px 0 no-repeat 

        &:hover
            color: $green      

            &:after, &:before
                display: block

    &__body

        & > #{$block}__link
            display: none

    +bp-tabletLandscape

        &
            //margin-left: 246px
            &__link
                +font(15px)

            &__mobile-link
                display: none

            &__body

                & > #{$block}__link
                    display: inline-block

    +bp-desktop

        &

            &__link
                +font(16px)
                margin: 0 1%


    +bp-desktopFull

        &

            &__link
                margin: 0 3%




