/*
 * Статья
 *
 */

// Объявляем блок
$block: '.b-article'

// Стили
#{$block}

    &__title
        font-size: 22px
        margin-bottom: 20px

    &__paragraph
        margin-bottom: 20px
        line-height: 22px