/*
 * Низ шапки
 *
 */
// Объявляем блок
$block: '.b-menu'

// Переменные

// Стили
#{$block}

    display: flex
    justify-content: space-between
    height: 1px // фикс для старых айфонов, без него под заголовком "Юридическая консультация" в шапке появляется лишний отступ

    &__section
        display: inline-block
        position: relative
        &_right
            position: absolute
            top: 15px
            right: 20px
            padding-top: 5px

    &__mobile
        background: $white
        position: absolute
        width: 100%
        display: none

    // Tablet
    +bp-tablet

        &
            padding-top: 25px
            height: auto // добавлено, чтобы нейтрализовать свойство, объявленное для мобильников (height: 1px)

            &__section

                &_right
                    position: static
                    margin-top: -10px

    +bp-desktop

        &
            padding-top: 20px