/*
 * Шапка сайта
 *
 */
// Объявляем блок
$block: '.b-main'

// Переменные

// Стили
#{$block}
    position: relative

    &_users

        &.has-loading
            opacity: 0.5
            
    // Tablet
    +bp-tablet

        &
            display: inline-block
            padding: 0
            width: 450px
            margin: 0 0 0 20px

    // Tablet landscape
    +bp-tabletLandscape

        &
            width: 640px
            margin: 0 0 0 30px

    // Desktop
    +bp-desktop

        &
            width: 640px
            margin: 0 30px

    // Desktop full
    +bp-desktopFull

        &
            width: 710px
            margin: 0 30px