/*
 * Белые рамки у полей
 *
 */

.b-header:before

    +bp-desktop

        &
            padding-top: 1px

.b-content:before,
.b-list-head:before,
.b-material-head:before

    +bp-desktop

        &
            top: 493px
            left: 0

            padding-right: $indent-g

.b-header:before,
.b-content:before,
.b-list-head:before,
.b-material-head:before

    +bp-desktop

        &
            content: ''

            width: 100%
            height: 100%
            
            position: absolute
            z-index: -1

            background-color: $white
            
            +box-sizing(content-box)