/*
 * Блок юриста
 *
 */


// Объявляем блок
$block: '.b-jurist-block'

// Стили
#{$block}
    margin-bottom: 30px
    padding: 20px 20px 10px

    &__body
        display: inline-block
        vertical-align: top
        width: calc(100% - 140px)
        margin-left: 15px
        line-height: 30px

        &_feed
            width: 100%
            margin: 15px 0 0 0
            padding-bottom: 10px

        &_top
            width: calc(100% - 65px)
            padding: 10px 0 0 10px
            margin-left: 0
            line-height: 20px

        &_list
            width: 100%
            margin-left: 0
            text-align: center

        &_profile
            width: 100%
            margin-top: 15px
            margin-left: 0
            margin-bottom: 6px

    &__title
        +font(18px)
        font-family: $f-sans
        font-weight: bold
        line-height: 24px
        margin: -7px 0 10px 0

        &_sidebar
            +font(13px)
            width: calc(100% - 65px)
            display: inline-block
            vertical-align: middle
            padding-left: 5px
            margin-bottom: 0
            line-height: 20px

        &_top
            +font(13px)
            display: inline-block
            vertical-align: top
            margin-bottom: 0
            line-height: 21px

        &_profile
            margin-left: 15px
            max-width: 55%
            display: inline-block
            vertical-align: middle

    &__last-name
        margin-bottom: 10px
        &_feed
            margin-bottom: 0

    &__index
        margin-top: 10px
        text-align: left

        &_profile
            display: block

        &_top
        	margin-top: 0

    &__info
        text-align: left
        line-height: 22px
        margin-bottom: 8px

        &:last-child
        	margin-bottom: 4px

        &_feed
        	line-height: 20px
        	margin-bottom: 10px


        &_inline
            display: inline-block
            &:first-child
                margin-right: 40px

        &_top
            color: $light-grey

        &_bio
            line-height: 22px
            margin-bottom: 20px

    &__info-title
        font-weight: bold

        &_block
            display: block

    &_list,
    &_profile
        background: $today-bg-color

    &_profile
        padding-bottom: 20px
        margin-right: -20px
        margin-left: -20px

    &_feed
        +font(13px)
        width: 100%
        margin-bottom: $indent-v-el
        border-bottom: 1px solid $border-color
        padding: 0

        &:last-child
            margin-bottom: 0
            padding-bottom: 0
            border-bottom: 1px solid transparent

            & .b-jurist-block__body_feed
            	padding-bottom: 0

            	& .b-jurist-block__info_feed

            		&:last-child
            			margin-bottom: 0

    &_top
        +font(13px)
        padding: 0
        margin-bottom: 25px

        &:last-child
            margin-bottom: 0

    &__bio
    	margin-top: 8px

    +bp-tablet

        &

            &__body

                &_list
                    width: calc(100% - 140px)
                    margin-left: 15px
                    text-align: left

            &_profile
                margin-right: 0
                margin-left: 0

    +bp-tabletLandscape

        &

            &__body

                &_profile
                    width: calc(100% - 175px)
                    margin-top: 0
                    margin-left: 15px

            &__index

                &_profile
                    display: inline-block

            &__title
                +font(22px)
                line-height: 30px

                &_sidebar
                    +font(13px)
                    line-height: 20px

                &_top
                   +font(13px)
                   line-height: 21px