/*
 * Статическая страница
 *
 */

// Объявляем блок
$block: '.b-static-wrapper'
$b-link: '.b-link'


// Основной блок


// Убрать когда будут табы

.b-rubricator-menu
    padding: 0
.l-page_promo
    margin-top: 100px
    +bp-tablet
        margin-top: 0
.is-page
    display: none


#{$block}
    #{$b-link}
        display: inline-block





