$block: '.b-interview'

#{$block}
    width: 100%
    color: $black
    margin: $indent-g 0
    
    &__name
        font-family: $f-sans
        font-weight: bold
        +font(18px)
        padding-bottom: $indent-g-small

    &__person-media
        width: 80px
        height: 80px
        +rounded-corners(40px)
        float: left
        margin-right: $indent-g-small

        img
            display: block
            width: 80px
            height: 80px

    &__info
        padding-left: 100px
        padding-right: $indent-v-block

    &__person-title, &__accent-title
        +font(15px)
        font-weight: bold
        padding-bottom: $indent-v-block/3
        font-family: $f-serif

    &__item
        display: block
        padding-bottom: $indent-v-block
        vertical-align: top

    &__person-text, &__accent-text
        +font(13px)
    

    &__accent
        padding-left: $indent-g-small
        border-left: 3px solid #e01d42

    &__accent-text
        color: #333

    // Tablet
    +bp-tablet

        &
            

    // Tablet landscape
    +bp-tabletLandscape

        &
            

    // Desktop
    +bp-desktop

        &

            &__item
                display: inline-block
                width: 50%
            

    // Desktop full
    +bp-desktopFull

        &
            