// Глобальные переменные и служебные функции
@import ../../../common

// Normalize
@import ../../../global/normalize

// Инструменты
@import ../../../global/instruments

// Элементы
@import ../../../global/elements

// Иконки
@import ../../../global/blocks/b-icon

// формы
@import ../../../global/blocks/b-field

// Ссылки
@import ../../../global/blocks/b-link

// Модификаторы для блоков и элементов
@import ../../../global/modify

// Стили версии для печати
@import ../../../global/print


/*
 * Переменные
 *
 */

.b-news__direct .adfox_item
    // position: absolute !important
    top: 0
    left: 0
    right: 0
    bottom: 0
    margin: auto

    & > div[id^="AdFox_banner"]
        margin-top: 0 !important
        height: auto !important

    & iframe
        margin: 0

h1, h2, h3, h4, h5, h6
    font-family: $f-sans

//$width-wrapper-mobile: 100% 
//$width-wrapper-tablet: 490px 
//$width-wrapper-tabletLandscape: 650px 
//$width-wrapper-desktop: 970px 
//$width-wrapper-desktopFull: 1330px

$id_prject: 'hockey'

$dark-blue: #1c263f
$cyan: #00bdd3
$red: #d11445
$light-blue: #1f77bb

body
    background: url(#{$img-path}custom/projects/hockey/h2016_back.jpg) 50% 50px no-repeat 
    background-size: 200%

    +bp-tablet
        background-position: 50% 0

    +bp-tabletLandscape
        background-size: inherit

.page

    &_project-article
        padding: 20px
        background-color: white

    +bp-tablet

        &
            padding: 0 20px

            &_project-article
                margin-left: auto
                margin-right: auto

                padding-left: 60px
                padding-right: 60px

    +bp-desktop

        &
            width: 1220px
            margin: 0 auto

            &_project-article
                margin-left: auto
                margin-right: auto
                
                padding: 30px


    +bp-desktopFull
        &
            width: 1390px

.section-article

    .b-broadcast-sport__info
        // width: calc(100% - 60px)    

    .b-broadcast-sport__menu, .b-broadcast-sport__menu.is-fixed
        // width: calc(100% - 48px)
        top: 0

    .b-broadcast-sport
        margin-right: -20px

    +bp-tablet

        &
            width: calc(100% - 240px)
            padding-right: 30px
            float: left
            margin: 30px 0

            .b-broadcast-sport
                margin-right: 0px

    +bp-tabletLandscape

        &
            width: calc(100% - 310px)

    +bp-desktop

        &
            width: calc(100% - 360px)
            padding-right: 60px

.team-flag
    width: 150px
    height: 67px
    background: url(#{$img-path}custom/projects/hockey/team_flags.png) 0 0 no-repeat

    &_belarus
        background-position: 0 0

    &_canada
        background-position: 0 -67px

    &_czech-republic
        background-position: 0 -134px

    &_denmark
        background-position: 0 -201px

    &_finland
        background-position: 0 -268px

    &_france
        background-position: 0 -335px

    &_germany
        background-position: 0 -402px

    &_hungary
        background-position: 0 -469px

    &_kazakhstan
        background-position: 0 -536px

    &_latvia
        background-position: 0 -603px

    &_norway
        background-position: 0 -670px

    &_russia
        background-position: 0 -737px

    &_slovakia
        background-position: 0 -804px

    &_sweden
        background-position: 0 -871px

    &_switzerland
        background-position: 0 -938px

    &_usa
        background-position: 0 -1005px


            

/*
 * Глобальные блоки страницы
 * 
 */


/*
 * Блоки
 *
 */

@import ../../../../blocks/custom/projects/hockey/header/b-header/styles/b-header

@import ../../../../blocks/custom/projects/hockey/header/b-menu/styles/b-menu

@import ../../../../blocks/custom/projects/hockey/main/b-schedule/styles/b-schedule

@import ../../../../blocks/custom/projects/hockey/main/b-news/styles/b-news

@import ../../../../blocks/custom/projects/hockey/main/b-scores/styles/b-scores

@import ../../../../blocks/custom/projects/hockey/main/b-goalscorers/styles/b-goalscorers

@import ../../../../blocks/custom/projects/hockey/main/b-media/styles/b-media

@import ../../../../blocks/custom/projects/hockey/main/b-teams/styles/b-teams

@import ../../../../blocks/overlays/b-auth/styles/b-auth

@import ../../../../blocks/crosslayouts/b-social/styles/b-social

@import ../../../../blocks/custom/projects/hockey/footer/b-footer/styles/b-footer

@import ../../../../blocks/main/b-material-wrapper/styles/b-material-wrapper

@import ../../../../blocks/custom/projects/hockey/main/b-material-wrapper/styles/b-material-wrapper

@import ../../../../blocks/main/b-material-head/styles/b-material-head

@import ../../../../blocks/custom/projects/hockey/main/b-material-head/styles/b-material-head

@import ../../../../blocks/crosslayouts/b-share/styles/b-share

@import ../../../../blocks/custom/projects/hockey/crosslayouts/b-share/styles/b-share

@import ../../../../blocks/custom/projects/hockey/crosslayouts/b-feed/styles/b-feed

// Правый сайтбар
@import ../../../../blocks/sidebar/b-sidebar-right/styles/b-sidebar-right

@import ../../../../blocks/custom/projects/hockey/sidebar/b-sidebar-right/styles/b-sidebar-right

// Таб-меню
@import ../../../../blocks/crosslayouts/b-tabs/styles/b-tabs

// Добавил Леха! потом смержим, стили для статьи
@import material 


/*
 * Блоки от Лёхи
 *
 */

@import ../../../../blocks/main/b-read-more/styles/b-read-more
@import ../../../../blocks/main/b-video/styles/b-video
@import ../../../../blocks/main/b-comment/styles/b-comment
@import ../../../../blocks/main/b-post/styles/b-post
@import ../../../../blocks/main/b-gallery/styles/b-gallery
@import ../../../../blocks/main/b-material-img/styles/b-material-img
@import ../../../../blocks/main/b-broadcast-online/styles/b-broadcast-online
@import ../../../../blocks/main/b-broadcast-sport/styles/b-broadcast-sport
@import ../../../../blocks/crosslayouts/b-partners/styles/b-partners

// Абстрактный блок стандартных элементов
@import ../../../global/blocks/b

// Ссылки в виде кнопок
@import ../../../global/blocks/b-link-btn

// Блок раскрыть/скрыть
@import ../../../global/blocks/b-content-toggler

// Блок раскрыть/скрыть
@import ../../../global/blocks/b-content-handler

// Блок абзац p
@import ../../../global/tags/p

// Блок списка ul
@import ../../../global/tags/ul

// Блок таблицы table
@import ../../../global/tags/table

// Блок формы form
@import ../../../global/tags/form

// Правый сайтбар
@import ../../../../blocks/crosslayouts/b-ads/styles/b-ads

/*
 * Стили плагинов и библиотек
 * 
 */ 

// Colorbox
@import ../../../vendors/vendor.colorbox.custom
// Fotorama
@import ../../../vendors/vendor.fotorama.custom