.b-broadcast-sport
    margin-right: -80px
    overflow: hidden

    +bp-tablet

        &
            margin-right: 0

.b-comment
    margin: 30px 0
    padding: 0


.b-news__direct
    padding: 6px 0
    margin-bottom: 0

    .adfox_item
        width: 240px
        margin: 0 auto

    +bp-tablet

        &
            padding: 15px 0

    +bp-tabletLandscape

        &
            padding: 2px

    +bp-desktop

        &
            padding: 2px 0

.b-field__input_submit
    background-color: #00bdd3

.b-field__input_submit:hover
    background-color: lightness(#00bdd3)

