/*
 * Стили для брендирования в шапке
 *
 */

// Объявляем блок
$block: '.b-branding-head'

$id: 'mbfw'

$has-media: '.has-media'

#{$has-media}
    margin-bottom: 20px

// Стили
#{$block}

    &__media
        margin-bottom: 20px
        padding-bottom: 47%

        background: url(#{$img-path}custom/sujets/#{$id}/branding_tabletLandscape.jpg) no-repeat 0 0
        background-size: contain

    // Tablet 
    +bp-tablet

        &
            &__media
                height: 230px
                margin-bottom: 0
                padding-bottom: 0

    // Tablet landscape
    +bp-tabletLandscape

        &

            &__media
                height: 240px

    // Desktop
    +bp-desktop    

        &

            &__media
                height: 426px
                background: url(#{$img-path}custom/sujets/#{$id}/branding_desktop.jpg) no-repeat -385px 0


    // Desktop
    +bp-desktopFull

        &

            &__media
                background-position: 0 0

// Стилизуем бекграунд
+bp-desktop
    #{$block}
        width: 1005px
        margin-left: -30px

    body
        background: url(#{$img-path}custom/sujets/#{$id}/bg.jpg) no-repeat 1245px -17px

+bp-desktopFull
    #{$block}
        width: 1390px
        margin-left: -60px

    body
        background-position: 1700px -17px