$block: '.b-share'

#{$block}

    &:before
        display: none

    & &_ya-share .ya-share2__item .ya-share2__counter
        left: 34px

    & &_ya-share .ya-share2__item .ya-share2__icon
        width: 40px
        height: 40px
        background-size: 304px

    & &_ya-share .ya-share2__item_service_facebook .ya-share2__icon
        background-position: 0 0

    & &_ya-share .ya-share2__item_service_gplus .ya-share2__icon
        background-position: -37px 0

    & &_ya-share .ya-share2__item_service_twitter .ya-share2__icon
        background-position: -74px 0

    & &_ya-share .ya-share2__item_service_vkontakte .ya-share2__icon
        background-position: -113px 0

    & &_ya-share .ya-share2__item_service_odnoklassniki .ya-share2__icon
        background-position: -151px 0

    & &_ya-share .ya-share2__item .ya-share2__icon,
    & &_ya-share .ya-share2__item .ya-share2__icon:hover
        background-color: #1d253e  
    
    .b-material-wrapper + #{$block} &_ya-share
        display: block

        & ul
            text-align: center
            display: block

            & li
                display: inline-block
                margin: 0 5px