/*
 * Инструменты
 *
 */

// Класс отчистки флоат элементов
%group-pseudo
    content: ''
    display: table

.group
    &:before
        @extend %group-pseudo
    &:after
        @extend %group-pseudo
        clear: both


// Визуальное скрытие элемента
%visually-hidden
    width: 1px !important
    height: 1px !important
    padding: 0 !important
    position: absolute !important
    overflow: hidden
    clip: rect(1px 1px 1px 1px) // IE6, IE7
    clip: rect(1px, 1px, 1px, 1px)
    border: 0 !important


// Класс, отмены выделения текста
.noselect
    -webkit-touch-callout: none
    -webkit-user-select: none
    -khtml-user-select: none
    -moz-user-select: none
    -ms-user-select: none
    user-select: none



/*
 * Заготовки для элементов интерфейса
 *
 */

// Текстовый инпут
%text-field
    width: 100%
    margin: 0
    padding: 8px 12px
    // color: $comment-col
    color: #000
    
    border: 1px solid $border-color
    +rounded-corners(2px)

// Кнопка
%button-field
    +font(13px)
    font-weight: bold
    
    padding: 8px 20px
    
    color: $white
    border: 0
    +rounded-corners(2px)

    +transition(background-color .3s ease)

// Миксин кнопки
=button-field($color)
    @extend %button-field
    background-color: $color

    &:hover
        background-color: lighten($color, 10%)

a.disabled
    pointer-events: none