/*
 * Версия для печати
 *
 */

@media print

	.l-page
		margin-top: 0!important
	
	.b-header
		position: static!important

	.b-header__content
		display: block!important

	.b-logo.b-header__content-item
		margin-left: 20px!important
		float: left!important
		display: block!important

	.b-footer__toggle
		border-bottom: 0!important

	.b-ads,
	.b-fast-access,
	
	.b-sidebar-left,
	
	.b-header__info,
	.b-header__menu,
	.b-accents_header,
	
	.b-feed_main-today,
	.b-material-wrapper img,
	.b-read-more,
	.article-img,
	.b-gallery,
	.b-material-sujet,
	.b-material-action,
	.b-material-img,
	.b-comment,
	.b-partners,
	.b-material-read-same,
	.b-yadirect,
	.b-actual-news,

	.b-footer:before,
	.b-footer__toggle-icon,
	.b-footer__vendors,
	.b-footer__links,
	.b-footer__social,
	.b-footer__developer-item_wm,
	.b-footer__developer-item_agima
		display: none!important