// Блок основного контента
// Объявляем блок
$block: '.b-content'

// Стили
#{$block}

    &
        &_promo

    +bp-tablet
        &
            &_promo
                width: 730px

    +bp-tabletLandscape
        &
            &_promo
                width: 930px

    +bp-desktop
        &
            &_promo
                width: 1210px

    +bp-desktopFull
        &
            &_promo
                width: 1330px

