/*
 * Абстрактный блок ненумерованного списка
 * 
 */

// Объявляем блок
$block: '.b-form'

// Стили
#{$block}
    &__title
        +font(14px)
        font-weight: bold

    +bp-tabletLandscape
        display: inline-block
        margin-bottom: 60px








