/*
 * Абстрактный блок ненумерованного списка
 * 
 */

// Объявляем блок
$block: '.b-ul'

// Стили
#{$block}
	+font(14px)
	&__item
		margin-bottom: 10px
		&:before
			background-color: $black
	&__list
		margin-bottom: 20px









