/*
 * Главные новости
 *
 */

/*
 * Кастомизируем дейтпикер
 *  
 */

// Объявляем блоки
$block: '.b-custom-datepicker'

// Стили
#{$block}
    cursor: pointer
    position: absolute
    top: 0
    height: 20px

    &__input
        visibility: hidden

    input.hasDatepicker
        display: none

    .ui-datepicker-trigger
        position: absolute
        top: -8px
        width: 20px
        height: 20px
        background: none
        border: 0
        outline: none

        &:after
            content: ''
            position: absolute
            top: 0
            left: 0
            width: 20px
            height: 20px
            background: url(#{$img-path}sprite_main.png) -20px 0 no-repeat

        &.is-active
            &:after
                background-position: -20px -20px


    &_input

        .ui-datepicker-trigger
            font-size: 0

            width: 20px
            height: 20px

            position: absolute
            top: 5px
            right: 5px
            
            background: none
            border: 0
            outline: none

            &:after
                content: ''
                position: absolute
                top: 0
                left: 0
                width: 20px
                height: 20px
                background: url(#{$img-path}sprite_main.png) -20px 0 no-repeat

            &.is-active
                &:after
                    background-position: -20px -20px


    // Retina
    +bp-retina

        &,
        &_input

            .ui-datepicker-trigger
                &:after
                    background: url(#{$img-path}sprite_main_2.png) -20px 0 no-repeat
                    background-size: $retina-icon-width

                &.is-active
                    &:after
                        background-position: -20px -20px