// Глобальные переменные и служебные функции
@import ../../../common

// Дополнительные элементы для брендинга
@import ../../../branding

.b-content,
.b-list-head,
.b-material-head
    
    +bp-desktop

        &:before
            top: 564px

.b-list-head
    //margin-bottom: 20px!important

.b-list-head__related
    display: none

.b-follow_sujets
    display: none

.b-sidebar-right

    .b-ads iframe,
    .b-ads img
        //margin: 20px 35px

    div[id^="AdFox_banner"]
        //width: 100% !important
        //height: 100% !important
        //overflow: hidden
        //background-color: #f3f3f3

@import ../../../../blocks/custom/sujets/ingushetia/main/b-branding-head/styles/b-branding-head


 

//@import ../../../../blocks/custom/projects/zvezdy_pobedy/sidebar/b-sidebar-right/styles/b-sidebar-right

//@import ../../../../blocks/custom/sujets/9may/crosslayouts/b-vidget/styles/b-vidget

//@import ../../../../blocks/custom/sujets/9may/main/b-news/styles/b-news

//@import ../../../../blocks/custom/sujets/9may/crosslayouts/b-feed/styles/b-feed

//@import ../../../../blocks/custom/projects/zvezdy_pobedy/crosslayouts/b-contacts/styles/b-contacts

//@import ../../../../blocks/custom/projects/zvezdy_pobedy/main/b-head-info/styles/b-head-info

//@import ../../../../blocks/custom/projects/zvezdy_pobedy/global/blocks/b-field