/*
 * Свежий выпуск
 * 
 */

// Объявляем блок
$block: '.b-fresh'

$blockWrapper: '.b-fresh-wrapper'

// Стили обертки
#{$blockWrapper},
#{$block}
    height: 100%

// Стили
#{$block}
    // inline-block fix
    font-size: $f-sz-zero
    letter-spacing: 0

    padding: 20px

    +transition(opacity .3s ease)

    &.isLoading
        opacity: .3

    &__col
        // inline-block fix
        +font(13px)
        letter-spacing: $letterSpacingDefault

    &__col_left
        display: none

    &__magazine-list

    &__magazine-list-item
        padding: 15px 19px 16px
        border-bottom: 1px solid $border-color
        cursor: pointer

        &:last-child
            border-bottom: 0

        &:hover
            background-color: $white

    &__magazine-list-item.is-active
        background-color: $white

    &__magazine-list-item.is-active &__magazine-link
        color: $link-color

    &__magazine-link
        width: 200px
        display: inline-block

    &__head
        margin-bottom: 20px
        padding-bottom: 10px

        border-bottom: 3px solid $black

    &__head-logo
        float: left // из-за firefox

        display: none
        +transition(opacity .3s ease)

        .isEmpty &
            opacity: .3

    &__head-select
        width: 90%
        margin-bottom: 15px

        display: inline-block
        vertical-align: middle

    &__head-calendar
        +font(14px)

        //width: 100%
        //padding-left: 35px
        float: left // из-за firefox

        position: relative
        display: none
        vertical-align: middle

    &__head-calendar .b-custom-datepicker
        //font-size: 0
        //left: 0
        //top: 8px

    &__head-calendar-icon
        //margin-right: 15px

    &__head-action
        margin-bottom: 8px
        display: inline-block

    &__info
        +font(14px)
        //margin-left: -20px
        position: absolute
        top: 0

        opacity: .3

        .b-spinner
            width: 20px
            height: 20px
            margin-left: 10px
            position: relative

            display: inline-block
            vertical-align: middle

            &:before
                +filter(grayscale(100%) brightness(500%) brightness(10%))

    &__news
        width: 100%
        padding: 0
        position: relative
        //overflow-y: auto

        // Стилизуем b-news
        & .b-news__list-item_type_armageddon:before,
        & .b-news__list-no-x-lagre:before
            border: none

        & .b-news__list-item
            width: 100%
            margin: 0
            margin-bottom: 20px
            padding: 0
            padding-bottom: 20px
            
            display: block
            overflow: hidden

            border-bottom: 1px solid $border-color

        & .b-news__list-item-time
            display: none

        & .b-news__list-item-image-wrapper
            margin: 0 0 10px
            display: none
            vertical-align: top

        & .b-news__list-item:first-child .b-news__list-item-image-wrapper
            display: inline-block

        & .b-news__list-item-title
            +font
            margin: 0 0 10px

        & .b-news__list-item-text
            +font(14px)

    &__edition
        display: none

    // Если тематические выпуски
    &__fascicle-wrapper
        margin-bottom: 20px
        border-bottom: 3px solid $black

    // Шапка в списке
    &__fascicle-header
        margin-bottom: 20px
        padding-bottom: 20px
        border-bottom: 1px solid $border-color

        &__title
            +font(24px)
            font-weight: bold
            width: 100%
            display: inline-block
            text-transform: uppercase

        &__meta
            +font(14px)
            width: 100%
            margin-top: 5px
            display: inline-block

    &__fascicle-list .b-news__list-item:last-child
        border-bottom: none

    &__active-materials
        margin-bottom: 20px

    &__news.b-news
        overflow-y: scroll

    // Реклама
    &__ads
        margin-top: 30px
        text-align: center

        &_bottom
            margin-bottom: 30px

    // Tablet
    +bp-tablet

        &
            width: 728px
            padding: 25px 20px

            &__head
                width: 100%
                padding-bottom: 23px
                white-space: nowrap

            &__head-select
                width: 243px
                margin-right: 20px
                margin-bottom: 0

            &__head-calendar
                //width: 279px
                //margin-left: 40px
                //margin-top: 9px
                //display: inline-block

            &__head-action
                margin-top: 9px
                margin-right: 30px
                float: right
                //width: 33%
                //vertical-align: middle

            &__news
                padding-bottom: 100px

                // Стилизуем b-news
                & .b-news__list
                    margin-left: 0
                    padding-right: 15px

                & .b-news__list-item
                    padding-bottom: 10px

                & .b-news__list-item-image-wrapper
                    width: 235px
                    margin-right: 13px
                    float: left

                & .b-news__list-item-title
                    margin-bottom: 5px

                & .b-news__list-item-text
                    margin: 0
                    line-height: 1.5em

                & .b-news__list-item_type_armageddon:before,
                & .b-news__list-no-x-lagre:before
                    border: 1px solid $border-color

                & .b-news__list-item_type_armageddon,
                & .b-news__list-no-x-lagre
                    padding: 10px


            &__col_right,
            &__content,
            &__news
                height: 100%

            &__content
                overflow: hidden

            // Шапка в списке
            &__fascicle-header

                &__title
                    width: 70%

                &__meta
                    width: 30%
                    float: right
            

    // Tablet landscape
    +bp-tabletLandscape

        &
            width: 950px
            padding: 0

            background-color: $today-bg-color

            &__col_left
                width: 318px
                padding: 20px 0
                
                display: inline-block
                vertical-align: top

            &__col_right
                width: 632px
                padding: 25px 20px
                
                display: inline-block
                vertical-align: top
                background-color: $white

            &__head
                width: 100%
                padding-bottom: 26px
                
                white-space: nowrap

            &__head-logo
                width: 120px
                height: 35px
                
                display: inline-block
                vertical-align: middle

            &__head-select
                display: none

            &__head-calendar
                //width: 251px
                margin-top: 9px
                display: inline-block
            

    // Desktop
    +bp-desktop

        &
            width: 1150px

            &__col_left
                width: 360px

            &__col_right
                width: 790px
                padding: 25px 30px

            &__head
                margin-bottom: 30px

            &__head-logo
                width: 140px

            &__head-action
                +font(14px)

            &__edition
                //display: inline

            &__news

                & .b-news__list-item-image-wrapper
                    //width: 355px не надо
                    margin-right: 20px

                // Стилизуем b-news
                & .b-news__list-item-title
                    +font(22px)

                & .b-news__list-item-text
                    +font(14px)

            &__news.b-news
                overflow: hidden