/*
 * Счетчики
 * 
 */

// Объявляем блок
$block: '.b-counter'

// Стили 
#{$block}
    width: 100%
    margin-top: 20px
    text-align: center

    &__item
        margin-left: 10px
        display: inline-block
    

    // Tablet
    +bp-tablet

        &
            margin-top: 0
            text-align: right
            
            &__item
                display: block
            
    // Desktop
    +bp-desktop

        &
            margin-top: 20px

            &__item
                margin-left: 10px
                display: inline-block