/*Photoreps IFRAME*/
html, body { margin: 0; background: #fff }

ul#allImages li{list-style:none outside;display:inline;}
div#toplogo {background: url(//rg.ru/img/d/16plus-3.gif) no-repeat 908px top;}

/*BEGIN:STYLE for SCROLLER 24.07.2013*/
#scroller {
	width: 604px;
	height: 405px;
	position: relative;
	overflow: hidden;
}

#scrollableArea * {
	-webkit-user-select: none!important;
	-khtml-user-select: none!important;
	-moz-user-select: none!important;
	-o-user-select: none!important;
	user-select: none!important;
}

#scrollableArea {
	position: absolute;
	left:0px;
}

#scrollableArea a {
	width: 604px;
	display:block;
	float:left;
	vertical-align: middle;
	text-align: center;
}

.picture img {
	max-width: 600px;
	max-height: 405px;
	width: auto;
	height: auto;
}

.title_id, .author_id { display: none; }

.thumbnails {
	width: 636px;
	margin-left: 5px;
	overflow-x: hidden;
}

.selected-image {
	opacity: .7;
}

.selected-image img{
	border:1px solid #ccc!important;
	filter: alpha(opacity=70);/*for IE*/
}

.photo-subtext {
	filter: alpha(opacity=0);
	opacity:0;
}

.photo-pagenator {padding: 10px 0;}

.photo-pagenator table { width: 100%; border-collapse: collapse;}

.photorep-next a.scroll_arrow { display: inline-block }/*for IE opacity*/

.deactivate_el {
	opacity: .5;
	filter: alpha(opacity=50);
}

#current_img {
	margin:0 5px 0 0;
}
/*END:STYLE for SCROLLER*/

.clear {height: 0!important;}

#more_photorep_box {
	font-size: 0;
	display:none;
	width: 604px;
	height: 405px;
	padding-top: 37px;
	padding-left: 7px;
	position:relative;
	left: 604px;
}

.more_photorep_link {
	font-size: 11px;
	width: 190px;
	height: 170px;
	padding: 3px;
	position:relative;
	display: inline-block;
	overflow: hidden;
	text-align: left;
	filter:alpha(opacity=60);
	opacity: .6;
}

.more_photorep_link:hover {
	filter:alpha(opacity=100);
	opacity: 1;
}

.more_photorep_title {
	font-weight: 400;
	width: 94%;
	padding: 5px;
	position: absolute;
	bottom: 0;
	color: #fff;
	background: #43576f;
}

.more_photorep_img {
	display: block;
	min-height: 173px;
}

.current_photorep {
	vertical-align: top;
}

.current_photorep_in_start {
	width: 193px;
	height: 173px;
	background: #222;
}

.current_photorep_in_start b {
	font-size: 20px;
	font-weight: 400;
	width: 190px;
	height: 100px;
	padding-top: 60px;
	display: block;
	text-align: center;
	line-height: 20px;
	text-transform: uppercase;
}

.is_double_photorep { display: none; }

.picture img, .thumbnails img{background: white; padding: 1px; border: solid 1px #DCDDDF;}
.selected-image img{border: solid 5px #9FA5AF;}
.text-rep1 .photorep{margin-bottom: 10px;}
.photorep_links{margin:10px;}
.text-photo-x{border:1px solid #e5e5e5;border-width:0 1px;background:#FAFAFA;}
.la{margin:0;color:#ccc;}

.photoBoxFrame a:focus { outline: none }

#fancybox-content,
#fancybox-outer {
	background: url(//www.rg.ru/i/loader.gif) no-repeat center center #023d16;
	border-radius: 0!important;
}

#fancybox-wrap,
#fancybox-content {
	/*width: 658px!important;
	height: 702px!important;1066px!important;*/
	padding: 0!important;
	background: #023d16;
}

.fancybox-bg {display:none}

.photoBoxFrame {
	width: 600px;
	overflow: hidden;
}

.photoBoxFrame .photoBoxFrame-meta {
	DISPLAY: NONE;
	font-size: 14px;
	padding: 10px 0 0 10px;
	color: #222;
}

.photoBoxFrame .photoBoxFrame-meta .photo-size {
	font-weight: 300;
	text-transform: uppercase;
}

.photoBoxFrame .photoBoxFrame-title h1 {
	font-family: "Noto Sans",sans-serif;
	font-size: 21px;
	font-weight: 300;
	padding: 4px 10px;
	margin: 0;
	color: #222;
	line-height: 26px;
}

.photoBoxFrame .photorep-next { display: none }

.photoBoxFrame .text-photo-x {
	border: 0;
	background: #fff;
}

.photoBoxFrame .text-photo-x  table {
	width: 100%;
	border-collapse: collapse;
}

.photoBoxFrame .text-photo-x  table td { position: relative }

.photoBoxFrame .text-photo-x  table td,
.photoBoxFrame .photo-pagenator table td { padding: 0 }

.photoBoxFrame .text-photo-x .scroller-box {
	width: 600px!important;
	height: 399px!important;
}

.photoBoxFrame .text-photo-x .scroller-box #more_photorep_box {
	font-family: "Noto Sans",sans-serif;
	padding-left: 4px;
}

.photoBoxFrame .text-photo-x .scroller-box .picture {
	width: 600px!important;
	position: relative;
}

.photoBoxFrame .photo-info-box .meta-box,
.photoBoxFrame .text-photo-x .scroller-box .picture .meta-box {
	width: 600px;
	position: absolute;
	bottom: 0;
	left: 0;
	color: #fff;
	text-align: left;
	padding: 0 0 8px 10px;
	background: #222;
	opacity: .9;
	filter: alpha(opacity=90);
}

.photoBoxFrame .photo-info-box .meta-box {
	font-family: "Noto Sans",sans-serif!important;
	width: 97%;
	height: 93px;
	padding: 8px 10px;
	position: static;
	overflow: hidden;
	color: #fff;
	background: #222;
	opacity: 1;
}

.photoBoxFrame .photo-info-box .meta-box .photo-subtext { margin-top: 0 }

.photoBoxFrame .photo-info-box .meta-box .photo-subtext a {
	color: inherit!important;
	text-decoration: none!important;
}
	
.photoBoxFrame .photo-info-box .meta-box .photo-author { padding-top: 3px; font-size: 12px; font-style: italic }

.photoBoxFrame .text-photo-x .scroller-box .meta-box .photo-subtext {
	min-height: 20px;
}

.photoBoxFrame .text-photo-x .scroller-box .meta-box .photo-author {
	min-height: 20px;
	color: #b9b9b9;
}

.photoBoxFrame .text-photo-x .picture img {
	padding: 0;
	border: 0;
	background: none;
}

.photoBoxFrame .text-photo-x td > .scroll_arrow {
	width: 45px;
	height: 45px;
	position: absolute;
	top: 172px;
	display: block;
	opacity: .6;
	filter: alpha(opacity=60);
	background: #222;
	border-radius: 100%;
}

.photoBoxFrame .text-photo-x td > .scroll_arrow.left {
	left: 4px;
}

.photoBoxFrame .text-photo-x td > .scroll_arrow.right {
	right: 4px;
}

.photoBoxFrame .text-photo-x td > .scroll_arrow:before {
	position: absolute;
}

.photoBoxFrame .text-photo-x td > .scroll_arrow.left:before {
	color: #fff;
	font-family: "fontello";
	font-size: 30px;
	font-style: normal;
	font-weight: normal;
	content: '\e803';
	left: 11px;
	line-height: 45px;
}

.photoBoxFrame .text-photo-x td > .scroll_arrow.right:before {
	font-family: "fontello";
	font-size: 30px;
	font-style: normal;
	font-weight: normal;
	content: '\e804';
	color: #fff;
	right: 13px;
	line-height: 45px;
}



.photoBoxFrame .photo-pagenator {
	padding: 0;
	background: #222;
}

.photoBoxFrame .photo-pagenator .scroll_thumb_arrow {
	position: relative;
	width: 29px;
	height: 47px;
	display: NONE;
	background: #222;
	opacity: .8;
	filter: alpha(opacity=80);
}

.photoBoxFrame .photo-pagenator .scroll_thumb_arrow:before {
	content: '';
	width: 21px;
	height: 31px;
	position: absolute;
	top: 7px;
	left: 4px;
	background: url(//outer.rg.ru/plain/worldcup2014/img/ico.png) no-repeat 0 0;
}

.photoBoxFrame .photo-pagenator .scroll_thumb_arrow.left:before {
	background-position: -84px 0;
}

.photoBoxFrame .photo-pagenator .scroll_thumb_arrow.right:before {
	background-position: -105px 0;
}

.photoBoxFrame .photo-pagenator .thumbnails {
	width: 600px;
	margin: 0;
	overflow: hidden;
}

.thumbnails a.selected-image {
	opacity: .4;
	filter: alpha( opacity=40 );
}

.thumbnails a.selected-image img {
	background: #428bca;
}

.thumbnails a img{
	padding: 0;
	border: 0!important;
	vertical-align: top;
}

.thumbnails a:hover:before,
.thumbnails a.selected-image:before { display: none }

.thumbnails a { position: relative }

.photoBoxFrame .news-incut-b {
	margin-top: 20px;
	margin-bottom: 20px;
}

.photoBoxFrame .news-incut-b .title {
	padding: 10px 0;
	background: #dfdfdf;
}

.photoBoxFrame .news-incut-b .title h4 { margin-bottom: 0 }
.photoBoxFrame .news-incut-b .announse-list{ padding: 10px 20px;background: #f9f9f9 }
.photoBoxFrame .news-incut-b .announse-list p { margin: 0 }

.photoBoxFrame .photo-list { padding: 10px 20px;background: #ee8905 }

.photoBoxFrame .photo-list .photo-item {
	width: 300px;
	position: relative;
	overflow: hidden;
	float: left;
}

.photoBoxFrame .photo-list .photo-item:first-child { margin-right: 18px }

.photoBoxFrame .photo-list .photo-item a img {
	width: 100%;
	height: auto;
	border: 0;
}

.photoBoxFrame .footer-box-about-counter-item {
	position: absolute;
	left: -100px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-moz-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-device-pixel-ratio: 1.5),
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (-moz-min-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2),
only screen and (min-device-pixel-ratio: 2) {

	.photoBoxFrame .text-photo-x td > .scroll_arrow:before { top: 0 }

}
