html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  font-family: 'Roboto Condensed', sans-serif;
  background: #000 url('//rg.ru/res/images/custom/projects/sila/main_bg.jpg') top center repeat-y;
  height: 100%;
}

h2 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
}

img {
  width: 100%;
  height: auto;
  vertical-align: top;
}

ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

b {
  font-weight: bold;
}

.container:before,
.container:after,
.b-main:before,
.b-main:after,
.b-main-section:before,
.b-main-section:after,
.b-main-section-item-wrapper:before,
.b-main-section-item-wrapper:after,
.b-item__tags:before,
.b-item__tags:after,
.b-main-articles:before,
.b-main-articles:after,
.b-posts-order:before,
.b-posts-order:after,
.b-posts:before,
.b-posts:after,
.comments ol:before, 
.comments ol li:before, 
.b-article-tags__item__wrapper:before,
.b-article-tags__item__wrapper:after,
.b-tags-articles:before,
.b-tags-articles:after,
.b-more-articles:before,
.b-more-articles:after,
.b-time-soc-author-name:before,
.b-time-soc-author-name:after,
.b-footer:before,
.b-footer:after,
.b-short-author:before,
.b-short-author:after,
.b-article-page:before,
.b-article-page:after,
#mobile-posts-orders:before,
#mobile-posts-orders:after,
.b-main-section-author-wrapper:before,
.b-main-section-author-wrapper:after,
.b-main-section-banner-wrapper:before,
.b-main-section-banner-wrapper:after,
.articles-wrapper:before,
.articles-wrapper:after,
.b-header:before,
.b-header:after,
.b-right-rt:before,
.b-right-rt:after,
.b-author-recent-posts:before,
.b-author-recent-posts:after,
.b-soc-button:before,
.b-soc-button:after,
.b-short-author:before,
.b-short-author:after,
.b-comments:before,
.b-comments:after,
.counter_box:before,
.counter_box:after
 {
    content: " ";
    display: table;
}

.container:after,
.b-main:after,
.b-main-section:after,
.b-main-section-item-wrapper:after,
.b-item__tags:after,
.b-main-articles:after,
.b-posts-order:after,
.b-posts:after,
.comments ol:after, 
.comments ol li:after, 
.b-article-tags__item__wrapper:after,
.b-tags-articles:after,
.b-more-articles:after,
.b-time-soc-author-name:after,
.b-footer:after,
.b-short-author:after,
.b-article-page:after,
#mobile-posts-orders:after,
.b-main-section-author-wrapper:after,
.b-main-section-banner-wrapper:after,
.articles-wrapper:after,
.b-header:after,
.b-right-rt:after,
.b-author-recent-posts:after,
.b-soc-button:after,
.b-short-author:after,
.b-comments:after,
.counter_box:after {
    clear: both;
}


[data-active-rubric="vooruzhenie"] .b-header-nav__item [data-rubric="vooruzhenie"],
[data-active-rubric="technologii"] .b-header-nav__item [data-rubric="technologii"],
[data-active-rubric="arsenal"] .b-header-nav__item [data-rubric="arsenal"],
[data-active-rubric="istoriya"] .b-header-nav__item [data-rubric="istoriya"] {
border-top: 2px solid #d4742e;
background: #434141;

}

.b-banner500x240 {
  margin: 25px auto 25px auto;
  max-width: 500px;
}

.b-banner500x240 .single-banner div:nth-of-type(1) {
  width: auto!important;
  height: auto!important;
}

.js-relap__logo {
  display: none;
}

.head-ar {
  margin-bottom: 10px;
}

.not-content {
  display: none;
}

#cboxOverlay {
    background: none repeat scroll 0 0 #000000;
    cursor: pointer;
    display: none;
    height: 100%;
    left: 0;
    opacity: 0.5;
    overflow: auto;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

.playertable {
  margin-left: 0 !important;
}

.teaser2-block div {
    max-width: 160px !important;
    width: auto !important;
}

.b-article-main-block .lead {
    font-size: 18px;
    font-weight: 700;
    margin: 20px 0;
    line-height: 1.2;
}

.container {
  max-width: 1280px;
  margin: 0 auto;

}

.yashare-auto-init {
  margin: 0 15px 0 0;
  float: right;
}

.b-right-rt {
  background: #fff;
  margin: 30px 0;
  padding: 10px;
}

.mediametrics-block {
  background: #fff;
  padding: 10px;
  margin-bottom: 30px;
}

#mm-counter img {
  width: auto
}

.mm-body {
  width: 100%!important
}

.mm-body__line--floating {
  clear: both;
}

.teaser2-top {
  margin-bottom: 15px;
  clear: both;
  height:26px;
  background: url(//rg.ru/res/images/custom/projects/sila/teaser2top.png) repeat-x bottom left;
}
.teaser2-logo {

  float: left;     
  padding: 3px 0;
  background-color: #fff;

  }

.teaser2-logo img {
  width: 118px
}

.teaser2-np {
  text-align: right;
  color: #bfbfbf;
  font-family: Arial;
  margin-top: 0px;
  font-size: 11px;
  float: right;
  line-height: 12px;
  display:block;
  width: 70px;
}

.teaser-top {background: url(//rg.ru/res/images/custom/projects/sila/teasertop.png) repeat-x bottom left;margin-bottom: 9px;clear: both;height:26px}
.teaser-logo {float:left}
.teaser-np {float:right;color: #bfbfbf;font-family: Arial;margin-top: 5px;font-size:11px}

#mobile-menu {
  display: none;
}


#mobile-menu-toggle {
  display: none;
  margin-right: 15px;
}

#mobile-menu ul li div {
  display: none;
}

/* Mobile Menu */
#mobile-menu-toggle {
  font-size: 16px;
  position: absolute;
  right: 0;
  top: 30px;
  padding: 9px 0;
  font-weight: bold;
  text-transform: uppercase;
  color: #a0906f;
  float: right;
  text-decoration: none;
}

.fixed-top-b #mobile-menu-toggle { right: 19px }

#mobile-menu-toggle:before, #mobile-menu-toggle:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;

  background-color: #a0906f;
  display: block;
  height: 3px;
  float: none;
  z-index: 99;
}

.fixed-top-b .site-title { margin-left: 20px }

.mobile-menu-open-custom .fixed-top-b #mobile-menu-toggle { right: 236px }
.mobile-menu-open-custom #mobile-menu-toggle { right: 216px }

.mobile-menu-open-custom #mobile-menu-toggle { color: transparent }
.mobile-menu-open-custom #mobile-menu-toggle:before {
  color: #fff;
  top: 14px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
}
.mobile-menu-open-custom #mobile-menu-toggle:after {
  bottom:  17px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#mobile-menu-toggle:after {
  top: auto;
  bottom: 0;
}
#mobile-menu.right {
  left: auto;
  right: -220px;
  display: none;
  position: absolute;
  position: fixed;
  top: 0;
  height: 100%;
  z-index: 999999;
  width: 220px;
  overflow-x: none;
  overflow-y: auto;
  font-size: 16px;
  background: rgba(60, 60, 60, .95);
  box-shadow: 1px 0px 4px #999;
}
#mobile-menu ul {
  padding: 0;
}
#mobile-menu li,
#mobile-menu li a {
  display: block;
}
#mobile-menu li a {
  text-transform: uppercase;
  color: #fff;
  padding: 10px 0 10px 35px;
  border-bottom: 1px solid #a0906f;
  text-decoration: none;
}

#mobile-menu li a:hover { color: #fff; background: #a0906f }



/* HEADER BEGIN */

.b-header {
  margin-bottom: 30px;
  min-height: 87px;
  border-bottom: 1px solid #fff;
  background: url('//rg.ru/res/images/custom/projects/sila/header_bg.jpg') #000 no-repeat;
  position: relative;
}

.b-header-rss {
  background: url('//rg.ru/res/images/custom/projects/sila/rss_sila.png') -48px 0px no-repeat;
  position: absolute;
  width: 16px;
  height: 16px;
  right: 32px;
  top: 11px;

}

.b-header-rss:hover {
  background: url('//rg.ru/res/images/custom/projects/sila/rss_sila.png') -64px 0px no-repeat;
}

.popup-rss {
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 20px;
  right: 20px;
  background: url('//rg.ru/res/images/custom/projects/sila/rss_sila.png') no-repeat;
}

.popup-rss:hover {
  background: url('//rg.ru/res/images/custom/projects/sila/rss_sila.png') -20px 0 no-repeat;
}



.b-header-rss a, .popup-rss a {
  width: 100%;
  height: 100%;
  display: block;
}



.b-header-fixed {
  margin-bottom: 30px;
  position: fixed;
  z-index: 3;
  width: 100%;
  left: 0;
  top: 0;
}

.b-header-logo {
  height: 57px;
  float: left;
  margin: 10px 0 0 38px;
  opacity: 1;
  transition: opacity .1s ease;
}

.b-header-nav-wrapper {
  float: right;
}

.b-header-nav {
  float: right;
  margin: 41px 21px 0 0;
  position: relative;
  right: 0;
  z-index: 2;
}

.b-header-nav__item {
  float: left;
  color: #fff;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
}


.b-header-nav__item:hover .b-item__popup {
  display: block;
}

.b-header-nav__item__link {
  display: block;
  text-transform: uppercase;
  border-top: 2px solid transparent;
  padding: 12px 12px 12px 13px;
}

.b-header-nav__item__back-link {
  text-transform: uppercase;
}

.b-header-nav__item__link:hover {
  background: #434141;
  border-top: 2px solid #d4742e;
}

.sidr-class-b-header-nav__item_back-to-rg {
  text-transform: uppercase;
  color: #fff;
  padding: 23px 0 10px 35px;
  border-bottom: 1px solid #a0906f;

}


.b-header-nav__item_back-to-rg {
  font-size: 16px;
  padding: 17px 8px 13px 3px;
  border: none;
  position: relative;
  float: left;
  color: #fff;
  margin-top: 40px;

}

.b-header-nav__item_back-to-rg:before {
  content: "";
  position: absolute;
  border: 6px solid transparent;
  border-bottom: 7px solid #d4742e;
  top: 1px;
  left: 17px;

}

.b-header-nav__item_back-to-rg:after {
  content: "";
  position: absolute;
  border: 6px solid transparent;
  border-bottom: 7px solid #141012;
  top: 3px;
  left: 17px;
}

.b-item__popup {
  position: absolute;
  display: none;
  background: #ddd;
  width: 720px;
  height: 300px;
  top: 46px;
  left: -60px;
  padding: 5px 5px 25px 5px;
  z-index: 1;
  -webkit-box-shadow: 6px 0px 20px 0px rgba(50, 50, 50, 0.97);
  -moz-box-shadow:    6px 0px 20px 0px rgba(50, 50, 50, 0.97);
  box-shadow: 6px 0px 20px 0px rgba(50, 50, 50, 0.97);
}

.b-item__popup__bullets {
  float: left;
}

.b-header-nav__item_back-to-rg:hover {
  background: none;
  border: none;
}

.b-header-nav__item_back-to-rg a span {
  color: #d4742e;
}

.b-item__popup__article {
  font-size: 22px;
  width: 40.8%;
  float: left;
  font-weight: bold;
  color: #000;
  margin: 19px 0 0 19px;
}

.b-item__popup__article__title {
  margin: 8px 0 8px 0;
  display: block;
}

.b-item__popup__article__title:hover {
  color: #c76d2c;
}


.b-item__popup__article img {
  border: 5px solid #fff;
  box-sizing: border-box;
  height: 200px;

}



.b-item__popup__bullets {
  width: 360px;
  margin-left: 36px;
  margin-top: 19px;
}

.b-item__popup__bullets__item {
  font-size: 18px;
  margin-bottom: 18px;
  color: #333;
  position: relative;
}

.b-item__popup__bullets__item:hover {
  color: #d4742e;
}

.b-item__popup__bullets__item:before {
  content: "";
  border: 6px solid transparent;
  border-left: 6px solid #d5732c;
  position: absolute;
  top: 3px;
  left: -11px;
}

.b-item__popup__bullets__item:after {
  content: "";
  border: 6px solid transparent;
  border-left: 6px solid #ddd;
  position: absolute;
  top: 3px;
  left: -13px;
  
}

/* HEADER END */

/* MAIN BEGIN */

/* RAMBLER BEGIN*/

.rambler-b .rambler_news {background: #f0f1f2 none repeat scroll 0 0;/* clear: both; margin-bottom: 10px;*/overflow: hidden;/* vertical-align: top;margin-top: -1px; */    margin-left: -15px;    margin-right: -15px;}
.rambler-b .rambler_item { overflow: hidden;/*  display: inline-block; vertical-align: top;  */height: 275px; padding: 15px;float: left; width: 33.33333333%; box-sizing: border-box;}
.rambler-b .rambler_item:hover {background: #c8cbce none repeat scroll 0 0;}
.rambler-b .rambler_item img { display: block; border-radius: 2px;}
.rambler-b .rambler_item a.rambler_title {color: #1a1a1a;display: inline-block;font-family: Arial,Helvetica,sans-serif;font-size: 18px;line-height: 23px;padding: 20px 15px 0px;text-decoration: none;}
.rambler-b .rambler_header {font-weight: bold;  color: #ccc;font-size: 14px;padding-left: 15px;padding-bottom: 2px;clear: both; padding-top:15px; padding-bottom: 5px;}

/* RAMBLER END*/

.nextclick_wrapper .ncwFooter, .relap_wrapper .relap__logo {
  display: none;
}

.read_more_sila .ncwCaption {
  border-bottom: 1px solid #ebebeb !important;
  height: 30px !important;
  font-weight: normal !important;
}

.read_more_sila .showCaption .ncwFrame {
  margin-top: 10px !important;
}


.nextclick_wrapper {
  padding-bottom: 20px;
}

.infograph {
  margin-left: 25px !important;
  margin-bottom: 20px !important;
}

.b-main {
  max-width: 1225px;
  margin: 0 35px 0 20px;
}

.b-main-fixed {
  margin-top: 118px;
}

.b-main-section {
  margin: 24px 0 0 0;
}

.parent-b {
  margin-top: 15px;
}

.parent-b .Section {
  font-size: 36px;
  font-weight: bold;
}



.b-main-section-item-wrapper {
  width: 50%;
  float: left;
  padding: 0 10px;
  box-sizing: border-box;
  margin-bottom: 26px;
}

.article-main__main-pic__meta {
  padding-top: 12px;
  background: black;
  color: white;
  padding-bottom: 10px;
  padding-left: 10px;
}

.b-main-section__item {
  width: 100%;
  height: 580px;
  float: left;
  position: relative;
  background: #e4e4e4;
  box-shadow: 0 0 3px #333;

}

.b-main-section__item__image-block {
  position: relative;
}

.b-main-section__image-block-pic {
  display: block;
  border: 5px solid #fff;
  

}

.b-main-section__image-block-pic img {
  width: 100%;
  vertical-align: top;
  box-sizing: border-box;
}

.b-main-section__image-block-title {
  position: absolute;
  font-size: 34px;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  bottom: 0;
  padding: 8px 0px 8px 11px;
  line-height: 1.2;
  width: 100%;
  box-sizing: border-box;

}

.b-main-section__image-block-category-icon {
  color: #fff;
  text-transform: uppercase;
  position: absolute;
  font-size: 12px;
  top: 11px;
  background: #000;
  border-top: 2px solid #d4742e;

}

.b-main-section__image-block-category-icon a {
  color: inherit;
  
}

.b-main-section__item__text {
  font-family: 'Roboto condensed', sans-serif;
  font-size: 16px;
  line-height: 1.2;
  padding: 10px;

}

 .b-main-section-author-block {
    padding: 0 10px 0 10px;
    box-sizing: border-box;
  }

.b-main-section-author-wrapper {
  width: 100%;
  float: left;
  background: #fff;
  position: relative;
  margin-bottom: 30px;

}

.b-main-section-author {
  width: 100%;
  padding: 0 6px 0 0;
  box-sizing: border-box; 

}

.b-main-section__posts-author-wrapper {
  padding: 0 10px;
}

.b-main-section__posts-author {
  background: #000;
  margin-bottom: 23px;
  padding: 10px 0;
  color: #fff;
  text-align: center;
  font-size: 24px;
}

.b-main-section__posts-author__link {
  padding: 10px 0;
  display: block; 
}

.b-tag-filter {
  background: #000;
  color: #fff;
  text-align: center;
  font-size: 24px;
  margin-bottom: 21px;
}

.b-tag-filter__tag {
  color: #d4742e;
}

.b-tag-filter-wrapper {
  padding: 10px 0;
}


.b-main-section-author__photo {
  width: 31%;
  float: left;
  padding: 5px;
  margin-right: 24px;
  height: 430px;
}

.b-main-section-author__photo img {
  width: 100%;
  vertical-align: top;

}

.b-main-section-author__about__title {
  font-size: 36px;
  font-weight: bold;
}

.b-author__about {
  padding: 0 0 0 10px;
  margin-right: 10px;
}

.b-main-section-author__about__title h2 {
  padding: 11px 0 18px 0;
}

.b-main-section-author__about {
  margin-left: 10px;
}

.b-main-section-author__about p {
  margin-bottom: 15px;
  line-height: 1.2;
}

.b-main-section-author__tag-soc {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.tag-soc__social {
  position: absolute;
  width: 68%;
  padding: 0 17px 0 26px;
  box-sizing: border-box;
  bottom: 0;
  right: 0;
}

.b-soc-button {
  float: left;
  margin-bottom: 15px;
}

.tag-soc__social h2 {
  border-top: 6px solid #e4e4e4;
  font-size: 24px;
  font-weight: bold;
  padding: 8px 0;
}


.b-author-photo-tags__photo {
  border: 5px solid #fff;
}

.b-author-photo-tags__photo + .b-author-photo-tags__tags {
  bottom: 0;
  top: initial;
}

.tag-soc__tags h2 {
  font-size: 18px;
  font-weight: bold;
  background: #e4e4e4;
  padding: 10px 8px;
}

.b-item__tags {
  width: 100%;
  background: #131011;
  position: relative;
  overflow: hidden;
  color: rgba(212, 116, 46, 1);
  padding: 0 0 0px 37px;
  box-sizing: border-box;
}

.tags-small-article {
  padding: 0 0 0px 37px;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
}

.b-item__tags:before {
  content: "#";
  font-size: 18px;
  left: 0;
  position: absolute;
  color: rgba(212, 116, 46, 1);
  background: #2e2b2c;
  padding: 9px 12px 7px 13px;

}

.b-item__tags__unit {
  position: relative;
  font-weight: bold;
  float: left;
  font-size: 14px;
  color: #c76d2c;
  padding: 10px 0;
  margin-right: 6px;
  margin-left: 8px;

}

.b-item__tags__unit:hover, .icon-hash:hover {
  text-decoration: underline;
}

.icon-hash {
  position: relative;
  font-weight: bold;
  float: left;
  font-size: 14px;
  color: #c76d2c;
  padding: 10px 0;
  margin-right: 6px;
  margin-left: 8px; 

}

.b-item__tags__unit:after {
  content: "|";
  position: absolute;
  right: -10px;

}

.b-item__tags__unit:last-child:after {
  content: "";
}

.b-article-item-wrapper {
  width: 25%;
  float: left;
  box-sizing: border-box;
  padding: 0px 10px 0px 10px;
}

.b-article__item {
  width: 100%;
  height: 580px;
  background: #e4e4e4;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 3px #333;
}

.b-article__item_section {
  height: 580px;
}

.b-article__item__image-block {
  box-sizing: border-box;
}

.badge {
  padding: 6px 5px;
}

.badge:empty {
  display: none;
}

.image-block-pic img {
  vertical-align: top;
  width: 100%;
}

.b-article__item__text {
  box-sizing: border-box;
  padding: 8px 5px 0 10px;
}

.b-article__item__text p {
  font-family: 'Roboto condensed', sans-serif;
  margin: 8px 0 0 0;
  line-height: 1.2;
}

.articles-wrapper {
  overflow: hidden;
}

.content {
  overflow: hidden;
}

.b-article__item__text__head {
  font-size: 23px;
  font-weight: bold;
}

.b-article__item__text__head:hover {
  color: #c76d2c;
}


.b-main-section-banner-wrapper {
  width: 25%;
  float: right;
  padding: 0px 10px 0 10px;
  box-sizing: border-box;
}

.b-main-section__banner {
  float: left;
  width: 100%;
  height: 580px;
  background: #e4e4e4;
  margin-bottom: 26px;
  box-sizing: border-box;
}

.b-main-section__banner .single-banner > div {
  margin: 0 auto;
  max-width: 240px;
  width: auto !important;
  overflow: hidden;
  padding: 60px 0;
}

.single-banner object embed {
  width: 100%;
}

.single-banner iframe {
  width: 100%;
}

.b-right .single-banner > div {
  width: 100% !important; 
}

.b-right .single-banner > div div:first-child {
  width: 82% !important; 
}

.b-main .b-right .single-banner .turboroller_inner, .b-main .b-right .single-banner .turboroller_inner .turboroller_tgb {
  width: auto!important;
}

.banner_author {
  height: 430px;
}

.b-main-articles {
  margin: 0 -10px 0 -10px;

}

.b-main-articles-item {
  width: 25%;
  float: left;
  padding: 0 10px;
  box-sizing: border-box;
  margin-bottom: 26px;
}

.b-main-articles-item__unit {
  background: #e4e4e4;
  width: 290px;
  height: 540px;
  margin: 0 auto;
}

/* --- conmments --- */
.comments { padding: 0 }

.comments-wrapper * {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -ms-box-sizing: content-box;
  -o-box-sizing: content-box;
  box-sizing: content-box;
}

.comments-wrapper .comment-box {
  background: transparent!important;
  border: 0;
  border-radius: 0;
}

.comments-wrapper .comment-box,
.comments-wrapper .comList-box {
  width: auto;
  padding-left: 0;
  padding-right: 0;
}

.comment-box .comment-info-box {
  width: 101%!important;
  left: 0!important;
  background: #fff!important;
}

.header-com-form .header-com-form-info { background: none!important }

.header-com-form .header-com-form-info, .header-com-form .header-com-form-addCom-btn {
  font-family: 'Noto Sans',sans-serif;
  font-size: 16px!important;
  font-weight: 700;
  padding: 0!important;
  text-transform: uppercase;
  color: #222!important;
  background: none!important;
  text-decoration: none!important;
}

.textarea-com-form textarea {
  width: 100%!important;
  -webkit-box-sizing: border-box!important;
  -moz-box-sizing: border-box!important;
  -ms-box-sizing: border-box!important;
  -o-box-sizing: border-box!important;
  box-sizing: border-box!important;
}

.sendBox-com-form .sendBox-com-form-btn {
  border-radius: 0!important;
  border: 0!important;
  box-shadow: none !important;
  text-shadow: none !important;
  background: #666633!important;
  padding: 5px 10px !important; 
}

.comList-box-item {
  font-size: 14px;
  background: transparent!important;
  border-color: #eee!important;
}

.reply-box .comList-box-item { padding: 0 1%!important; border-color: #eee }

div.comList-box-item-info {
  width: auto!important;
  float: none!important;
  line-height: normal!important;
}

.comList-box-item-info .user-info {
  font-size: 14px!important;
  font-weight: 400!important;
}

.comList-box-item-info .com-date {
  font-size: 14px!important;
  color: #959595!important;
}

.comList-box-item-text { margin-top: 12px!important; float: none!important;  color: #959595 }

.replyCom_btn, .replyCom_cancel_btn { text-decoration: underline }

.replyCom_btn, .replyCom_cancel_btn:hover { text-decoration: none }

.load-mark-b.loading {
  height: 30px;
  margin-bottom: 20px;
  background: url(//rg.ru/res/images/custom/projects/sila/loader_big.gif) no-repeat center center;
}

.author .main-content h1, .author .meta-hash-content h4  { margin-top: 0 }

.show-msgBox-overlay { z-index: 102!important }

.tile.big_img_and_l {padding:0; overflow: hidden; width: 100%;}
.tile .img_big_l {overflow:hidden; float:left; margin:0 7px 7px 0; height: 254px; border: solid 1px #dcdddf; width: 100%; box-sizing: border-box;}
.tile .img_small_r_item {float:left; background: #fff; padding: 0 10px 8px 0; box-sizing: border-box;}
.tile .prev_show_img {float:left; background: #fff; border: solid 1px #dcdddf;}

.tile .title {background: url(//rg.ru/res/images/custom/projects/sila/photo.png) no-repeat 0 50%; display: block; float: left; clear: both; padding-left: 15px; margin: 5px 0; font-weight:bold;}


.tile.big_img_and_l.big_img_4 .img_small_r .img_small_r_item {width:84px; height:84px;margin-bottom: 10px;}
.tile.big_img_and_l.big_img_4 .prev_show_img {width:80px; height:80px}
.tile.big_img_and_l.big_img_4 .img_big_l {width:538px; height: 372px}
.tile.big_img_and_l.big_img_4 .big_show_img {width:534px;background: #fff; padding: 2px; margin-right: 10px; float: left;}

.tile.big_img_and_l.big_img_6 .img_small_r .img_small_r_item {width:94px; height:94px; margin-right: 6px;margin-bottom: 0;}
.tile.big_img_and_l.big_img_6 .prev_show_img {width:90px; height:90px}
.tile.big_img_and_l.big_img_6 .img_big_l {height: auto; width:604px}
.tile.big_img_and_l.big_img_6 .big_show_img {width:600px;  background: #fff; padding: 2px; margin-right: 10px; float: left;}

.tile.big_img_and_l.big_img_7 .img_small_r .img_small_r_item {width:81px; height:81px; margin-right: 4px;}
.tile.big_img_and_l.big_img_7 .prev_show_img {width:77px; height:77px}
.tile.big_img_and_l.big_img_7 .img_big_l {width:604px; height:auto}
.tile.big_img_and_l.big_img_7 .big_show_img {width:600px;  background: #fff; padding: 2px; margin-right: 10px; float: left;}

.tile.big_img_and_l.big_img_9 .img_small_r .img_small_r_item {width:99px; height:99px; margin-right: 5px;}
.tile.big_img_and_l.big_img_9 .prev_show_img {width:95px; height:95px}
.tile.big_img_and_l.big_img_9 .img_big_l {width:522px; height: 325px}
.tile.big_img_and_l.big_img_9 .big_show_img {width:518px; background: #fff; padding: 2px; margin-right: 10px; float: left;}

.tile.big_img_and_l.big_img_12 .img_small_r .img_small_r_item {width: 16.666%;}
.tile.big_img_and_l.big_img_12 .img_big_l {height: auto;}
.tile.big_img_and_l.big_img_12 .big_show_img {background: #fff; padding: 2px; margin-right: 10px; float: left;}

.tile.big_img_and_l.big_img_13 .prev_show_img, .big_img_13 .img_small_r .img_small_r_item {width:90px; height:90px}
.tile.big_img_and_l.big_img_13 .img_big_l {width: 610px; height: 428px}
.tile.big_img_and_l.big_img_13 .big_show_img {width: 604px; background: #fff; padding: 2px; margin-right: 10px; float: left;}

.img_small_r {
  margin: 0 -7px 0 0;
}

.issue-info {
  margin-bottom: 10px;
  font-weight: bold;
}

.issue-info:hover {
  color: #c76d2c;

}


/* MAIN END */

/* ARTICLE BEGIN */

.b-left,.b-right {
  width: 18.9%;
  box-sizing: border-box;
  float: left;
/*  margin-top: 24px;*/
}

.b-short-author {
  padding: 15px 0;
  text-align: center;
  background: #fff;
}

.b-short-author__title {
  font-size: 17px;
  margin: 7px 0 7px 0;
  color: #787878;
}

.b-short-author__pic-wrapper {
  width: 109px;
  margin: 0 auto 13px auto;
  box-sizing: border-box;
  border: 5px solid #e4e4e4;
}

.b-short-author__pic-wrapper__item {
  vertical-align: top;
  width: 100%;
  height: 100%;
}

.b-author-recent-posts-wrapper {
  display: none;
}


.b-author-recent-posts {
  width: 100%;
  margin-bottom: 35px;
  clear: both;
}

.b-author-recent-posts:empty {
  margin-bottom: 0;
}

.b-posts {
  background: #e4e4e4;
  padding: 18px 0 0 0;
}


.b-short-author__name {
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
}

.b-posts__title {
  font-size: 18px;
  margin: 0 0 15px 15px;
}

.b-posts__item {
  font-family: 'Roboto', sans-serif;
  position: relative;
  font-size: 15px;
  color: #666633;
  margin: 0 11px 18px 27px;
  line-height: 1.2;

}

.b-posts__item__link:hover {
  color: #c76d2c;
}

.b-posts-order div h1:first-child {
  margin: 0;
}

.b-posts-order div .similar-image {
  margin: 0 !important;
}

.b-posts-order div h1:first-child a {
  margin: 0 11px 18px 27px;
  display: block;
}

.b-posts-order div h1:first-child:before, .b-posts-order div h1:first-child:after {
  border: none;
}

.b-posts-order div h1:first-child a {
  position: relative;
}

.b-posts-order div .similar-image:before, .b-posts-order div .similar-image:after {
  border: none !important;
}


.b-posts-order div h1:first-child a:before {
  content: "";
  border: 6px solid transparent;
  border-left: 6px solid #d4742e;
  position: absolute;
  top: 3px;
  left: -11px;  
}

.b-posts-order div h1:first-child a:after {
  content: "";
  border: 6px solid transparent;
  border-left: 6px solid #e4e4e4;
  position: absolute;
  top: 3px;
  left: -13px;
}



.b-posts-order div h1 { 
  font-family: 'Roboto', sans-serif;
  position: relative;
  font-size: 15px;
  color: #666633;
  margin: 0 11px 18px 27px;
  line-height: 1.2;  
}

.post-article_item {
  margin: 0 11px 9px 27px;
  font-size: 14px;
}


.b-posts-order div h1:before {
  content: "";
  border: 6px solid transparent;
  border-left: 6px solid #d4742e;
  position: absolute;
  top: 3px;
  left: -11px;  
}

.b-posts-order div h1:after {
  content: "";
  border: 6px solid transparent;
  border-left: 6px solid #e4e4e4;
  position: absolute;
  top: 3px;
  left: -13px;
} 


.b-posts__item:before {
  content: "";
  border: 6px solid transparent;
  border-left: 6px solid #d4742e;
  position: absolute;
  top: 3px;
  left: -11px;  
}

.b-posts__item:after {
  content: "";
  border: 6px solid transparent;
  border-left: 6px solid #e4e4e4;
  position: absolute;
  top: 3px;
  left: -13px;
} 

.b-posts__article-pic {
  width: 100%;
  margin: 0 0 9px 0;
  border: 5px solid #fff;
  box-sizing: border-box;
}

.figure-meta {
  background: #e4e4e4;
  padding: 10px 0px 10px 3px;
}

.similar-image img {
  width: 100%;
  box-sizing: border-box;

}

.b-main-posts-orders {
  display: none;
}

.b-posts-order {
  background: #e4e4e4;
  margin-bottom: 27px;
  padding: 18px 0 0 0;
  width: 100%;
  box-sizing: border-box;
}

.b-posts-order a:hover {
  color: #c76d2c;
}

.b-author-recent-posts a:hover {
  color: #c76d2c;
}

.b-posts__article-pic__item {
  width: 100%;
  height: 100%;
}

.b-right {
  width: 23.602%;
}

.direct {
  background: #fff;
}

.single-banner {
  position: relative;
  margin-bottom: 20px;
}

.b-main-section-banner-wrapper .single-banner > div:first-child, .b-right-banner .single-banner > div:first-child {
  width: 100% !important;
  height: auto !important;
}

.b-right-banner .single-banner > div object, .b-right-banner .single-banner > div embed {
  width: 100% !important;
}

.b-right-banner {
  padding: 23px;
  background: #e4e4e4;
  margin-bottom: 30px;
}

.b-article-page {
  width: 57.4%;
  box-sizing: border-box;
  float: left;
/*  margin: 24px 0 0 0;*/
}

.b-article-page-wrapper {
  margin: 0 19px 0 20px;
  background: #fff;
}

.b-article-page__item {
  margin-bottom: 27px;
  padding: 0 15px;

}

.b-article-main-block {
  border-bottom: 5px solid #e4e4e4;
  margin-bottom: 15px;
  margin-top: 10px;
}

.b-article-main-block iframe {
  width: 100% !important;
}

.b-article-main-block p {
  margin-bottom: 17px;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.2;
}

.b-main-block-image {
  /*border: 5px solid #e4e4e4;*/
  box-sizing: border-box;
  margin-bottom: 15px;

}

.b-main-block-image:empty {
  display: none;
}

.b-main-block-image__item {
  width: 100%;
  height: 100%;
}


.b-article-tags__item {
  width: 33.3333333%;
  box-sizing: border-box;
  padding: 0 9px;
  float: left;
  height: 433px;
  overflow: hidden;

  
}

.b-article-tags__item__wrapper {
  background: #e4e4e4;
  height: 100%;
}

.b-tags-articles {
  margin: 0 -5px;
}

.b-article-main-block .b-tags-articles ul {
  margin-left: 0;
}


.b-tags-articles__image {
  box-sizing: border-box;
  width: 100%;
  position: relative;
  margin-bottom: 15px;
}

.b-tags-articles__image__item {
  box-sizing: border-box;

}

.b-tags-articles__image__title {
  position: absolute;
  bottom: 0;
  color: #fff;
  padding: 4px 5px 11px 8px;
  width: 100%;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.5);
}


.b-more-articles__item {
  width: 33.3333333%;
  float: left;
  box-sizing: border-box;
  padding: 5px;
  margin-top: 11px;
  
}

.b-more-articles-title {
  font-weight: bold;
  color: #666633;
  line-height: 1.2;
  margin: 0 0 0 5px;
  min-height: 40px;
}

.b-more-articles-pic {
  width: 100%;
  border: 5px solid #e4e4e4;
  box-sizing: border-box;
}

.b-others-tags__wrapper {
  background: #e4e4e4;
  margin-top: 14px;
}

.b-others-tags {
  border-bottom: 5px solid #e4e4e4;
  padding-bottom: 15px;
  margin-top: 19px;
  margin-bottom: 15px;

}

.v_info {
  margin-top: 10px;
}

.b-item__tags-wrapper {
  margin-left: 102px;
}

.b-others-tags__title {
  float: left;
  text-transform: uppercase;
  font-size: 14px;
  padding: 10px 9px;
}

.b-others-tags-wrapper {
  background: #e4e4e4;
  overflow: hidden;
}

.b-time-soc-author-name {
  background: #e4e4e4;
  padding: 7px 0 7px 14px;
  margin: 0 -15px;
  font-size: 15px;
  
}

.b-time {
  float: left;
  position: relative;
  margin-top: 7px;
  margin-right: 20px;
  font-size: 14px;
}

.b-time:after {
  content: "|";
  color: #d4742e;
  right: -12px;
  position: absolute;
  top: -1px;
}

.b-author-name {
  margin: 6px 0;
  float: left;
  position: relative;
  color: #666633;
}

.b-author-name__before {
  color: #000;
}

.b-main-block-title {
  font-size: 36px;
  margin: 16px 0 12px 0;
}

.b-article-main-block p a {
  color: #666633;
}

.b-article-main-block p a:hover {
  color: #c76d2c;
} 

.b-main-block-also {
  border: 5px solid #e4e4e4;
  margin-bottom: 18px;
}

.insert-materials-g {
  width: 100% !important;
  border: 5px solid #e4e4e4 !important;
  background: none !important;
  height: auto !important;
  padding: 5px !important;
  box-sizing: border-box !important;

}

.gall_prev-b {
 width: 540px !important;
 width: 100% !important;
 max-width: 600px !important;
}

.gall_prev-b_vertical .gall_prev-b__thumb {
  width: 13% !important;

}

.gall_prev-b_vertical .gall_prev-b__thumb__item {
  width: 100% !important;
  margin-bottom: 33% !important;
}

.gall_prev-b_vertical :last-child {
  margin-bottom: 0 !important;
}

.gall_prev-b_vertical .gall_prev-b__main {
  width: 84% !important;
  height: auto !important;
}

.gall_prev-b_vertical .gall_prev-b__main__pic__img {
  width: 100% !important;
  height: auto !important;
  max-width: 504px !important;
}


.gall_prev-b__thumb__item {
 width: 80px!important;
 height: 80px!important;
 width: 14%!important;
 height: 14%!important;
 margin-right: 3.2%!important;
}

.gall_prev-b__thumb__item:nth-child(6n+6), .gall_prev-b__thumb__item_last-in-row { margin-right: 0!important }

.insert-materials-g .insert-materials-title {
  border: none !important;
  color: #333 !important;
  font-size: 16px;
}

.insert-materials-r-large .insert-materials-r-large-title {
  background: none !important;
}

.insert-materials-r-large .insert-materials-r-large-title .insert-materials-title {
  border: none !important;
  color: #333 !important;
}

.insert-materials-r-large ul li { margin: 0!important }

.insert-materials-r-large ul a .insert-materials-link-title {
  color: #666633 !important;
}

.insert-materials-g ul a {
  color: #666633 !important;
  font-weight: bold !important;
  background: none !important;
  padding-left: 0 !important;
  font-size: 14px !important;
}

.b-read-more {
  width:200px;
  padding: 0;
  border: 1px solid #d5d5d5;
  background: none;
}

.b-read-more_50x50 .b-read-more__list {
  padding: 10px;
}

.b-read-more__item {
  margin-bottom: 10px;
}

.b-read-more_left {
  margin: 0 20px 20px 0;
}

.b-read-more_right {
  margin: 0 0 20px 20px;
}

.b-read-more__link {
  margin-top: 0;
  margin-left: 5px;
  font-family: roboto, sans-serif;
}

.b-read-more__title {
  margin-bottom: 0;
}

.b-read-more__link {
  color: #666633
}

.b-read-more__link:hover {
  color: #666633
}

.b-read-more__name {
  font-style: normal;
  font-family: 'roboto condensed', sans-serif;
  font-size: 15px;
  font-weight: normal;
  text-transform: uppercase;
  padding: 5px 0 5px 3px;
  background: #FFFFFF;
  border-bottom: 1px solid #d5d5d5;

}

.b-read-more_wide {
  width: 100%!important;
}

.b-read-more_wide .b-read-more__list {
  margin-left: 10px!important;
}

.b-read-more_wide .b-read-more__link {
  font-weight: bold!important;
  font-size: 15px!important;
}

.b-article-main-block .insert-materials-r-small-title { background: none!important; }

.b-article-main-block .insert-materials-r-small .insert-materials-title {
 color: inherit!important;
 border-left: 0!important;
}

.b-article-main-block .insert-materials-r-small ul {
 font-weight: 400!important;
 padding: 8px!important;
 padding-bottom: 0px!important;
}

.b-article-main-block .insert-materials-r-small ul li { margin: 0!important }

.b-article-main-block .insert-materials-r-small ul a img {
 width: auto!important;
 padding: 0!important;
 border: 0!important;
}

.b-article-main-block .insert-materials-r-small ul a {
  color: #666633 !important;
}

.b-main-block-also__links {
  margin-left: 157px;
  position: relative;
  padding: 7px 5px 8px 0;

}

.b-main-block-also__before {
  content: "Читайте также";
  text-transform: uppercase;
  position: absolute;
  left: -146px;
  top: 8px;
}

.b-main-block-also__links__item {
  display: block;
  position: relative;
  font-size: 15px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  color: #666633;

}

.insert-materials-g ul li {
  position: relative;
}

.insert-materials-g ul li:before {
  content: "";
  border: 6px solid transparent;
  border-left: 6px solid #d4742e;
  position: absolute;
  top: 3px;
  left: -11px; 
}

.insert-materials-g ul li:after {
  content: "";
  border: 6px solid transparent;
  border-left: 6px solid #fff;
  position: absolute;
  top: 3px;
  left: -13px;  
}

.b-main-block-also__links__item:before {
  content: "";
  border: 6px solid transparent;
  border-left: 6px solid #d4742e;
  position: absolute;
  top: 1px;
  left: -11px;  
}



.b-main-block-also__links__item:after {
  content: "";
  border: 6px solid transparent;
  border-left: 6px solid #fff;
  position: absolute;
  top: 1px;
  left: -13px;  
}

#mobile-posts-orders {
  display: none;
  clear: both;
}

.b-rt-banner-mobile {
  display: none;
}


/* ARTICLE END */

/* FOOTER BEGIN */

.b-footer {
  background: #000;
  height: 245px;
  
}

.b-footer__logo {
  float: left;
  margin: 28px 0 0 74px;
}

.b-footer__counts {
  float: left;
  margin: 53px 0 0 75px;
}

.counter-item {
  margin-bottom: 10px;
}

.b-footer-back-to-rg {
  padding: 0 6px 50px 0;
  background: url('//rg.ru/res/images/custom/projects/sila/footer_logo.png') 0 29px no-repeat;
  color: #d4742e;
  font-size: 16px;
  width: 131px;
  display: block;
}

.b-footer__wrapper {
  margin: 0 auto;
  width: 90%;
  max-width: 1280px;
}

.b-block-rubrics-wrapper, .b-block-info-wrapper {
  float: left;
  color: #fff;
  text-transform: uppercase;
}

.b-block-rubrics-wrapper {
  width: 29.6%;
}

.b-block-info-wrapper {
  width: 26%;
}

.b-footer__block__rubrics {
  margin: 28px 0 0 75px;
}

.b-footer__block__rubrics, .b-footer__block__info {
}

.b-footer__block__head {
  font-size: 18px;
  color: #d5732c;
  padding: 0 0 9px 0;
  border-bottom: 5px solid #fff;
  margin-bottom: 10px;
}

.b-footer__block__rubrics__item {
  position: relative;
  margin: 0 0 4px 13px;
}

.b-footer__block__rubrics__item:before {
  content: "";
  border: 6px solid transparent;
  border-left: 6px solid #d5732c;
  position: absolute;
  top: 3px;
  left: -11px;
}

.b-footer__block__rubrics__item:after {
  content: "";
  border: 6px solid transparent;
  border-left: 6px solid #000;
  position: absolute;
  top: 3px;
  left: -13px;
  
}

.b-footer__block__info {
  margin: 28px 0 0 29px;  
}

.b-footer__block__info__about {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  text-transform: none;
}

/*
 * figures in article content
 *
 */
 
.main-text p .article-img { margin-left: 0; }

.main-text p .article-img img { padding: 0!important; border: 0!important; }
 
.article-img {
  font-family: 'roboto condensed';
  font-size: 12px;
  margin: 16px 0 16px 0;
  padding: 2px;
  clear: both;
  color: #9b9b9c;
  border: 1px solid #dcdddf;
}

.article-img__pic img {
  width: 100%;
  margin: 0;
  vertical-align: top;
  float: none;
}

.article-img__info {
  padding: 10px 0;
  background: #252527;
}

.article-img_250 .article-img__info { 
  padding: 5px 0;
}

.article-img__infograph__text {
  padding-left: 8px;
  color: #fff;
  border-left: 5px solid #4889d7;
  background: #000;
    padding: 5px 0 5px 10px;
}

.article-img__info__text {
  padding-left: 8px;
  color: #fff;
  border-left: 5px solid #4889d7;
}

.article-img__info__text b {
  font-weight: 400;
  color: #9b9b9c;
}

.article-img_f_left {
  margin-right: 20px!important;
  float: left;
  clear: none;
}

.article-img_f_right {
  margin-left: 20px!important;
  float: right;
  clear: none;
} 

.article-img_600 { max-width: 600px; }

.article-img_250 {max-width: 250px; }

.article-img_250 .article-img__pic img { float: none; }

.icon-loupe {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    background: #000;
    position: relative;
}

.icon-loupe:hover:before {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.icon-loupe:hover:after {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.icon-loupe a img { 
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    transition: opacity .3s ease; 
    position: relative;
    z-index: 2;
}

.icon-loupe:hover a img { 
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";


}

.article-img_250 .icon-loupe:before {
    border: 5px solid #FFF; 
    width: 30px;
    height: 30px;
    top: 10px;
    right: 22px;
    border-radius: 30px;
    line-height: 30px;
    font-size: 26px;
}

.article-img_250 .icon-loupe:after {
    width: 9px;
    height: 32px;
    right: 16px;
    top: 37px;
    
}

.icon-loupe:before {
  opacity: 0;
  text-align: center;
  content: "+";
  border: 10px solid #FFF;
  width: 50px;
  height: 50px;
  display: block;
  border-radius: 100px;
  font-size: 30px;
  line-height: 50px;
  font-size: 40px;
  font-weight: bold;
  color: #FFF;
  position: absolute;
  top: 25px;
  right: 52px;

}

.icon-loupe:after {
  opacity: 0;
  content: "";
  position: absolute;
  /* border: 4px solid #ddd; */
  width: 15px;
  height: 57px;
  right: 44px;
  background: #FFF;
  top: 71px;
  -webkit-transform: rotate(-44deg);
  -moz-transform: rotate(-44deg);
  -ms-transform: rotate(-44deg);
  -o-transform: rotate(-44deg);
  transform: rotate(-44deg);
  border-radius: 11px;
}

.doc-img_250 {
  max-width: 250px;
}

.doc-img_250 img {
  width: 100%;
}

.doc-img_600 {
  max-width: 600px;
}

.doc-img_600 img {
  width: 100%;
}

.article-250-doc-info {
  background: #000;
  padding: 5px 0;
}

.article-600-doc-info {
  background: #000;
  padding: 5px 0;
}

.article-250-doc-info a {
  color: #fff;
  border-left: 5px solid #4889d7;
  padding-left: 7px;
}

.article-600-doc-info a {
  color: #fff;
  border-left: 5px solid #4889d7;
  padding-left: 10px;
}

.text_translation {
  width: auto!important;
}

.text_trans_box {
  width: auto!important;
}

.quote_right {
  width: auto;
}


/* FOOTER END */




/* MEDIA QUERIES */

@media (max-width: 1000px) {

  .b-main-section__banner .single-banner > div {
    padding: 32px 0;
  }  

  .b-header-nav__item {
    font-size: 18px;
    
  }

  .b-header-nav__item__link {
    padding: 8px 8px 8px 12px;
  }

  .b-header-nav__item_back-to-rg {
    padding: 17px 8px 8px 3px;
    margin-top: 44px;
  }

  .b-item__popup__bullets__item {
    font-size: 16px;
  }

  .b-header-nav {
    margin: 50px 19px 0 0;
  }

  .b-item__popup {
    width: 640px;
    height: auto;
    top: 37px;
    left: -55px;
  }

  .b-item__popup__bullets {
    width: 315px;
    margin-top: 13px 0 0 24px;
  }

  .b-item__popup__article {
    font-size: 21px;
  }

  .b-main-section__item {
    height: 490px;
  }

  .b-main-section__image-block-title {
    font-size: 34px;
  }

  .b-main-section__item__text {
    font-size: 14px;
    line-height: 1.2;
    padding: 6px 5px;
  }

  .b-main-section__banner {
    height: 490px;
  }

  .b-article__item__text {
    font-size: 14px;
  }

  .b-article__item__text__head {
    font-size: 21px;
  }

  .b-article__item {
    height: 490px;

  }

  .b-item__tags__unit {
    font-size: 12px;
  }

  .b-main-articles {
    margin: 0 -7px 0 -7px;
  }

  .b-main-articles-item {
    padding: 0 7px;
  }

  .b-main-section-author__about__title {
    font-size: 34px;
  }

  .b-author__about p {
    font-size: 15px;
  }

  .tag-soc__social h2 {
    font-size: 21px;
  }

  .b-article-page-wrapper {
    margin: 0 12px 0 12px;
  }

  .b-main-block-title {
    font-size: 34px;
  }

  .b-short-author__name {
    font-size: 15px;
  }

  .b-short-author__title {
    font-size: 14px;
  }
  
  .b-posts__title {
    font-size: 16px;
  }

  .b-posts__item {
    font-size: 14px;
  }

  .b-tags-articles__image__title {
    font-size: 16px;
  }

  .b-tag-filter {
    font-size: 21px;
  }

  .b-main-section__posts-author {
    font-size: 21px;
  }



}


/*
@media (max-width: 960px) {




  .b-header-nav:after {
    clear: both;
  }

  .b-header-nav {
    height: 38px;
    overflow: hidden;
    margin: 35px 19px 0 0;

  }
*/

/*
  .b-header-nav:hover {
    overflow: visible;
    height: 40px;
  }
  .b-header-nav__item_back-to-rg {
    margin-top: 31px;
  }

  .b-header-nav__item {
    float: none;
  }

*/

/*
  .b-header-nav__item {
    background: #000;
    border-left: 2px solid #a0906f;
    border-right: 2px solid #a0906f;
    border-bottom: 1px solid #a0906f;
    border-top: 1px solid #a0906f;
    
  }

  .b-header-nav__item:hover {
    background: #a0906f;
    border-top: 1px solid #a0906f;

  }

  .nav-first-item .b-header-nav__item__link:after {
    content: "";
    border: 6px solid transparent;
    border-top: 7px solid #d4742e;
    position: absolute;
    top: 15px;
    right: 9px;

  }

  .nav-first-item:hover {
    border-top: 2px solid #a0906f;
  }

  .nav-first-item {
    border-top: 2px solid #a0906f;
    padding-right: 25px;
  }


}
*/

@media (max-width: 960px) {

  .b-article-tags__item {
    display: none;
  }

  .b-banner500x240 {
     display: none;
  }

  .b-posts-order div h1 {
    font-size: 14px;
  }

  #mobile-menu-toggle {
    display: block;
  } 

  .b-header-nav-wrapper {
    display: none;
  }

  .b-header-rss, .popup-rss {
    display: none;
  }

  .b-header-logo {
    margin-left: 10px;
  }

  .nav-first-item {
    display: block;
  }

  .b-header-nav__item:hover .b-item__popup {
    display: none;
  } 

  .nav-first-item {
    display: block;
  }

  .b-header-nav__item:hover .b-item__popup {
    display: none;
  } 

  .b-footer__wrapper:before,
  .b-footer__wrapper:after {
      content: " ";
      display: table;
  }

  .b-footer__logo {
    margin-left: 0;
  }

  .b-footer__counts {
    margin-left: 68px;
  }


  .b-footer__wrapper:after {
    clear: both;
  }

  .b-main {
    margin: 0;
  }

  .b-main-section {
    margin-top: 15px;
  }

  .b-tag-filter {
    margin-bottom: 17px;
  }

  .b-main-section__item {
    height: auto;
  }

  .b-main-section__item__text p {
    margin-bottom: 34px;
  }

  .b-main-section-item-wrapper {
    width: 100%;
    padding: 0;
  }

  .b-main-section__banner {
    margin-top: 26px;
  }

  .b-article__item {
    height: auto;
    padding-bottom: 42px;
 
  }

  .b-article-banner-block {
    margin-top: 30px;
  }

  .b-article-item-wrapper {
    width: 100%;
    padding: 0;
  }

  .b-main-section-banner-wrapper {
    width: 100%;
    padding: 0;
  }

  .main-author-banner {
    display: none;
  }

  .b-main-articles-item {
    width: 100%;
    padding: 0;
  }

  .b-block-rubrics-wrapper {
    width: 100%;
  }

  .b-block-info-wrapper {
    width: 100%;
  }

  .b-footer__wrapper {
    margin: 17px auto;
  }

  .b-footer {
    height: auto;
  }

  .b-footer__logo {
    margin: 0;
  }

  .b-footer__block__info {
    margin: 0;
  }

  .b-footer__block__rubrics {
    margin: 0;
  }

  .b-footer__block__rubrics__item {
    width: 45%;
    float: left;
  }

  .b-footer__counts {
    display: none;
  }

  .b-footer__block__head {
    margin-bottom: 19px;
  }

  .b-block-rubrics-wrapper {
    margin-top: 30px;
  }

  .b-block-info-wrapper {
    margin-top: 30px;
  }

  .tag-soc__social {
    width: 50%;
  }

  .b-left {
    display: none;
  }

  .b-right {
    width: 100%;
  }

  .b-right-banner {
    display: none;
  }

  .direct {
    width: 100%;
    margin-bottom: 30px;
  }

  .b-article-page {
    width: 100%;
  }

  .b-article-page-wrapper {
    margin: 0;
  }

  .b-article-tags__item {
    width: 50%;
  }

  .b-more-articles__item {
    width: 50%;
  }

  .b-more-articles-title {
    height: 60px;
  }

  .b-main-posts-orders {
    display: block;
  }

  .b-posts__article-pic {
    width: 50%;
    float: left;
  }
  
  .b-posts__item {
    font-size: 14px;
  }

  .b-posts-order .b-posts__item {
    width: 40%;
  }

  .b-article-page {
    margin: 0;
  }

  .b-article-tags__item {
    height: auto;
  }

  .b-author-recent-posts {
    border-top: 5px solid #e4e4e4;
  }
  
  .b-author-recent-posts-wrapper {
    display: block;
  }

  .b-short-author__pic-wrapper {
    margin: 0;
  }

  .b-short-author {
    text-align: inherit;
  }

  .b-posts-item-author-article {
    width: auto;
    float: left;
  }

  .b-main-block-also__links {
    margin-left: 12px;
  }

  .b-main-block-also__links:before {
    position: static;
    margin-left: 13px;
  }

  .b-main-block-also__links__item {
    margin-left: 25px;
  }

  .b-short-author__pic-wrapper {
    float: left;
    width: 13%;
    margin-right: 8px;
  }

  .b-short-author__name {
    margin-top: 6px;
  }

  .b-posts {
    padding: 16px 0 0 0;
  }

  .b-posts__title {
    margin: 0 0 15px 8px;
  }

  .b-posts__item {
    margin: 0 11px 15px 19px;
  }

  #mobile-posts-orders {
    display: block;
  }

  .b-main-section .b-main-section__banner {
    display: none;
  }

  .b-main-section__posts-author-wrapper {
    padding: 0;
    
  }

  .b-main-section-author-block {
    width: 100%;
    padding: 0;
  }

  .b-rt-banner-mobile {
    display: block;
    overflow: hidden;
    background: #fff;
    margin-bottom: 30px;
    padding: 10px;
  }

  .comments {
    display: none;
  }

  .teaser2-block div {
    border: none !important;
  }

  .b-tgp {
    display: none;
  }

}
  

  @media (max-width: 510px) {
    .mobile-menu-open-custom-hidden .b-header-logo {
      opacity: 0;

	 }

  }

  @media (max-width: 639px){
    .b-right .yap-yandex_ad_vert-posterVertical .yap-layout_block_poster {
      max-width: none!important;
    }
  }
  
/* Add Alex 02.06.2015 */

.b-article-main-block ul {
	list-style: initial;
	margin-left: 20px;
}

.b-article-main-block ul li {
	margin: 10px 0;
}

.b-tgp {
  background: #fff;
  padding: 15px 0;
  margin-bottom: 25px;
}

.b-tgp img {
  width: auto;
}

div.incut {
    font-family: roboto;
    font-size: 15px;
    font-weight: bold;
    line-height: 18px;
    margin-bottom: 15px;
}

/*
 * Баннер под статьей
 *
 */

.b-article-page__item .b-ads__banner {
  margin-bottom: 20px;
  overflow: hidden;
}

.b-article-page__item .b-ads__banner div[id^="AdFox_banner"] {
  margin-left: auto;
  margin-right: auto;
}

.b-article-page__item .b-ads__banner iframe {
  width: 100%;
}