/* Social toggle banner */
.st-b {
	width: 240px;
	height: 400px;
	margin: 0 auto;
	overflow: hidden;
	background: #fff;
	border: 1px solid #ddd;
}

.st-b__header__btn {
	font-family: Arial;
	font-size: 12px;
	font-weight: 700;
	width: 41%;
	padding: 3% 4%;
	display: block;
	color: #fff;
	line-height: 16px;
	text-align: center;
	text-decoration: none;
	background: #777;
	
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

.st-b__header__btn:hover { color: #fff }

.st-b_active_vk .st-b__header__btn_vk { background: #4e729a }
.st-b_active_fb .st-b__header__btn_fb { background: #3b5998 }

.st-b__header__btn_vk { float: left }
.st-b__header__btn_fb { float: right }

.st-b__content__item { display: none }

.st-b_active_vk .st-b__content__item_vk { display: block }
.st-b_active_fb .st-b__content__item_fb { display: block }

.st-b__content__item__vkBox { margin-left: -2px }