/*
 * Аккаунт
 * 
 */

// Объявляем блок
$block: '.b-list-table'

// Основной блок
#{$block}
    +font(13px)
    padding: 20px
    clear: both

    &__list

    &__item

        margin-bottom: 20px
        padding: 20px
        position: relative

        background-color: $white

        &_active
            background-color: $yellow

        &_selected
            background-color: $today-bg-color

    &__item_disabled &__date,
    &__item_disabled &__info,
    &__item_disabled &__content
        +opacity(.3)

    &__content
        //max-height: 400px
        margin-bottom: 20px
        overflow: hidden

        & .b-feed
            width: 100%
            min-height: 100px
            margin: 0
            padding: 0
            background-color: transparent

        // Сюжеты
        & .b-feed__date
            display: block

    &__title
        font-family: $f-serif
        +font(16px)
        font-weight: bold
        margin-bottom: 10px

    &_sujets &__content &__title
        display: none
        
    &__announce
        margin-bottom: 10px
        display: none

    &__date
        color: $comment-color
        margin-bottom: 10px
        

    &__text
        

    &__info
        margin-bottom: 10px
        display: table

    &__info &__title
        font-family: $f-sans
        +font(14px)
        width: 140px
        display: table-cell
        vertical-align: middle

    &__media
        //width: 80px
        //height: 50px
        //margin-right: 20px
        //margin-left: -20px
        //display: inline-block
        //vertical-align: top
        //overflow: hidden

    &__img
        //width: 100%        

    &__meta
        

    &__link

    // Поля
    &__field

        &_repair
            position: absolute
            top: 20px
            right: 20px
            font-size: 14px

        &_input,
        &_select
            background-color: $white

        &_checkbox
            margin-bottom: 0
            padding: 0
            color: $comment-color
            border: none

        &_btn
            width: 20px
            height: 20px
            position: absolute
            top: 20px
            right: 20px

            //display: none
            opacity: 0

            +transition(opacity .3s ease)

    &__field_checkbox &__label
        float: none

    &__item:hover &__field_btn
        opacity: 1

        &_repair
            display: block

    &__item_disabled &__field_repair
        display: block

    &__close-btn
        text-indent: -9999px
        border: 0

    // Сюжет
    &_sujets &__content &__wrapper
        //height: 210px

    // Комментарии
    &_comments &__content .b-post__reply-btn
        display: none

    &_comments &__field_checkbox .b-field_input_checkbox
        float: none

    &_comments &__field_checkbox .b-field__label
        margin-bottom: 0

    // Сюжет

    &_sujets &__info &__title
        width: 100%

    // Tablet
    +bp-tablet

        &
            padding: 0

            &__announce,
            &__item_selected &__field_btn
                display: block

            &__media
                //width: 100px
                //height: 64px

            // Сюжет
            &_sujets &__info &__title
                width: 280px

            &_sujets &__content
                margin-bottom: 0

            &_sujets &__content &__link_all-material
                margin-top: 10px
                display: block

            &_sujets &__meta
                position: absolute
                right: 40px
                bottom: 20px


    // Tablet landscape
    +bp-tabletLandscape

        &

            &__item
                padding: 30px

                // inline-block fix
                font-size: $f-sz-zero
                letter-spacing: 0
            
            &__date,
            &__content
                +font(13px)
                width: 440px
                display: inline-block
                vertical-align: top

                // inline-block fix
                letter-spacing: $letterSpacingDefault

            &__meta
                width: 90px
                margin-left: 60px
                display: inline-block
                vertical-align: top

            &__item_disabled &__meta
                text-align: right

            //&__item_selected &__field_btn
            &__item &__field_btn
                position: static
                float: right
                display: inline-block
                vertical-align: top

            &__item_disabled &__field_repair
                +font(13px)
                position: static
                display: inline-block
                vertical-align: top

            &__item_disabled &__field_checkbox
                display: none 

            &__field_checkbox
                width: 20px
                margin-right: 50px
                display: inline-block
                vertical-align: top

            &__field_checkbox .b-field__label
                font-size: 0
                margin-top: 0

            &__field_checkbox &__label
                float: left

            // Комментарий
            &_comments &__content
                width: 100%

            &_comments &__post
                width: 80%

            &_comments &__meta
                width: 210px
                position: absolute
                bottom: 20px
                right: 20px

            &_comments &__field_checkbox
                width: 100%

            &_comments &__field_checkbox .b-field__label
                +font(13px)

            // Сюжет
            &_sujets &__info
                width: 230px
                margin-right: 0
                margin-bottom: 0
                display: inline-block

            &_sujets &__media
                //width: 100%
                //height: auto
                //margin-left: -30px

            &_sujets &__content
                width: 360px
                margin-bottom: 30px
                display: inline-block

            &_sujets &__content &__wrapper
                //height: 280px

            &_sujets &__info
                padding-right: 30px

            &_sujets &__info &__title
                +font(22px)
                width: 100%
                display: block

            &_sujets &__content &__title
                display: none

            &_sujets &__meta
                +font(13px)
                width: auto
                right: 50px
                bottom: 30px

            &_sujets &__content &__link_all-material
                position: absolute
                left: 30px
                bottom: 30px

            // Сохраненные статьи
            &_saved &__field_checkbox .b-field__label
                display: none

    // Desktop
    +bp-desktop

        &

            &__date
                width: 140px

            &__content,
            &_comments &__content
                width: 560px

            &__meta
                width: 130px
                margin-left: 75px

            &__field_checkbox
                margin-right: 65px

            // Комментарий
            &_comments &__post
                width: 100%

            &_comments &__meta
                width: 130px
                position: static
                text-align: center

            &_comments &__field_checkbox
                text-align: center

            &_comments &__field_checkbox .b-field__label
                font-size: 0

            &_comments &__field_checkbox .b-field_input_checkbox
                display: inline-block
                float: none

            // Сюжет
            &_sujets &__content
                //width: 485px
                //margin-bottom: 0

            &_sujets &__content &__wrapper
                //height: 160px
                //height: 220px

            &_sujets &__meta
                bottom: auto

            // add
            &_sujets &__info
                width: 300px

            &_sujets &__info &__title
                +font(22px)
                width: 100%
                display: block

            &_sujets &__content &__title
                display: none

            &_sujets &__info &__media
                //width: 230px
                //margin-left: 0
                //float: right

            &_sujets &__content &__wrapper
                //height: 110px
                //height: 290px
            

    // Desktop
    +bp-desktopFull

        &
            &__content,
            &_comments &__content
                width: 870px

            &_comments &__title,
            &_comments &__post
                display: inline-block
                vertical-align: top

            &_comments &__title
                width: 310px
                margin-right: 70px

            &_comments &__post
                width: 470px

            // Сюжет
            &_sujets &__info
                width: 400px

            &_sujets &__info &__title
                //+font(22px)
                //display: block

            &_sujets &__content
                width: 650px

            &_sujets &__content &__title
                //display: none

            &_sujets &__info &__media
                //width: 230px
                //margin-left: 0
                //float: right

            &_sujets &__content &__wrapper
                //height: 110px old
                //height: 290px

            