// Блок основного контента
// Объявляем блок
$block: '.b-content'

// Родительские модификаторы
$hasDocumentMaterial: '.l-main-content_doc'

// Стили
#{$block}    
    width: 100%
    display: block
    vertical-align: top

    // Tablet
    +bp-tablet

        &
            width: 490px
            display: inline-block

            &_promo
                width: 100%

    //.has-sidebar-right &
        //width: 490px
        //margin-left: 30px

    // Tablet landscape
    +bp-tabletLandscape

        &
            //width: 650px
            width: $width-wrapper-tabletLandscape

            //.has-sidebar-right &
                //width: 650px

            &_promo
                width: 100%

    // Desktop
    +bp-desktop

        &
            //width: 990px
            width: $width-wrapper-desktop

            .has-sidebar-right &
                //width: 650px
                width: 630px

        &_promo
            width: 1140px
            .has-sidebar-right &
                width: 880px

    // Desktop full
    +bp-desktopFull

        &
            //width: 1330px
            width: $width-wrapper-desktopFull


            .has-sidebar-right &
                //width: 990px
                width: 990px


            .has-sidebar-right &_article
                width: 850px

            #{$hasDocumentMaterial} &_article
                width: 920px
                margin-right: 0

            #{$hasDocumentMaterial} &_article__aside
                width: $width-block
                float: right

        &_promo

            .has-sidebar-right &
                width: 880px