$block: '.b-scores'

#{$block}
    // margin: 0 -20px
    // padding: 20px
    // background-color: #f3f3f3
    position: relative
    counter-reset: groupLetter
    overflow: hidden
    background: url(#{$img-path}custom/projects/football/scoresbg.jpg) 0 104px

    & .page
        padding: 0 20px
        position: relative

    &:before
        display: block
        content: ''
        width: 100%
        height: 104px
        position: absolute
        top: 0
        left: 0
        background: url(#{$img-path}custom/projects/football/scoresline.jpg) 0 0


    &__group
        width: 100%
        margin-top: 0
        float: left
        margin-right: 30px
        counter-increment: groupLetter
        position: relative
        overflow: hidden
        padding: 29px 0 28px

        &:nth-child(n+4)
            // display: none

        &-name
            +font(0px)

            &:before
                content: counter(groupLetter, lower-alpha);
                text-transform: uppercase
                display: block
                position: absolute
                color: rgba(0,0,0,.2)
                +font(181px)
                z-index: 8
                left: 0
                top: 5px
                font-weight: bold
                line-height: 200px
                width: 100%
                text-align: center

    .section-article &
        //margin: 30px -20px
        padding: 30px

        h2
            text-align: left
        
        table
            width: 100% !important
            margin-top: 0

            td
                padding: 10px

            & + table
                margin-right: 0px
                margin-top: 20px                

    &__head
        display: none 
        clear: both
        margin: 0 -20px 10px

    &__part
        display: block

        &:after
            display: block
            clear: both
            content: ''
            height: 0
            font-size: 0

        &.active
            display: block

        & + .b-scores__part
            display: none

    &.colorbox
        background: none
        padding: 0
        margin: 0
        z-index: 100

        &:before
            background: none

        h2
            margin-left: 0
            line-height: 36px
            color: #000
            +font(21px)
            padding-top: 10px
            text-align: center

        #{$block}

            &__group
                width: 100%
                margin: 0
                padding: 20px 0
                border: 20px solid #f3f3f3

                & + .b-scores__group
                    margin-top: -20px

                &-name
                    &:before
                        text-align: center
                        width: 100%
                        color: #F3F3F3

                & table 
                    margin: 0
                    width: 100%

                    & tr:first-child

                        & td
                            color: #000

                            &:nth-child(n+2)
                                text-align: right
                                width: 15%

                    & tr

                        &:hover

                            & td
                                background-color: #fbfbfb

                        & td

                            &:nth-child(n+3)
                                text-align: right
                                width: 15%

                            &.full
                                display: none

                        &.russia

                            & td
                                font-weight: normal
                                text-transform: none

                                &:first-child:before
                                    background: none

            &__game-date
                position: absolute
                top: -20px
                left: 0
                width: 100%
                text-align: center
                white-space: nowrap
                +font(13px)

            &__part
                display: none

                &.active
                    display: block

            &__body
                padding: 30px 0

            &__full-table
                display: none

            &__wrapper
                clear: both

            &__playoff
                margin: 0 auto
                display: block

                &__table.eighth

                    & > div
                        margin-bottom: 50px

            &__head
                margin-bottom: 30px
                display: block
                overflow: hidden
                text-align: center
                margin-top: 15px

                &__links
                    overflow: hidden
                    text-align: center
                    
                &__uri
                    text-transform: uppercase
                    +font(14px)
                    color: $blue
                    margin: 0
                    display: inline-block

                    &.active
                        color: $white

                        & span
                            background-color: $yellow

                    & span
                        display: block
                        padding: 5px 15px
                        +rounded-corners(40px)

        & table
            width: 100%
            float: none
            margin: 0 0 30px

            & + table
                margin-bottom: 0


    &:after
        display: block
        clear: both
        height: 0
        font-size: 0
        content: ''

    &__body
        // padding-top: 15px

        &:after
            content: ''
            display: block
            height: 0
            clear: both

    h2
        text-transform: uppercase
        text-align: center
        +font(18px)
        color: $white
        font-weight: normal
        position: relative
        z-index: 1
        padding: 40px 0 25px // 30 0 12
    
    table
        width: 100%
        position: relative
        z-index: 9

        & tr
            +font(14px)

            &:first-child
                text-transform: uppercase
                font-weight: bold
                white-space: nowrap

                & td
                    color: $white

            & td
                padding: 5px 10px
                white-space: nowrap
                // background-color: $white
                // border-bottom: 2px solid #f3f3f3

                &:first-child
                    padding-left: 20px
                    padding-right: 0

                &:last-child
                    padding-right: 20px
                    padding-left: 0

                &.full
                    display: none

        & tr.russia

            & td                
                text-transform: uppercase
                font-weight: bold

                &:first-child

                    &:before
                        display: block
                        content: ''
                        width: 100%
                        height: 31px
                        left: 0
                        margin-top: -5px
                        position: absolute
                        z-index: -1
                        +rounded-corners(31px)
                        // background-color: rgba($yellow, 0.5)
                        background-color: $yellow

    table + table
        margin-top: 20px

    &__full-table
        text-align: center
        +font(13px)
        font-weight: bold
        color: $white
        text-decoration: underline

        display: none
        position: absolute
        top: 40px
        right: 30px

        z-index: 2
        
        &.mobile
            display: block
            position: static
            padding: 30px 0 20px 
            clear: both
            color: $white

    // &.b-sidebar-right__item
    //     #{$block}
    //         &__full-table
    //             display: none
    //             &.mobile
    //                 display: block

    &.shiftContainer_active
        table + table
            margin-left: 0

    &_aside
        padding: 20px!important
        background: $article-color
        margin: 0 -20px

        #{$block}

            &__part
                display: none

                & + .b-scores__part
                    display: block

                    & .b-scores__playoff
                        display: block

                        & > div
                            display: none

                            &:nth-child(3)
                                display: block
                                padding-top: 0

                        & div.quarter
                            display: block

            &__game-date
                color: #999
                +font(13px)
                margin-bottom: 10px
                text-align: center

            &__playoff
                margin: 20px 0 0

                .quarter

                    #{$block}
                        &__playoff

                            &__block
                                width: 100%
                                background: none
                                border: none
                                padding: 0
                                margin: 0
                                margin-bottom: 20px
                                float: none

                                &:nth-child(3)
                                    margin-top: 0

                                &:last-child
                                    margin-bottom: 0

                            &__team
                                display: inline-block
                                float: none
                                width: 42%
                                text-align: left

                                & .b-icon-country
                                    display: none

                                &:last-child
                                    text-align: right

                                    & .b-icon-country
                                        float: right
                                        margin-right: 0
                                        margin-left: 10px

                            &__game-score
                                width: 16%
                                float: none
                                display: inline-block

                            &__game-box
                                padding: 20px
                                background-color: $white
                                border: 1px solid #E2E2E2

        &:before,
        & h2,
        & .b-scores__head,
        & .b-scores__head__uri,
        & .b-scores__full-table,
        & .b-scores__group:nth-child(1),
        & .b-scores__group:nth-child(3),
        & .b-scores__group:nth-child(4),
        & .b-scores__group:nth-child(5),
        & .b-scores__group:nth-child(6)
            display: none

    //     .b-scores__group:nth-child(2)
    //         width: 100%
    //         margin: 0
    //         padding: 0
    //         display: block
    //         float: none

    //     table tr:first-child td
    //         padding-bottom: 0!important
    //         color: $black

    //     table td
    //         padding: 8px 15px!important

        .b-scores__body
            padding: 20px
            background-color: $white

    //     .b-scores__group-name:before
    //         content: 'B'
    //         +font(200px)
    //         top: -15px
    //         left: 0
    //         width: 100%
    //         text-align: center
    //         margin-left: -10px
    //         color: $article-color




    +bp-tablet

        &
            margin: 0

            &_aside
                padding: 30px !important
                margin: 0

                #{$block}

                    &__playoff

                        .quarter

                            #{$block}

                                &__playoff

                                    &__team

                                        &:before
                                            display: inline-block
                                            content: ''
                                            width: 20px

                                        & .b-icon-country
                                            display: block
                                            margin-top: -2px

                                        &:last-child

                                            & .b-icon-country
                                                margin-top: 0

                                            &:before
                                                display: none

                                            &:after
                                                display: inline-block
                                                content: ''
                                                width: 20px


            & .page
                padding: 0 30px

            .section-article &

                table
                    width: calc(50% - 15px)

                    & + table
                        margin-top: 0

                h2
                    text-align: center

            &__head
                clear: none
                margin: 0

            &.colorbox

                h2
                    float: left
                    +font(24px)
                    text-align: left

                #{$block}

                    &__body
                        padding: 30px
                
                    &__group
                        padding: 30px
                        border: 30px solid #f3f3f3
                        
                        & + .b-scores__group
                            margin-top: -30px

                        &-name
                            &:before
                                width: 220px

                        & table 
                            margin: 0 0 0 220px
                            width: calc(100% - 220px)

                            & tr:first-child
                                
                                & td
                                
                                    &:nth-child(n+2)
                                        width: 13%
                            
                            & tr
                            
                                & td
                                
                                    &:nth-child(n+3)        
                                        width: 13%
                                    
                                    &.full_tablet
                                        display: table-cell

                    &__head
                        margin-bottom: 30px

                        &__links
                            overflow: hidden
                            text-align: center
                            
                        &__uri
                            text-transform: uppercase
                            +font(14px)
                            margin: 0
                            display: inline-block

                            &.active

                                & span
                                    background-color: $yellow

                            & span
                                display: block
                                padding: 5px 15px
                                +rounded-corners(40px)

            h2
                text-align: left

            &__group
                width: calc((100% / 3) - 30px)
                margin: 0 15px

            table
                width: 100%

            &__full-table
                &.mobile
                    padding: 5px 0 20px 

    +bp-tabletLandscape

        &

            h2
                +font(21px)
                padding: 40px 0 18px

            &__full-table
                display: block
        
                &.mobile
                    display: none

            &.colorbox
                #{$block}
                    &__full-table
                        display: none

                    &__group
                        & table
                            & tr
                                & td
                                    &.full
                                        display: table-cell
            
            &__group
                
                &:nth-child(n+4)
                    display: block

    +bp-desktop

        &            
            // margin-left: 15px
            margin-right: 0
            // padding: 15px 30px 30px

            &__full-table
                top: 40px

            table
                width: 265px
                float: right

                & tr td
                    padding: 5px 10px

            &__group
                &-name
                    &:before
                        text-align: left

    +bp-desktopFull

        &

            table
                width: 285px




$playoff: '.b-scores__playoff'

#{$playoff}
    margin: 30px auto
    overflow: hidden
    display: none

    &:after 
        clear: both
        display: block
        content: ''
        height: 0
        font-size: 0

    &__table
        width: 100%
        text-align: center

    &__title
        clear: both
        text-align: center
        font-weight: bold
        padding: 30px 0 20px
        +font(16px)
        text-transform: uppercase
        position: relative
        z-index: 30

    &__block
        display: inline-block
        padding: 20px 10px
        background-color: $white
        border: 1px solid #ccc
        // width: 220px
        height: 120px
        box-sizing: border-box
        text-align: left
        position: relative
        float: left            
        width: 100px
        margin: 0 calc((100% - 200px) / 4) 30px

        .quarter &

            &:nth-child(2n+2)
                clear: both

            &:nth-child(n+3)
                float: right

            &:nth-child(3)
                margin-top: -150px

            &:nth-child(4)
                clear: right
            
            &:nth-child(2):before, &:nth-child(4):after
                position: absolute
                bottom: 50%
                width: 25%
                content: ''
                height: 1px
                border-top: 1px solid #E2E2E2

            &:nth-child(2):before
                left: -25%

            &:nth-child(4):after
                right: -25%


    &__table.half > div
        // margin: 0 calc((100% - 440px) / 4)
        z-index: 20

        &:before, &:after
            position: absolute
            bottom: 50%
            width: 25%
            content: ''
            height: 315%
            border: 1px solid #E2E2E2

        &:before
            left: -25%
            border-right: none

        & + div

            &:before
                display: none

            &:after
                display: block

        &:after
            right: -25%
            border-left: none
            display: none

    &__table.final > div
        margin: 0
        z-index: 10
        float: none

        &:before, &:after
            position: absolute
            bottom: 50%
            width: 30%
            content: ''
            height: 200%
            border: 1px solid #E2E2E2
            border-top: none

        &:before
            left: -30%
            border-right: none

        &:after
            right: -30%
            border-left: none

    &__table.third > div
        float: none

    &__game-box
        // float: left

    &__game-score
        font-weight: bold
        width: 100%
        margin: 10px 0
        text-align: center

    &__team
        height: 19px
        text-align: center
        +font(13px)

        // .b-icon-country
        //     float: left
        //     margin-right: 10px

        .b-icon-country
            position: absolute
            top: 50%
            margin-top: -5px

        &:first-child

            .b-icon-country
                left: 10px

    &__game-score + &__team
        clear: both

        .b-icon-country
            right: 10px

    +bp-tablet

        &
            &__block
                width: 170px
                margin: 0 calc((100% - 340px) / 4) 30px   
                padding: 20px 

            &__table.final > div

                &:before, &:after
                    width: 60%

                &:before
                    left: -60%

                &:after
                    right: -60%

    +bp-tabletLandscape

        &
            
            &__game-score
                float: right
                width: auto
                margin: 0

            &__team
                text-align: left
                +font(14px)

                .b-icon-country
                    position: static
                    margin: 0 10px 0 0
                    float: left

            &__block
                float: none            
                width: 21%
                margin: 0 2%
                vertical-align: middle
                height: 97px

                .quarter &
                    z-index: 40

                    &:nth-child(2n+2)
                        clear: none

                    &:nth-child(n+3)
                        float: none

                    &:nth-child(3)
                        margin-top: 0

                    &:nth-child(4)
                        clear: none
                    
                    &:nth-child(2):before, &:nth-child(4):after
                        display: none

                    &:nth-child(2):before
                        left: -25%

                    &:nth-child(4):after
                        right: -25%

            &__table.half > div
                margin: 0 calc((100% - 42%) / 4)
                z-index: 20

                &:before, &:after
                    position: absolute
                    bottom: 50%
                    width: 25%
                    content: ''
                    height: 170%
                    border: 1px solid #E2E2E2

                &:before
                    left: -25%
                    border-right: none

                & + div

                    &:before
                        display: block

                    &:after
                        display: block

                &:after
                    right: -25%
                    border-left: none
                    display: block

            &__table.final > div
                margin: 0
                z-index: 10
                float: none

                &:before, &:after
                    position: absolute
                    bottom: 50%
                    width: 70%
                    content: ''
                    height: 200%
                    border: 1px solid #E2E2E2
                    border-top: none

                &:before
                    left: -70%
                    border-right: none

                &:after
                    right: -70%
                    border-left: none

            &__table.third > div
                float: none


