/*
 * Счетчики
 * 
 */

// Объявляем блок
$block: '.b-counter'

// Стили 
#{$block}
    margin-left: 14px
    padding-bottom: 10px
    overflow: hidden

    &__item
        margin-right: 20px
        float: left