/*
 * Шапка ленты контента
 * 
 */

// Объявляем блок
$block: '.b-head-info'

// Основной блок
#{$block}
    &__wrapper
        width: 100%
        &:first-child
            width: 100%
            margin: 20px 0

        .has-half &
            width: 100%

    &__row
        &:last-child
            #{$block}
                &__wrapper
                    &:first-child
                        margin: 5px 0

    &__title
        +font(20px)

        font-family: $f-sans
        font-weight: bold
        text-transform: uppercase

    +bp-tabletLandscape
        &
            &__title
                +font(26px)
    +bp-desktop
        &
            &__wrapper
                width: 30%
                float: right
            &__wrapper:first-child
                float: left
                width: 70%
            &__row
                &:last-child
                    #{$block}
                        &__wrapper
                            width: 100%
        &
            &__title
                +font(30px)
