/*
 * Поле поиска
 * 
 */

// Объявляем блок
$block: '.b-search-bar'

// Модификаторы

// Стили
#{$block}

    &__form
        margin: 0
        padding: 0

        // Убираем стандартный отступ
        & .b-form__fieldset
            margin-bottom: 0

            // inline-block fix
            font-size: $f-sz-zero
            letter-spacing: 0

        & .b-field
            
        // Контейнер
        & .b-field_input_text
            display: inline-block

        // Элемент
        & .b-field__input_text
            padding: 7px 10px