// Объявляем блок
$block: '.b-sidebar-left'

// Стили
#{$block}
    display: none

    &__advert

        &.is-fixed
            position: fixed
            top: 0

        &.is-bottom
            position: absolute
            top: auto
            bottom: 25px

    // Tablet
    +bp-tablet

        &
            width: 240px
            float: left
            
            display: block

        //&:after
            //content: ''
            //width: 240px
            //height: 100%
            
            //position: absolute

            //background-color: $white
            //z-index: -1

        &:before
            content: ''
            width: 240px
            height: 100%
            
            position: fixed
            z-index: -1

            background-color: $white


    // Tablet landscape
    +bp-tabletLandscape

        &
            //width: 280px

    // Desktop
    +bp-desktop

        &
            //width: 310px
            //width: 240px
            display: block

    // Desktop full
    +bp-desktopFull

        &
            width: $width-block

            //&:after
                //width: 310px

            &:before
                width: $width-block