$block: '.b-exchange'

#{$block}
    margin-bottom: 30px


    &__list
        padding: 20px
        border: 1px solid #dedede
        display: table
        width: 100%

    &__item
        display: table-cell
        vertical-align: middle
        font-size: 13px
        text-align: center
        white-space: nowrap
        
        &__title
            display: none
            text-transform: uppercase
            font-weight: bold
            padding-right: 10px

        &:nth-child(2)
            padding: 0 10px

        &__icon
            width: 20px
            height: 20px
            display: inline-block
            margin-right: 8px
            vertical-align: -4px
            background: url(/res/images/sprite_main.png) -192px 0 no-repeat

            .USDRUB &
                background-position: -192px 0px

            .EURRUB &
                background-position: -192px -20px

            .OIL &
                background-position: -192px -40px

        &__rate
            width: 6px
            height: 10px
            display: inline-block
            margin-left: 8px
            vertical-align: 0
            background: none

            .positive &
                background-image: url(/res/images/sprite_main.png)
                background-position: -192px -62px

            .negative &
                background-image: url(/res/images/sprite_main.png)
                background-position: -198px -62px

    +bp-tablet

        &

            &__item

                &__title
                    display: inline-block

    +bp-desktop

        &

            &__item

                &__title
                    display: none


    +bp-retina

        &

            &__item

                &__icon
                    background-image: url(/res/images/sprite_main_2.png)
                    background-size: $retina-icon-width

                &__rate
                    background-size: $retina-icon-width

                    .positive &
                        background-image: url(/res/images/sprite_main_2.png)

                    .negative &
                        background-image: url(/res/images/sprite_main_2.png)