/*
 * Стили для брендирования в шапке
 *
 */


// Объявляем блок
$block: '.b-branding-head'

$id: 'cannes69'

.l-page__wrapper:before 
    content: ''
    width: calc(100% + 30px)
    height: 100%
    display: block
    position: absolute
    background: #fff
    top: 504px
    z-index: -1
    margin-left: -30px
    padding-right: 30px

    +bp-desktop

        &
            top: 506px

    +bp-desktopFull

        &
            margin-left: -60px


// Стили
#{$block}

    &__media
        margin-bottom: 20px
        padding-bottom: 39%

        background: url(#{$img-path}custom/sujets/#{$id}/branding_tabletLandscape.jpg) no-repeat 50% 0
        background-size: contain

    // Tablet 
    +bp-tablet

        &
            &__media
                background-position: 0 0
                height: 227px
                margin-bottom: 0
                padding-bottom: 0

    // Tablet landscape
    +bp-tabletLandscape

        &

            &__media
                height: 300px

    // Desktop
    +bp-desktop    

        &

            &__media
                height: 303px
                background: none


// Стилизуем бекграунд
+bp-desktop

    body
        background: #fbc700 url(#{$img-path}custom/sujets/#{$id}/bg.jpg) no-repeat -460px 0

+bp-desktopFull

    body
        background-position: 0 0