/*
 * Абстрактный блок стандартных элементов
 * 
 */

// Объявляем блок
$block: '.b'

// Стили
#{$block}

	&__title
		float: left

		+font(16px)
		font-family: $f-sans
		font-weight: normal

		margin-top: 8px
		margin-right: 19px



	&__subtitle
		+font(14px)
		font-weight: bold

	&__text
		+font(14px)

	&__subtitle
		margin-bottom: 0

	&__wrapper
		margin-bottom: 30px

.b-calendar-years
	border: 1px solid $border-color
	padding: 15px
	margin-bottom: 15px

	#{$block}

		&__title
			font-family: $f-serif
			font-style: italic
			font-weight: bold

		&__list
			clear: both

			margin-right: -60px

		&__item
			float: left
			margin-right: 50px








