/*
 * Календарь
 * Используется с инклюдом calendar
 * 
 * Изначально используется с jquery datepicker
 * поэтому структура html такая же, которая генерируется скриптом
 *
 * Кастомные стили смотреть в vendor.datepicker.custom
 * 
 */

// Объявляем блок
$block: '.b-calendar'

$uiDatepicker: '.ui-datepicker'

// Стили
#{$block}
    +font(14px)
    margin-bottom: 20px
    padding: 15px 20px
    background-color: #f3f3f3

    &__grid
        +font(13px)
        margin: 0 10px 10px 
        width: calc(100% - 20px)

        &__head, &__month
            &:after
                display: block
                clear: both
                height: 0
                font-size: 0
                content: ''

        &__head
            border-bottom: 1px solid #E0E1E3
            margin-bottom: 10px

        &__day
            display: block
            float: left
            padding: 1.2em 0.3em;
            width: calc(100% / 7)
            text-align: center

            &:nth-child(8)
                clear: both

        &__month

            &__day
                line-height: 2.3
                padding: 0

                &.today
                    +rounded-corners(3px)
                    background-color: #F36921

                    & a, & span
                        color: #fff
                        opacity: 1


    &__name
        color: #f36821
        +font(17px)
        font-style: italic
        font-weight: bold
        margin-bottom: 11px
        font-family: $f-serif
    
    &_static

        & #{$uiDatepicker}
            width: 100%
            margin-top: 0
            margin-left: 0
            display: block
            box-shadow: none

        & #{$uiDatepicker} #{$uiDatepicker}-calendar
            width: calc(100% - 20px)
            border-collapse: collapse
            margin: 0 10px 10px

            & th
                border-bottom: 1px solid #000
                padding-bottom: 10px

            & a
                // display: none

                &.is-active
                    background-color: #F36921
                    +rounded-corners(3px)
                    color: $white
                

        & #{$uiDatepicker} #{$uiDatepicker}-header
            margin-top: 0
            width: 100%

        & #{$uiDatepicker} #{$uiDatepicker}-title
            text-transform: capitalize
            padding-top: 15px

.olimpic
    
    #{$uiDatepicker}
        position: static !important
        left: 0 !important
        top: 0 !important
        right: 0
        bottom: 0

#{$uiDatepicker}


    z-index: 11 !important
    font-family: $f-sans
    
    width: 100%
    padding-top: 30px
    
    line-height: 1em
    border: 0
    +rounded-corners(0)
    +box-shadow(1px 1px 14px #888)

    .ui-widget-header .ui-icon
        background-image: url(#{$img-path}sprite_main.png)

    .ui-icon-circle-triangle-w,
    .ui-icon-circle-triangle-e
        width: 10px
        height: 20px

    .ui-icon-circle-triangle-w
        background-position: -70px -30px

    .ui-icon-circle-triangle-e
        background-position: -80px -30px

    .ui-state-hover,
    .ui-widget-content .ui-state-hover,
    .ui-widget-header .ui-state-hover,
    .ui-state-focus,
    .ui-widget-content .ui-state-focus,
    .ui-widget-header .ui-state-focus
        background: none
        border: 0

    .ui-datepicker-next
        right: -5px

    .ui-datepicker-prev-hover
        top: 2px
        left: 2px
        cursor: pointer

    .ui-datepicker-next-hover
        top: 2px
        right: -5px
        cursor: pointer

    .ui-widget-header
        background: $white
        border: 0

    .ui-datepicker-year
        font-weight: normal

    .ui-datepicker-week-end
        color: $attention

    .ui-state-default,
    .ui-widget-content .ui-state-default,
    .ui-widget-header .ui-state-default
        font-weight: normal
        
        color: $black

        background: $white
        +rounded-corners(2px)
        border: 0

    .ui-state-active,
    .ui-widget-content .ui-state-active,
    .ui-widget-header .ui-state-active
        background: $red
        color: $white

    .ui-state-highlight,
    .ui-widget-content .ui-state-highlight,
    .ui-widget-header .ui-state-highlight
        border: 1px solid $border-color

    th
        font-weight: normal
        padding: 1.2em 0.3em

    td span, td a
        text-align: center

    table
        +font(13px)
        
        width: 300px
        margin: 0 auto
        
        border-collapse: separate
        border-spacing: 5px

    table thead
        width: 100%
        margin: 0
        padding: 0

        border-bottom: 1px solid $border-color
        border-spacing: 0
        display: inline-table

    table tbody
        width: 100%
        display: table

    .ui-datepicker-header
        width: 300px
        margin: 20px auto 0

    td
        line-height: 1.8em

    .ui-priority-secondary
        +opacity(0.3)

    .ui-datepicker-buttonpane
        width: 100%

        position: absolute
        top: 0
        left: 0

        text-align: center
        border: 0

    .ui-state-default.ui-datepicker-close
        width: 20px
        height: 20px

        float: none

        background-image: url(#{$img-path}sprite_main.png)
        background-position: -90px -30px

    .ui-datepicker-current.ui-state-default
        display: none


    // Retina
    +bp-retina

        &

            .ui-widget-header .ui-icon
                background-image: url(#{$img-path}sprite_main_2.png)
                background-size: $retina-icon-width

            .ui-icon-circle-triangle-w
                background-position: -70px -30px

            .ui-icon-circle-triangle-e
                background-position: -80px -30px

            .ui-state-default.ui-datepicker-close
                background-image: url(#{$img-path}sprite_main_2.png)
                background-size: $retina-icon-width
                background-position: -90px -30px

    // Phones
    @media screen and (max-width: 767px)

        &
            position: fixed !important
            left: 0 !important
            top: 0 !important
            right: 0
            bottom: 0

    // Tablet
    +bp-tablet

        &
            width: 330px
            margin-left: -161px
            margin-top: 30px
            padding-top: 0

            .ui-datepicker-buttonpane
                display: none

            table
                width: 290px

            .ui-datepicker-header
                width: 290px

