/*
 * Рейтинг вопроса
 *
 */

// Объявляем блок
$block: '.b-rate'

// Стили
#{$block}
    display: inline-block
    margin-left: 5px

    &_right
        float: right

    &__icon
        display: inline-block
        width: 8px
        height: 10px
        background: url("#{$img-path}sprite_main.png") -78px -77px no-repeat

    &__value
        display: inline-block
        padding-left: 2px

    &__notification
        +font(10px)
        margin-left: 10px

    +bp-retina
        &
            &__icon
                background: url("#{$img-path}sprite_main_2.png") -78px -77px no-repeat
                background-size: $retina-icon-width