/*
 * Категории в левом сайдбаре
 * 
 */

// Объявляем блок
$block: '.b-categories'

// Стили
#{$block}

    &__body
        +font(12px)

        font-weight: bold
        padding: 12px 0 8px
        color: $link-color
        background-color: $white

        &_blue
            padding-bottom: 0

    &__item
        padding: 5px 20px 8px

        &_main
            display: inline-block
            font-weight: normal
            font-size: 14px
            padding: 5px 25px 8px 0

        &_active
            font-weight: bold
            color: $black
            pointer-events: none

        &_mobile
            display: block

        &_highlighted
            background: #9c946c
            margin-top: 5px
            padding: 10px 20px

    // Скин: белый фон
    &__body_white,
    .b-menu-user &__body
        background-color: $white

    &__body_white &__link,
    .b-menu-user &__link
        color: $black

    // Скин: темно-голубой
    &__body_blue
        color: $white
        background-color: $time-color

    &__body_blue &__list
        border-color: $blue-border-color

    &__body_blue &__item.is-active
        background-color: $red

    &__list
        margin-top: 10px
        padding-top: 10px
        border-top: 1px solid $border-color
        position: relative
        &:first-child
            margin-top: 0
            padding-top: 0
            border-top: 0

        &_sidebar
            text-transform: uppercase
            
            .b-categories__item_active
                color: $white
                background: $red-orange

    // Если открыто в оверлее на мобиле
    &_overlay &__body_blue
        background-color: transparent

    &_overlay &__body_blue &__list
        border-color: $border-color

    &_overlay &__body_blue &__link
        color: $black


    // Задаем ссылке ширину и отступы
    // чтобы по всему размеру блока было кликабельно
    &__link
        width: 100%
        margin-bottom: 5px
        display: inline-block

        &:last-child
            margin-bottom: 0

        &_disabled
            pointer-events: none

    &__all_rubrics
        +font(13px)
        font-weight: normal
        text-align: right
        background-color: #fff
        width: auto
        
        text-transform: none

        position: absolute
        z-index: 2
        right: 0
        bottom: -26px

        display: inline-block

    &_main
        margin-bottom: 10px

        & .b-categories__link

            &:hover
                color: $link-color + #111

    &_sidebar,
    &_sidebar-active-link
        & .b-categories__link
            color: $white

            &:hover
                color: $white - #333


    // Tablet
    +bp-tablet

        &

            &__list
                margin-top: 16px
                padding-top: 16px

            &__link
                margin-bottom: 13px
            
            &__all_rubrics
                background-color: $time-color
                bottom: -29px

            &__item

                &_mobile
                    display: none