/*
 * Шапка сайта
 *
 */
// Объявляем блок
$block: '.b-main'

// Переменные

// Стили
#{$block}
    display: inline-block
    position: relative
    top: 90px

    // Tablet
    +bp-tablet

        &


    // Tablet landscape
    +bp-tabletLandscape

        &


    // Desktop
    +bp-desktop

        &


    // Desktop full
    +bp-desktopFull

        &
            width: 710px
            margin: 0 30px