$block: '.b-news'
$last: '.b-news_last'

.page 
    #{$block}
        .page
            padding: 0

#{$block}
    overflow: hidden

    // Если загрузка
    & .is-loading
        //+opacity(.4)
        //+transition(opacity .3s ease)

        &:after
            content: ''
            width: 100%
            height: 20px
            display: block
            clear: both

            background: url(/res/images/spinner_black.svg) no-repeat center center

    & .page
        padding: 0 20px

    &__list-item
        position: relative
        overflow: hidden
        margin-bottom: 20px

        & a
            display: block
            position: relative

        & > a

            &:before
                position: absolute
                bottom: 0
                left: 0
                content: ''
                display: block
                width: 100%
                height: 70%
                +linear-gradient("top",  rgba(125,185,232,0) 0%, rgba(0,0,0,.9) 100%)

        & img
            display: block
            width: 100%

        &-text, &-action
            display: none

        &__first
            overflow: hidden

        &-title
            position: absolute
            bottom: 0
            left: 0
            width: 100%
            color: #fff
            padding: 34px 30px 30px
            margin: 0
            z-index: 1
            +font(16px)

            & a.b-link:visited
                color: inherit

                &:hover
                    color: #1f77bb

            &:after
                position: absolute
                bottom: 0
                left: 0
                z-index: -1
                content: ''
                display: block
                width: 100%
                height: 100%
                background: url(#{$img-path}custom/projects/football/confetti_.png) -6px 19px no-repeat

            #{$block}

                &__list-item

                    &-time
                        display: inline-block
                        position: relative
                        +font(13px)
                        color: #000
                        z-index: 1
                        margin-bottom: 10px

                        &:after
                            display: block
                            width: calc(100% + 10px)
                            height: calc(100% + 4px)
                            content: ''
                            position: absolute
                            z-index: -1
                            top: -2px
                            left: -5px
                            background-color: $yellow
                            +transform(rotate(-5deg))
                            +box-shadow(0 0 1px 1px $yellow)

    &__direct
        width: 100%
        height: 439px
        background-color: rgba(255,255,255,.2)
        margin-bottom: 20px
        position: relative
        border: 2px solid rgba(0, 180, 235, .6)
        overflow: hidden

        .adfox_item
            // position: absolute !important
            top: 0
            left: 0
            right: 0
            bottom: 0
            margin: auto

            & > div[id^="AdFox_banner"]
                margin-top: 0 !important
                height: auto !important

            & iframe
                margin: 0

        .b-ads_aside .adfox_item
            height: 400px
            margin: auto
            margin-bottom: auto
            position: absolute

    &__diary
        background: none
        border: none

    &__first

        &__left

            & #{$block}

                &__diary
                    display: none

    +bp-tablet

        &
            
            & .page
                padding: 0 30px

            &__list-item
                margin-bottom: 30px

                &__first

                    &:first-child 

                        #{$block}__list-item-title
                            +font(28px)
                            padding-top: 23px

            &__first
                clear: both

                &__left

                    & #{$block}

                        &__list-item                        

                            &:nth-child(n+2)
                                display: block
                                width: calc(50% - 15px)
                                margin-right: 15px
                                float: left

                            &:nth-child(3)
                                margin-left: 15px
                                margin-right: 0

                &__right

                    & #{$block}

                        &__list-item
                            width: calc(50% - 15px)
                            margin-right: 15px
                            float: left

                            &:last-child
                                float: right
                                margin-left: 15px
                                margin-right: 0

            &__direct
                width: calc(50% - 15px)
                float: right
                margin-bottom: 30px

                & + .b-news__direct
                    float: left
                    margin-right: 15px

    +bp-tabletLandscape

        &

            &__first 

                &__left
                    width: calc(((100% / 3) * 2) - 15px)
                    float: left

                    & #{$block}
                        
                        &__list-item

                            &:nth-child(3)
                                clear: both
                                margin-left: 0
                                margin-right: 15px

                        &__direct
                            float: right
                            display: block
                            margin-top: -228px

                &__right
                    width: calc((100% / 3) - 15px)
                    float: right
                    clear: none

                    & #{$block}

                        &__list-item
                            width: 100%
                            float: none

                        &__direct
                            width: 100%

                        &__diary
                            display: none
            
            &_last

                & .b__col
                    width: calc(50% - 20px)

                    &:first-child
                        & #{$block}
                            &__list-item
                                &:nth-child(6n+3), &:nth-child(6n+4)
                                    width: calc(50% - 15px)

    +bp-desktop

        &

            & .page
                padding: 0

            &__first
                width: calc(50% - 15px)

                &__left
                    margin-right: 15px
                    float: left

                    & #{$block}

                        &__list-item

                            &:after
                                display: block
                                content: ''
                                width: 100%
                                height: 40px
                                background-color: #000

                            &:nth-child(n+2)
                                width: calc(50% - 15px)
                                margin-right: 15px
                                float: left

                            &:nth-child(3)
                                clear: none
                                margin-left: 15px
                                margin-right: 0

                            &:last-child
                                margin-right: 0
                                margin-left: 15px
                    
                        &__diary
                            display: none


                &__right
                    margin-left: 15px
                    float: right

                    & #{$block}

                        &__list-item
                            width: calc(50% - 15px)

                            &:after
                                display: block
                                content: ''
                                width: 100%
                                height: 40px
                                background-color: #000

                            &:first-child
                                float: left
                                margin-right: 15px

                            &:last-child
                                float: right
                                // margin-top: 30px
                                margin-left: 15px

                        &__direct
                            width: calc(50% - 15px)
                            height: 410px
                            float: right

                            & + #{$block}__direct
                                float: left

                        &__diary
                            background: none
                            display: block


                & #{$block}

                    &__list-item
                        margin-bottom: 30px

    +bp-desktopFull

        &

            &-title
                +font(26px)
                font-weight: bold

            &__first

                &__left                    

                    & #{$block}

                        &__list-item

                            &:after
                                display: none

                &__right                    

                    & #{$block}

                        &__list-item

                            &:after
                                display: none
                    
                        &__direct
                            height: 439px




// Паттерны вынес для удобного изменения

#{$last}
    background-color: $white
    padding: 30px 0
    clear: both

    &__part

        & .b__col

            &:first-child

                & #{$block}

                    &__list-item
                        margin-bottom: 30px
                        width: 100%

                        &.b-news__list-x-lagre

                            h2
                                +font(18px)

                            & > a
                                position: relative

                                &:before
                                    display: block
                                    position: absolute
                                    bottom: 0
                                    left: 0
                                    width: 100%
                                    height: 30%
                                    content: ''
                                    +linear-gradient("top",  rgba(125,185,232,0) 0%, rgba(0,0,0,.7) 100%)

                            h2
                                position: static
                                color: #000
                                +font(18px)
                                text-align: left
                                padding: 20px 0 0
                                margin-top: -50px

                                &:before, &:after
                                    display: none

                                span
                                    +font(13px)
                                    color: #b8b8b8
                                    text-align: left
                                    display: block
                                    margin-bottom: 30px
                                    padding-left: 15px
                                    color: $white

                                    &:after
                                        display: none

                                a.b-link:visited
                                    color: #000
                                    
                                    &:hover
                                        color: #1f77bb

                        &.b-news__list-no-x-lagre
                            border: 20px solid #f3f3f3
                            padding: 20px

                            & img
                                display: none

                            h2
                                position: static
                                color: #000
                                +font(18px)
                                text-transform: uppercase
                                text-align: center
                                padding: 0

                                &:before, &:after
                                    display: none

                                span
                                    text-align: center
                                    position: relative
                                    display: block
                                    padding-bottom: 30px
                                    color: #b8b8b8
                                    margin: 0 auto 10px
                                    max-width: 270px

                                    &:before
                                        position: absolute
                                        height: 2px
                                        background-color: #000
                                        width: 100%
                                        display: block
                                        content: ''
                                        top: 40px

                                    &:after
                                        display: block
                                        width: 52px
                                        height: 22px
                                        content: ''
                                        position: absolute
                                        top: 31px
                                        left: 50%
                                        margin-left: -26px
                                        background: $white url(#{$img-path}custom/projects/football/ball.png) 50% 0 no-repeat
                                        z-index: 2
                                        box-shadow: none
                                        transform: none

                                a.b-link:visited
                                    color: #000
                                    
                                    &:hover
                                        color: #1f77bb

                            p
                                display: none

    +bp-tablet

        &

            &__part

                & .b__col

                    &:first-child

                        & #{$block}

                            &__list-item
                                margin-bottom: 30px

                                &:nth-child(3n+1)
                                    clear: both
                                    width: 100%

                                &:nth-child(3n+2),
                                &:nth-child(3n+3)
                                    width: 100%

                                &.b-news__list-x-lagre

                                    &:nth-child(3n+1)

                                        h2
                                            +font(18px)

                                    &:nth-child(3n+2),
                                    &:nth-child(3n+3)

                                        & > a
                                            position: relative

                                            &:before
                                                display: block
                                                position: absolute
                                                bottom: 0
                                                left: 0
                                                width: 100%
                                                height: 30%
                                                content: ''
                                                +linear-gradient("top",  rgba(125,185,232,0) 0%, rgba(0,0,0,.7) 100%)

                                        h2
                                            position: static
                                            color: #000
                                            +font(18px)
                                            text-align: left
                                            padding: 20px 0 0
                                            margin-top: -50px

                                            &:before, &:after
                                                display: none

                                            span
                                                +font(13px)
                                                color: #b8b8b8
                                                text-align: left
                                                display: block
                                                margin-bottom: 30px
                                                padding-left: 15px
                                                color: $white

                                                &:after
                                                    display: none

                                            a.b-link:visited
                                                color: #000
                                                
                                                &:hover
                                                    color: #1f77bb

                                &.b-news__list-no-x-lagre

                                    &:nth-child(3n+1)
                                        border: 20px solid #f3f3f3
                                        padding: 20px

                                        & img
                                            display: none

                                        h2
                                            position: static
                                            color: #000
                                            +font(18px)
                                            text-transform: uppercase
                                            text-align: center
                                            padding: 0

                                            &:before, &:after
                                                display: none

                                            span
                                                text-align: center
                                                position: relative
                                                display: block
                                                padding-bottom: 30px
                                                color: #b8b8b8
                                                margin: 0 auto 10px
                                                max-width: 270px

                                                &:before
                                                    position: absolute
                                                    height: 2px
                                                    background-color: #000
                                                    width: 100%
                                                    display: block
                                                    content: ''
                                                    top: 40px

                                                &:after
                                                    display: block
                                                    width: 52px
                                                    height: 22px
                                                    content: ''
                                                    position: absolute
                                                    top: 31px
                                                    left: 50%
                                                    margin-left: -26px
                                                    background: $white url(#{$img-path}custom/projects/football/ball.png) 50% 0 no-repeat
                                                    z-index: 2
                                                    box-shadow: none
                                                    transform: none

                                            a.b-link:visited
                                                color: #000
                                                
                                                &:hover
                                                    color: #1f77bb

                                    &:nth-child(3n+2),
                                    &:nth-child(3n+3)
                                        border: 20px solid #f3f3f3
                                        padding: 20px

                                        & img
                                            display: none

                                        h2
                                            position: static
                                            color: #000
                                            +font(18px)
                                            text-transform: uppercase
                                            text-align: center
                                            padding: 0

                                            &:before, &:after
                                                display: none

                                            span
                                                text-align: center
                                                position: relative
                                                display: block
                                                padding-bottom: 30px
                                                color: #b8b8b8
                                                margin: 0 auto 10px
                                                max-width: 270px

                                                &:before
                                                    position: absolute
                                                    height: 2px
                                                    background-color: #000
                                                    width: 100%
                                                    display: block
                                                    content: ''
                                                    top: 40px

                                                &:after
                                                    display: block
                                                    width: 52px
                                                    height: 22px
                                                    content: ''
                                                    position: absolute
                                                    top: 31px
                                                    left: 50%
                                                    margin-left: -26px
                                                    background: $white url(#{$img-path}custom/projects/football/ball.png) 50% 0 no-repeat
                                                    z-index: 2
                                                    box-shadow: none
                                                    transform: none

                                            a.b-link:visited
                                                color: #000
                                                
                                                &:hover
                                                    color: #1f77bb

                                        p
                                            display: none
                                

                    &:first-child

                        & #{$block}

                            &__list-item

                                &.b-news__list-x-lagre

                                    &:nth-child(3n+1)

                                        h2
                                            +font(26px)

                                &.b-news__list-no-x-lagre
                                    
                                    &:nth-child(3n+1)
                                    
                                        h2
                                            +font(26px)
                    
                    & + .b__col

                        & #{$block}

                            &__list-item
                                margin-bottom: 30px
                                width: calc(50% - 15px)

                                &:nth-child(5n+1),
                                &:nth-child(5n+3)
                                    float: left
                                    margin-right: 15px
                                    clear: both

                                &:nth-child(5n+2),
                                &:nth-child(5n+4)
                                    float: right
                                    margin-left: 15px

                                &:nth-child(5n+4)
                                    float: right

                                &:nth-child(5n+1),
                                &:nth-child(5n+2),
                                &:nth-child(5n+3),
                                &:nth-child(5n+4),
                                &:nth-child(5n+5)
                                    
                                    h2
                                        margin-top: -50px

                                        span
                                            padding-left: 15px
                                            margin-bottom: 30px

                                    & > a
                                        position: relative

                                        &:before
                                            display: block
                                            position: absolute
                                            bottom: 0
                                            left: 0
                                            width: 100%
                                            height: 30%
                                            content: ''
                                            +linear-gradient("top",  rgba(125,185,232,0) 0%, rgba(0,0,0,.7) 100%)

                                
                                &:nth-child(5n+1),
                                &:nth-child(5n+2),
                                &:nth-child(5n+3),
                                &:nth-child(5n+4),
                                &:nth-child(5n+5)

                                    & img
                                        display: block

                                    h2
                                        position: static
                                        color: #000
                                        +font(18px)
                                        text-align: left
                                        padding: 20px 0 0

                                        &:before, &:after
                                            display: none

                                        span
                                            +font(13px)
                                            color: $white
                                            text-align: left
                                            display: block

                                            &:after
                                                display: none

                                        a.b-link:visited
                                            color: #000
                                                
                                            &:hover
                                                color: #1f77bb
                                
                                &:nth-child(5n+4)
                                    border: 20px solid #f3f3f3
                                    padding: 20px

                                    & img
                                        display: none

                                    h2
                                        padding: 0
                                        +font(18px)
                                        text-align: center
                                        text-transform: uppercase
                                        margin-top: 0

                                        span
                                            text-align: center
                                            position: relative
                                            display: block
                                            padding-bottom: 30px
                                            color: #b8b8b8

                                            &:before
                                                position: absolute
                                                height: 2px
                                                background-color: #000
                                                width: 100%
                                                display: block
                                                content: ''
                                                top: 40px
                                                left: 0

                                            &:after
                                                display: block
                                                width: 52px
                                                height: 22px
                                                content: ''
                                                position: absolute
                                                top: 31px
                                                left: 50%
                                                margin-left: -26px
                                                background: $white url(#{$img-path}custom/projects/football/ball.png) 50% 0 no-repeat
                                                z-index: 2
                                                box-shadow: none
                                                transform: none

                                    p
                                        display: none

                                &:nth-child(5n+5)
                                    width: 100%

                                    & .b-news__list-item-text
                                        display: block
                                        padding-top: 10px

                                    & > a
                                        float: left
                                        margin-right: 30px
                                        width: 30%

                                    h2
                                        padding: 0
                                        width: calc(70% - 30px)
                                        float: right
                                        margin-top: 0

                                        span
                                            color: #b8b8b8
                                            margin: 0 0 10px
                                            padding: 0
            
    +bp-tabletLandscape

        &

            & .b__col
                width: calc(50% - 20px)

                &:first-child
                    float: left
                    margin-right: 15px

                    & #{$block}

                        &__list-item

                            &:nth-child(3n+3)

                                width: calc(50% - 15px)

                            &:nth-child(3n+2),
                            &:nth-child(3n+3)
                                width: calc(50% - 15px)

                            &:nth-child(3n+2)
                                clear: both
                                float: left
                                margin-right: 15px

                            &:nth-child(3n+3)
                                float: right
                                margin-left: 15px

                & + .b__col
                    float: right
                    margin-left: 20px                                