/*
 * Футер
 * 
 */

// Объявляем блок
$block: '.b-footer-cols'

// Стили 
#{$block}
    padding: 10px 0 0
    overflow: hidden

    &__row

        &.has-1
            padding-top: 0
            border-top: 0

        &.has-3
            color: $comment-color

    &__item
        vertical-align: top
        list-style: none

        // inline-block fix
        +font(13px)
        letter-spacing: $letterSpacingDefault
        line-height: 24px
        margin-bottom: 30px

        &:last-child
            margin-right: 0

        &_middle
            width: 115px

    &__rss
        +font(13px)
        display: none

    &__list-item
        margin-bottom: 10px

    &__list-item-title
        +font(13px)
        font-family: $f-sans

        margin-bottom: 0
    

    // Tablet
    +bp-tablet

        &
            
            &__row
                //width: auto
                width: 100%
                margin: 15px 0 0
                padding-top: 0
                display: inline-block
                vertical-align: top
                text-align: left
                border-top: 0
                &.has-2
                    margin-top: 25px

                //+flexbox // 20.01.2016 - торжество прогресса. Первый flexbox на новейшем сайте rg.ru
                // как пришло, так и ушло - скатертью дорога!
                //+flex-just(space-between)

            &__item
                display: inline-block
                width: 220px
                margin-right: 75px
                margin-bottom: 0
                &_middle
                    width: 115px
                    margin-right: 90px
                &:last-child
                    width: 200px
            

    // Tablet landscape
    +bp-tabletLandscape

        &

            &__row
                position: relative
                &.has-1
                    width: 100%

                &.has-2
                    width: 100%
                    margin-top: 20px
            
            &__item
                width: 220px
                &_middle
                    width: 235px
                    margin-right: 70px
                    margin-left: -10px
                &:last-child
                    width: 315px
            
    // Desktop
    +bp-desktop

        &
            &__row
                &.has-1
                    width: 755px
                    margin-top: 15px

                &.has-2
                    width: 420px
                    margin-top: 15px
                    float: right

            &__item
                margin-right: 30px
                width: 260px
                &_middle
                    width: 150px
                    margin-left: 0
                    margin-right: 52px
                &:last-child
                    width: 260px
                    float: right

            &__rss
                position: absolute
                left: -4px
                bottom: -85px
                display: inline

    // Desktop full
    +bp-desktopFull

        &
            &__row

                &.has-2
                    width: 450px
           
            &__item
                margin-right: 25px
                &_middle
                    margin-right: 60px