/*
 * Онлайн новости в шапке
 * 
 */


// Объявляем блок
$block: '.b-broadcast'

// Стили

#{$block}
    +font(13px)

    display: inline-block
    width: auto!important
    padding-left: 40px!important

    &:first-child
        display: none

    &__score
        float: right
        font-weight: bold
        margin-left: 15px

    &__item_type_live &__score
        color: $attention

    &__media
        margin: 0 5px
        float: left

    &__img
        max-width: 18px
        height: 18px

    &__score
        color: $red
        position: relative

    &__date
        font-size: 11px
        color: $comment-color


    &__item:first-child

        #{$block}

            &__score:after
                content: ":"
                position: absolute
                top: -1px
                left: 10px
                font-size: 14px

    &__divider
        display: none

    &__item
        margin-bottom: 5px
        vertical-align: top

    &__row
        margin-bottom: 5px

    &__info
        position: relative
        color: $comment-color

        &:before
          //content: ''

          width: 4px
          height: 4px

          position: absolute
          top: 7px
          left: -10px
          
          background-color: $attention

          +rounded-corners(50%)

    &__item_type_live &__info
        padding-left: 30px
        position: relative
        color: $black

        &:before
          content: ''

          width: 4px
          height: 4px

          position: absolute
          top: 7px
          left: 17px
          
          background-color: $attention

          +rounded-corners(50%)

    &__title
        //max-width: 150px
        position: relative
        display: inline-block
        vertical-align: top
        white-space: nowrap
        overflow: hidden


    // Tablet landscape
    +bp-tabletLandscape

        &

            &__item_screen_tablet
                display: none

            &__item
                display: inline-block
                margin-bottom: 0

            &__item:last-child &__title
                float: right
                line-height: 1.7

            &__item:last-child &__media
                float: right
                line-height: 1.7


            &__item_type_live &__info
                padding-left: 10px

                &:before
                    left: 0

            &__info:before
                content: none

            &__divider
                display: initial

            &__row
                //line-height: 1.6em

            &__score
                margin: 0 5px
                float: none
                display: inline-block
                vertical-align: middle
                color: initial

            &__media
                display: inline-block
                vertical-align: middle
                float: none

            &__title
                vertical-align: middle

            &__title_long
            
                &:after
                    content: ''

                    width: 30px
                    height: 25px

                    position: absolute
                    top: 0
                    right: 0

                    // FF3.6+
                    background: -moz-linear-gradient(left, rgba(242, 242, 242, 0) 0%, rgba(242, 242, 242, 0) 1%, rgba(255, 255, 255, 1) 99%, rgba(255, 255, 255, 1) 100%)

                    // Chrome,Safari4+
                    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(242, 242, 242, 0)), color-stop(1%, rgba(242, 242, 242, 0)), color-stop(99%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(255, 255, 255, 1)))

                    // Chrome10+,Safari5.1+
                    background: -webkit-linear-gradient(left, rgba(242, 242, 242, 0) 0%, rgba(242, 242, 242, 0) 1%, rgba(255, 255, 255, 1) 99%, rgba(255, 255, 255, 1) 100%)

                    // Opera 11.10+
                    background: -o-linear-gradient(left, rgba(242, 242, 242, 0) 0%, rgba(242, 242, 242, 0) 1%, rgba(255, 255, 255, 1) 99%, rgba(255, 255, 255, 1) 100%)

                    // IE10+
                    background: -ms-linear-gradient(left, rgba(242, 242, 242, 0) 0%, rgba(242, 242, 242, 0) 1%, rgba(255, 255, 255, 1) 99%, rgba(255, 255, 255, 1) 100%)

                    // W3C
                    background: linear-gradient(to right, rgba(242, 242, 242, 0) 0%, rgba(242, 242, 242, 0) 1%, rgba(255, 255, 255, 1) 99%, rgba(255, 255, 255, 1) 100%)

                    // IE6-9
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00f2f2f2', endColorstr='#ffffff',GradientType=1 )

    // desktop
    +bp-desktop

        &:first-child
            display: inline-block
