/*
 * Блок возрастного ограничения
 * 
 */

// Объявляем блок
$block: '.b-age'

#{$block}
    +font(11px)
    font-weight: bold
    float: right

    &.b-footer__developer-item
    	position: absolute
    	top: 20px
    	right: 20px
