/*
 * Блок спортивных трансляций в материале
 * 
 */


// Объявляем блок
$block: '.b-broadcast-sport'

// Стили
#{$block}
    margin-bottom: 20px

    margin-left: -20px
    margin-right: -20px

    // Заголовок
    &__title
        +font(14px)
        font-weight: bold
        padding: 12px 0
        text-align: center

        border-bottom: 1px solid $border-color

    // Основная информация
    &__info
        border: 20px solid $today-bg-color

        &__row

            // Основной блок таблицы
            &_rival
                font-size: 0
                position: relative

                &-item
                    width: 50%
                    height: 180px
                    position: relative

                    display: inline-block
                    vertical-align: top
                    text-align: center

                    .biathlon &
                        width: 100%
                        max-width: 100%

                // Информация команды
                &__info
                    +font(16px)
                    margin-top: 30px

                    .biathlon &
                        margin-top: 35px

                // Лого команды
                &__media
                    width: 60px
                    height: 60px
                    margin: 0 auto 12px
                    position: relative
                    overflow: hidden

                    +rounded-corners(100%)
                    +box-shadow(0 0 1px 0 rgba($black, .4))

                // Картинка лого
                &__img
                    //width: 100%
                    margin: auto

                    position: absolute
                    top: 0
                    right: 0
                    bottom: 0
                    left: 0

                    height: 100%

                // Название команды
                &__title
                    +font(14px)
                    font-weight: bold
                    text-align: center
                    line-height: 1.2em
                    max-width: 110px
                    display: inline-block

                    .biathlon &
                        width: 100%
                        max-width: 100%

                // Счет команды
                &__score
                    +font(22px)
                    font-weight: bold
                    padding: 0 .3em
                    
                    position: absolute
                    top: 64px

                    background: $time-color
                    color: $white

                    +rounded-corners(3px)

                // Кастомизация

                // левый
                &-item.has-left
                    //padding-left: 30px

                    &:before
                        content: ':'
                        +font(40px)
                        font-weight: bold

                        position: absolute
                        top: 75px
                        right: -6px

                        line-height: 0

                &-item.has-left &__info
                    margin-left: -40px
                    //float: left

                &-item.has-left &__score
                    right: 15px

                // правый
                &-item.has-right
                    //padding-right: 30px

                &-item.has-right &__info
                    margin-right: -40px
                    //float: right

                &-item.has-right &__score
                    left: 15px

            // Что это - спроси у Макса
            &_grid

                &-item
                    padding: 10px 0
                    border-top: 2px solid $today-bg-color
                    +font(14px)
                    text-align: right
                    padding-right: 50%

                    &.right
                        text-align: left
                        padding-right: 0
                        padding-left: 50%

                        

                    &.right &__time
                        margin-left: -35px
                        margin-right: 0

                    &__icon
                        width: 20px
                        height: 20px
                        margin: 0 20px
                        display: inline-block
                        background:url(/res/images/sport_sprite.png) -60px -20px no-repeat
                        vertical-align: middle

                        .soccer &
                            background-position: -60px -20px
                        
                        .hockey &
                            background-position: -80px 0

                    &__time
                        display: inline-block
                        width: 70px
                        text-align: center
                        margin-right: -35px

            // Статус трансляции
            &__status
                +font(13px)
                
                max-width: 110px
                margin: auto

                position: absolute
                top: 104px
                right: 0
                left: 0
                
                text-align: center

                &.is-active

                    &:before
                        content: '\2022'
                        font-weight: bold

                        margin-right: 4px
                        display: inline-block
                        
                        vertical-align: top
                        color: $red

            // Стадион
            &__stadium
                +font(13px)

                +font(13px)
                
                width: 170px
                margin: auto

                position: absolute
                top: 30px
                right: 0
                left: 0
                
                text-align: center



    // Панель основных пунктов
    &__menu
        font-size: 0 // ib fix
        padding: 24px 0
        text-align: center

        background-color: $white

        border-bottom: 1px solid $border-color

        &.is-fixed
            position: fixed
            top: 62px
            z-index: 100
            width: 100%

        &-item
            +font(13px)
            margin: 0 20px
            display: inline-block

            &.is-active .b-link
                font-weight: bold
                color: $black
    
    &__title + &__struct-item

        #{$block}

            &__struct

                &__name,
                &__coach,
                &__info
                    text-align: right

                    &:after
                        left: 0

    // Составы
    &__struct
        font-size: 0 // ib fix

        &-item
            width: 49%
            display: inline-block

        &__wrapper
            border-bottom: 1px solid $border-color

        &__name,
        &__coach,
        &__info // Доп. информация
            +font(13px)
            padding: 12px 0

            width: 80%
            margin: 0 auto
            position: relative       

            overflow: hidden
            white-space: nowrap

            &:after
                content: ''

                width: 10px
                height: 100%

                position: absolute
                top: 0
                right: 0

                +linear-gradient('to right', rgba($white, 0) 0%, $white 80%, $white 100%) 

        &__info
            padding-right: 20px
            text-align: left

    // Трансляция
    &__post
        // height: 650px
        overflow: auto
        border-bottom: 1px solid $border-color

        &-item
            font-size: 0
            padding: 12px 20px

            & a
                text-decoration: underline
                color: #1f77bb

                &:hover
                    text-decoration: none

            &_major
                background-color: $today-bg-color
                border-bottom: 1px solid $white

        &__min
            //width: 62px
            width: 10.5084%
            
            color: $comment-color

            &:after
                content: '\2032'

        &__event
            width: 88%

            &:before
                display: inline-block
                width: 20px
                height: 20px
                margin-right: 10px
                vertical-align: middle
                content: ''
                background:url(/res/images/sport_sprite.png) no-repeat

            &__id
                &0:before, &6:before, &7:before, &8:before
                    width: 0
                    margin: 0
                
                // soccer
                &1:before
                    background-position: -60px -20px

                &2:before, &44:before
                    background-position: -40px -20px

                &3:before
                    background-position: 0 -20px

                &4:before
                    background-position: -20px -20px

                &5:before
                    background-position: -80px -20px
                
                // hockey
                &12:before
                    background-position: 0 0

                &10:before
                    background-position: -20px 0

                &9:before
                    background-position: -40px 0

                &13:before
                    background-position: -59px 0

                &11:before
                    background-position: -80px 0
                
                // tennis
                &30:before
                    background-position: 0 -40px

                &29:before
                    background-position: -20px -40px

                &27:before
                    background-position: -40px -40px

                &28:before
                    background-position: -60px -40px
                
                // лыжи
                &34:before
                    background-position: 0 -60px

                &36:before
                    background-position: -20px -60px

                &31:before, &32:before
                    background-position: -40px -60px

                &35:before
                    background-position: -60px -60px

                &33:before
                    background-position: -80px -60px



            // &__was

        &__text
            width: 100%
            margin-top: 10px

        &__min,
        &__event,
        &__text
            +font(14px)
            display: inline-block
            vertical-align: top

        .mCSB_container
            // padding-right: 20px


    // Статистика
    &__stats

        &-item
            font-size: 0
            padding: 12px 0

            border-bottom: 1px solid $border-color

        &__name,
        &__value
            +font(14px)
            width: 33.3333%
            text-align: center
            display: inline-block

        &__value_owner

        &__value_guest


    // Tablet
    +bp-tablet

        &
            margin-left: 0
            margin-right: 0

            &__info
                &__row
                    &_rival
                        &__title
                            +font(20px)
                            max-width: 150px


                    &__status
                        width: 170px

        // Составы
        &__struct

            &__name,
            &__coach,
            &__info // Доп. информация
                +font(14px)

        &__menu

                &.is-fixed
                    top: 0
                    width: 490px

    // Tablet landscape
    +bp-tabletLandscape

        &

            // Основная информация
            &__info
                border: 30px solid $today-bg-color

                &__row

                    // Информация
                    &__status
                        top: 134px
                        max-width: 170px

                    // Основной блок таблицы
                    &_rival

                        &__info
                            margin-top: 0

                        // Счет команды
                        &__score
                            +font(40px)

                        &__media
                            width: 120px
                            height: 120px

                        &__title
                            +font(20px)
                            display: block

                        &-item
                            height: 220px
                            padding-top: 30px

                        // Левый
                        &-item.has-left
                            padding-left: 30px

                            &:before
                                top: 88px

                        &-item.has-left &__info
                            margin-left: 20px
                            float: left

                        // правый
                        &-item.has-right
                            padding-right: 30px

                        &-item.has-right &__info
                            margin-right: 20px
                            float: right

            // Трансляция
            &__post

                &-item
                    padding-left: 30px
                    padding-right: 30px

                &__text
                    width: 64.0677%
                    margin-top: 0
                    padding: 0 30px

                &__event
                    width: 25.4237%

            &__menu

                &.is-fixed
                    width: 650px

                & + &__spacer
                    height: 71px
                    margin-top: -71px
                    position: relative
                    z-index: -1

                &.is-fixed + &__spacer
                    // height: 71px
                    margin-top: 0

    +bp-desktop

        &

            &__menu

                &.is-fixed
                    width: 630px


    +bp-desktopFull

        &

            &__menu

                &.is-fixed
                    width: 850px