/*
 * Абстрактный блок выпадающего списка
 * 
 */

// Объявляем блок
$block: '.b-content-toggler'

// Стили
#{$block}
    border-top: 1px solid $border-color

    &__btn
        position: relative
        cursor: pointer
        padding-right: 30px

        &:before
            content: ""
            position: absolute
            top: 50%
            margin-top: -3px
            right: 20px

            width: 7px
            height: 7px

            background: url(/res/images/sprite_main.png) -41px -32px no-repeat

            .is-show &
                background-position: -41px -22px
    
    &__ctx
        // padding-top: 12px
        margin-bottom: 20px
        overflow: hidden
        text-align: left

        +transition(all .3s ease)

        .is-hide &
            height: 0!important
            margin: 0
            padding: 0

        .is-show:before &
            background: url(/res/images/sprite_main.png) -41px -32px no-repeat

    &_nodecor
        border: 0

    &_nodecor &__btn

        &:before
            display: none

    &__wrapper
        padding-top: 12px












