/*
 * Блок Ссылок в виде кнопки
 * 
 */

// Объявляем блок
$block: '.b-link-btn'

// Стили
#{$block}
    display: inline-block

    +button-field($link-color)

    // Если второстепенное поле
    &_second
        +button-field($time-color)

    // Если поле с акцентом
    &_accent
        +button-field($red)

    &_thanx
        display: block
        margin-bottom: 20px

        +button-field($green-yellow)

    +bp-tabletLandscape
    
        &
            &_thanx
                display: inline-block
                margin-bottom: 0
                
                +button-field($time-color)