/*
 * Абстрактный блок стандартных элементов
 * 
 */

// Объявляем блок
$block: '.b'

.has-secondary
    color: $comment-color


// Стили
#{$block}

    +font(16px)

    //Модификаторы

    &__color_warning
        position: relative
        z-index: 1

    &__color_warning:before
        content: ''
        position: absolute
        top: 0
        left: 0

        width: 100%
        height: 100%

        border: 3px solid #f32121

        z-index: -1

    &__color_grey
        position: relative
        z-index: 1

    &__color_grey:before
        content: ''
        position: absolute
        top: 0
        left: 0

        width: 100%
        height: 100%

        border: 1px solid $border-color

        //z-index: -1

    &__name
        +font(16px)
        font-family: $f-serif
        font-weight: bold
        font-style: italic

        margin: 14px 0 14px 0

        .b-sidebar &
            padding-left: 20px

        &_accent
            color: $red


    &__img
    	width: 100%
    	height: auto
    	vertical-align: top

    &__media
        margin-bottom: 20px

    &__title
        margin-bottom: 16px

        +font(22px)
        font-family: $f-serif
        font-weight: bold

    &__text
        +font(16px)
        line-height: 1.6


    &__subtitle
        margin-bottom: 18px

        font-weight: bold

    &__item
        margin-bottom: 20px

    &__row
        &:nth-child(2)
            padding-top: 20px
            border-top: 1px solid #dedede
            margin-bottom: 20px
            border-bottom: 1px solid #dedede    


