/*
 * Блок downloads
 * 
 */


// Объявляем блок
$block: '.b-downloads'
$b: '.b'
$b-link: '.b-link'

// Стили

#{$block}
    #{$b-link}
        margin: 0

#{$b}

    &__wrapper.is-page-themed
        #{$b}
            &__row.is-content
                #{$block}
                    padding-top: 20px
                    border-top: 1px solid $border-color
                    width: 100%
                    float: none
                    &:last-child
                        border: none
                        padding-top: 0


    +bp-tablet
        &
            &__wrapper.is-page
                #{$block}
                    width: 50%
                    float: left
                    &:last-child
                        padding-left: 50px

            &__wrapper.is-page-week
                #{$block}
                    width: 80%
                    float: right

            &__wrapper.is-page-themed
                #{$block}
                    width: 80%
                    float: right
                    &:last-child
                        padding-left: 30px











