/*
 * Блок ленты контента
 * 
 */

// Объявляем блок
$block: '.b-feed'

// Стили

.b-sidebar-right__item
    #{$block}
        &__title
            color: $comment-color
            +font(14px)
            font-style: italic

.b-news__list
    #{$block}

        &__item
            &_link
                font-size: 13px
                width: 100%
                margin-bottom: 10px
                padding-bottom: 10px
                display: inline-block
                vertical-align: top
                border-bottom: 1px solid $border-color

        &__title
            color: $comment-color
            +font(14px)
            font-style: italic

        &__subtitle
            +font(13px)
            font-weight: bold
            border-bottom: 1px solid $border-color
            margin-bottom: 10px
            padding-bottom: 20px

        +bp-tablet
            margin-left: 10px
            &__body
                width: 100%
                margin-right: 20px

        +bp-tabletLandscape
            margin-left: 15px

        +bp-desktop
            margin-left: 0
            &__body
                margin-left: 0