/* Кнопки */

// Объявляем блок
$block: '.b-btn'

//Стили
#{$block}
    display: inline-block
    border-radius: 2px
    font-weight: bold
    color: $white
    line-height: 1.6em
    padding: 5px 18px
    cursor: pointer

    &_orange
        background: $red-orange

    &_ask
        display: block
        position: fixed
        right: 20px
        bottom: 5%
        width: 50px
        height: 50px
        border-radius: 50%
        background: $red-orange
        box-shadow: 0 2px 2px #d2d2d2;

    &_ask-big
        display: none

    &_ask-phones
        display: inline-block
        width: 20px
        height: 20px
        position: absolute
        top: 50%
        left: 50%
        margin-top: -10px
        margin-left: -10px
        background: url("#{$img-path}sprite_main.png") -153px -127px no-repeat

    .b-answer__lower-panel &_orange
        font-size: 13px
        padding: 7px 21px

    &_blue-green
        background: $time-color

    +bp-retina

        &
            &_ask-phones
                background-image: url("#{$img-path}sprite_main_2.png") -153px -127px no-repeat
                background-size: $retina-icon-width

    +bp-tablet

        &
            &_ask
                display: inline-block
                position: static
                width: auto
                height: auto
                border-radius: 2px
                box-shadow: none

            &_ask-big
                display: inline

            &_ask-phones
                display: none