/*
 * Ссылка для скачивания
 *
 */


// Объявляем блок
$block: '.b-download'

// Стили
#{$block}
    position: relative
    margin-left: 30px
    line-height: 20px

    &__size
        color: $comment-color

    +bp-tablet

        .b-bibliotechka-advert &
            float: left

        .b-bibliotechka-advert_sidebar &
            float: none