$block: '.b-cor-punkt'

#{$block}

    &
        padding: 20px
        border: 1px solid #e3e3e3
        margin: 0 20px
        margin-bottom: 20px

        &__title
            +font(17px)
            font-style: italic
            font-weight: bold
            margin-bottom: 11px
            font-family: $f-serif

        &__text
            +font(13px)
            padding-bottom: 15px

        &__reporter
            margin-bottom: 15px

            &:after
                display: block
                clear: both
                font-size: 0
                height: 0
                content: ''

            &__img
                width: 65px
                height: 65px
                float: left
                margin-right: 15px
                background-position: 50% 50%
                background-repeat: no-repeat
                +rounded-corners(65px)

            &__text
                width: calc(100% - 80px)
                margin-left: 80px
                +font(13px)

            &__name
                +font(14px)
                font-weight: bold
                padding-bottom: 5px

        &__note
            padding-top: 20px
            border-top: 1px solid #e1e1e1
            clear: both
            +font(13px)

            & a
                font-style: inherit
                color: #1f77bb
                text-decoration: underline

                &:hover
                    color: #1f77bb
                    text-decoration: none

    +bp-tablet

        &
            margin: 0 0 20px
        
            &__text
                width: calc(50% - 10px)
                float: left
            
            &__reporter
                width: calc(50% - 10px)
                float: right

    +bp-desktop

        &
        
            &__text
                width: 100%
                float: none
            
            &__reporter
                width: 100%
                float: none






