/*
    * Селект сортировки списка юристов
    *
    */

// Объявляем блок
$block: '.b-users-sorting'

// Стили
#{$block}

	display: inline-block

	&__select

		&.has-loading
			opacity: 0.5