/*
 * Логотип в шапке
 * 
 */

// Объявляем блок
$block: '.b-logo'

// Модификаторы

// Стили 
#{$block}
    display: inline-block
    margin: 20px 0
    
    &.b-header__info-item
        display: inline-block
        float: left

    &.b-header__content-item
        display: none

    &__image
        width: 60px
        height: 18px
        margin-right: 10px
        display: inline-block

        background-repeat: no-repeat
    
        // маленький логотип
        background-image: url(#{$img-path}media/logo/rg-main.png)
        background-position: 0 -80px

        background-size: auto

        // Если страница 404
        .b-header_not-found &
            width: 220px
            height: 75px

            background-position: 0 0

        &__lada
            display: inline-block
            // width: 135px
            // height: 37px
            width: 70px
            height: 18px
            background-image: url(#{$img-path}custom/projects/lada/ladatxt.png)
            background-size: cover
            background-position: 0 0


        // Ретина
        +bp-retina

            &
                // маленький логотип
                background-image: url(#{$img-path}media/logo/rg-main2x.png)
                background-size: 220px 104px

    // Tablet
    +bp-tablet

        &

            margin: 30px 0

            &.b-header__info-item
                display: none

            &.b-header__content-item
                display: inline-block

            &__image
                width: 154px
                height: 42px
                background-position: -77px -27px

                &__lada
                    width: 135px
                    height: 37px


    // desktop
    +bp-desktop 
    
        &

            margin: 45px 0                 