/*
 * Блок автора материала
 * Используется на странице автора
 * 
 */

// Объявляем блок
$block: '.b-author'

// Стилиs
#{$block}
    margin-bottom: 20px
    line-height: 1.6

    // Аватарка автора
    &__media
        max-width: 130px
        max-height: 130px
        width: 80px
        height: 80px
        margin-right: 20px
        margin-bottom: 20px

        float: left

        overflow: hidden
        border-radius: 100%

    &__img
        width: 100%
        height: auto

    // Блок с информацией об авторе
    &__content

    &__binding
        margin-bottom: 20px
    
    // Имя автора
    &__title
        +font(18px)
        margin-bottom: 0

    // Описание
    // В элементе стилизуем теги,
    // потому что они генерируются редактурой
    &__info
        
        h2
            font-family: $f-sans
            +font(18px)

        p
            margin-bottom: 20px
            clear: both

    
    // Планшет
    +bp-tablet

        &

            &__media
                width: 110px
                height: 110px

            &__title
                +font(26px)

            &__content
                width: 360px

            &__info

                p
                    clear: none

        // Модификатор, если есть картинка
        // то контент сдвигаем вправо
        &_has-media &__content
            float: right


    // Горизонтальный планшет
    +bp-tabletLandscape

        &

            &__media
                width: 100%
                height: 100%

            &__title
                +font(26px)

            &__content
                width: 490px

    
    // Десктоп
    +bp-desktop

        &
            width: 850px

            &__content
                width: 690px


    // Широкоформатный экран
    +bp-desktopFull

        &
            margin-left: 88px