// Объявляем блок
$block: '.b-news'

// Стили
#{$block}
    &__list
        .b-custom-content
            float: right
            .b__media
                padding: 17px 36px 18px

    + .b-custom-content

        .b__media
            width: 240px
            margin: 0 auto 30px
            padding: 20px 20px


