/*
 * Футер
 * 
 */

// Объявляем блок
$block: '.b-footer'

// Стили 
#{$block}
    +font(13px)
    width: 100%
    min-width: 320px
    margin-top: 55px
    padding-bottom: 20px
    border-top: 1px solid $border-color
    padding-top: 0
    position: relative
    z-index: 1
    background-color: $white
    &:before
        display: none

    // Кнопка категорий на mobile
    &__categories__body
        display: none!important // ВЫКЛЮЧИЛИ!!!


        width: 40px
        height: 40px
        margin: 1px 0 0 5px
        padding: 11px 10px

        position: fixed
        bottom: 20px
        right: 10px
        z-index: 9

        display: inline-block
        vertical-align: middle
        line-height: 0
        
        background-color: $red
        +rounded-corners(50%)
        cursor: pointer

        +box-shadow(0 1px 10px -3px rgba($black, .8))

    &__categories-line
        width: 100%
        border-bottom: 2px solid $white

        &:before,
        &:after
            content: ''

            width: 100%
            margin-bottom: 5px

            display: block
            border-bottom: 2px solid $white

    // Блок копирайта на tablet + кнопка слайда
    &__toggle
        padding: 0 40px 10px 20px
        position: relative
        border-bottom: 1px solid $border-color
        cursor: pointer

    &__toggle-icon
        width: 20px
        height: 10px
        
        position: absolute
        right: 20px
        top: 10px

        background-position: 0px -20px
        +transition

        .is-hide &
            background-position: 0 -40px

    &__copyright-info
        display: inline-block
        vertical-align: top
        color: $black
        line-height: 20px

    &__copyright-text
        margin-bottom: 10px
        //color: $black
        color: $comment-color

    &__special
        width: 100%
        margin-top: 10px
        display: inline-block
        vertical-align: top
        color: $black

    &__special-text
        display: none

    &__links
        //max-height: 800px
        //height: auto!important
        margin-bottom: 20px
        overflow: hidden
        text-align: left

        //+transition(max-height .3s ease)
        +transition(height .3s ease)

        .is-hide &
            //max-height: 0
            //height: 0!important

    &__bottom
        width: 100%
        //height: 30px
        position: relative

    &__developer
        margin-left: 20px
        position: relative

        &-item
            display: block

            &_wm

                .b-link:before
                    content: ''
                    width: 40px
                    height: 20px
                    margin: 0 5px
                    position: relative
                    top: 5px
                    display: none

                    background: url(/res/images/media/partners-rg.png) no-repeat 0 -182px transparent
    
    // inline-block fix
    &__special,
    &__copyright-info
        +font(13px)
        letter-spacing: $letterSpacingDefault

    // Tablet
    +bp-tablet

        &

            &__links
                width: 100%
                padding: 0 20px
                text-align: center

            &__special
                width: 20%
                margin-top: 5px
                float: right

            &__copyright-info
                width: 100%

            &__bottom
                margin-top: 20px

            &__developer
                margin-top: 10px

    // Tablet landscape
    +bp-tabletLandscape

        &
            //margin-top: 60px если фон брендированный, то дыра
            //margin-top: 0
            //padding-top: 60px

            &__toggle
                display: none            

            &__developer
                margin-top: 0
                position: absolute
                right: 20px
                top: 5px

                &-item
                    margin-left: 30px
                    display: inline-block
            
    // Desktop
    +bp-desktop

        &
            //width: 1240px

            // Имитация паддинга
            +box-shadow(30px 0 0 0 $white)

            &__copyright-info
                //width: 50%
                text-align: justify
                width: 100%

            &__copyright-text
                margin-bottom: 10px
                display: block!important

            &__special
                width: 50%
                margin-top: 0
                padding-bottom: 40px
                text-align: right

            &__special-text
                display: block

            &__links
                text-align: left

    // Desktop full
    +bp-desktopFull

        &
            //width: 1700px

            &__copyright-info
                width: 100%