$block: '.b-goalscorers'

#{$block}
    margin: 0 -20px
    padding: 20px
    background-color: #f3f3f3
    position: relative

    &.colorbox
        background: none
        padding: 0
        margin: 0

        h2
            display: none

        #{$block}
            &__body
                padding: 20px

            &__full-table
                display: none

    &__body
        &:after
            content: ''
            display: block
            height: 0
            clear: both

    h2
        text-transform: uppercase
        text-align: center
        +font(18px)
    
    table
        width: 100%

        & tr
            +font(13px)

            &.top
                text-transform: uppercase
                font-weight: bold
                white-space: nowrap

            & td
                padding: 15px
                background-color: $white
                border-bottom: 2px solid #f3f3f3

                &:first-child
                    padding-left: 20px
                    padding-right: 0

                &:last-child
                    padding-right: 20px

            &.mobile

                & td
                    border-bottom: none

                    &.inline
                        padding-bottom: 0
                        border-top: 2px solid #f3f3f3

                        & > *
                            display: inline-block
                            margin-right: 10px

            &.tablet
                display: none

    &__full-table
        text-align: center
        +font(13px)
        font-weight: bold
        color: $light-blue
        text-decoration: underline

        display: none
        position: absolute
        top: 25px
        right: 30px
        
        &.mobile
            display: block
            position: static
            padding-top: 10px
            clear: both


    +bp-tablet

        &
            margin: 0

            h2
                text-align: left

            table

                & tr

                    &.mobile
                        display: none
                    
                    &.tablet
                        display: table-row

            &.colorbox
                #{$block}
                    table
                        & tr
                            & td
                                &.full
                                    display: table-cell

    +bp-tabletLandscape

        &

            &__full-table
                display: block
        
                &.mobile
                    display: none  

            &.colorbox
                #{$block}
                    &__full-table
                        display: none                      

    +bp-desktop

        &
            width: calc(50% - 15px)
            margin-right: 15px
            margin-left: 0
            float: left
            margin-right: 0
            padding: 15px 30px 30px

            &__full-table
                top: 20px

            table

                & tr td
                    padding: 10px 10px