/*
 * Блок ленты контента
 * 
 */

// Объявляем блок
$block: '.b-feed'

// Стили
#{$block}

    .b-vidget__wrapper &

        &__body
            margin-bottom: 30px
        &__item
            margin-top: 15px
            margin-bottom: 0
            padding-bottom: 15px
        &__name
            margin-bottom: 0


        +bp-desktop

            &__body
                margin-left: 0

        +bp-desktopFull

            &__body
                width: 310px
                margin-left: 30px

            &__name
                +font(17px)