// Объявляем блок
$block: '.b-form-message'

// Стили
#{$block}
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    width: 100%
    height: 100%
    // background: #f3f3f3
    background-color: #fff
    z-index: 1
    // padding: 50% 30px 30px 30px
    display: none

    &__content
        padding: 25px 20px 30px
        background: $today-bg-color

    &__title
        +font(14px)
        font-weight: bold
        text-align: center
        line-height: 26px

    &__text
        margin-bottom: 20px
        line-height: 24px

    &__button
        text-align: center

    &_show
        display: block

    +bp-tablet

        &
            &__title
                +font(16px)

    +bp-tabletLandscape

        &
            &__title
                padding: 0 105px 15px