/*
    * Селект выборки юристов по специализации
    *
    */

// Объявляем блок
$block: '.b-users-specialization'

// Стили
#{$block}
    display: inline-block
    margin-right: 20px
    margin-bottom: 20px

    &__select

    	&.has-loading
    		opacity: 0.5

    +bp-tablet

    	&
    		margin-bottom: 0