/*
 * Статическая страница
 *
 */

// Объявляем блок
$block: '.b-static-wrapper'
$b-news: '.b-news'

// Основной блок
#{$block}

    #{$b-news}
        padding: 0

    margin: 0 20px
    position: relative

    //padding: 0 20px

    +font(16px)

    &__info
        padding: 22px 30px 24px 30px
        margin-bottom: 29px

    &__col
        display: inline-block
        position: relative

    &__list
        +columns(45%, 2, 10%)

    .b-downloads
        display: inline-block

        &__link
            // white-space: nowrap


    // Tablet
    +bp-tablet

        &
            //padding: 0
            margin: 0

            &__list
                +columns(30%, 3, 5%)

    .visuallyhidden
        width: 100%
        position: absolute
        left: 10000px

    // Desktop
    +bp-desktop
        &
            &_promo
                margin-right: 0