/*
 * Счетчики
 * 
 */

// Объявляем блок
$block: '.b-sidebar-right'

// Стили 
#{$block}
    width: 240px
    margin-right: 0
    margin-left: 0
    display: inline-block!important

    > a:first-child
    	margin-bottom: 20px
    	display: inline-block