/*
 * Главные новости
 * 
 */

// Объявляем блок
$block: '.b-news'

#{$block}
    &__list-item
        #{$block}
            &__list-item-time
                display: none

    &__list-no-x-lagre
        .b-news__list-item-icon
            display: none
