/*
 * Блок downloads
 * 
 */


// Объявляем блок
$block: '.b-downloads'

// Стили

#{$block}
    .b-link
        margin-bottom: 5px

    margin-top: 30px

    +bp-tablet
        float: right
        margin: 0











