/*
 * Врезка в статье (маленькая картинка)
 * 
 */

// Объявляем блок
$block: '.b-read-more'

// Модификаторы

#{$block}
    margin-bottom: 0!important
    padding: 0
    background-color: transparent

    &__name
        padding: 10px!important
        color: $white
        background-color: #444374

    &_left
        margin-left: 0

    &_right
        margin-right: 0

    &__img
        width: 100%!important

    &_230x200
        width: 310px!important