/*
 * Стили для брендирования в шапке
 *
 */

// Объявляем блок
$block: '.b-branding-head'

$id: 'forumspb2016'

// Стили
#{$block}

    &__media
        margin-bottom: 20px
        padding-bottom: 21%

        background: url(#{$img-path}custom/projects/#{$id}/branding_tabletLandscape.jpg) no-repeat 0 0
        background-size: contain

    &__logo
        width: 50%
        height: 100%

        position: absolute
        top: 0
        left: 0

        &-link
            width: 100%
            height: 100%

            position: absolute

    &__link-ads
        width: 30%
        height: 100%

        position: absolute
        top: 0
        right: 0

        > *,
        .b-adfox__item
            width: 100%
            height: 100%
            display: block

        div[id^="AdFox_banner"]
            width: 100%!important
            height: 100%!important

    // Tablet 
    +bp-tablet

        &
            &__media
                height: 102px
                margin-bottom: 0
                padding-bottom: 0

    // Tablet landscape
    +bp-tabletLandscape

        &

            &__media
                height: 135px

    // Desktop
    +bp-desktop    

        &

            &__logo
                width: 100%
                height: 100%

                background: url(#{$img-path}custom/projects/#{$id}/head-logo.png) no-repeat 97px center

            &__link-ads
                width: 200px
                height: 86px

                top: 112px
                right: 58px

            &__media
                height: 221px
                background: none

        +bp-desktopFull

            &

                &__logo
                    background-position: 464px center

                &__link-ads
                    right: 52px


// Стилизуем бекграунд
+bp-desktop

    body
        background: url(#{$img-path}custom/projects/#{$id}/bg.jpg) no-repeat -150px 0 $white fixed

+bp-desktopFull

    body
        background-position: 310px 0