/*
 * Абстрактный блок ненумерованного списка
 * 
 */

// Объявляем блок
$block: '.b-ul'
$b-link: '.b-link'

// Стили
#{$block}
    +font(14px)
    &__item
        margin-bottom: 10px
        &:before
            background: $black

    &__list
        margin-bottom: 0

    #{$b-link}
        display: inline-block
        margin-bottom: 0

