/*
 * Цитаты в статической странице
 * 
 */

// Объявляем блок
$block: '.b-quote'

#{$block}
    +font(16px)

    &__text
        position: relative
        padding: 65px 0 30px 73px

        font-family: $f-serif
        font-style: italic
        +font(18px)

        &:before
            content: '“'

            +font(110px)
            position: absolute
            top: 21px
            left: 35px

            margin-left: -26px

            font-family: $f-serif
            font-style: italic

            line-height: 0.6em
            color: $link-color

            +opacity(0.4)


    &__name
        +font(13px)
        font-weight: bold


    &__meta
        +font(13px)
        color: $comment-color
        margin: 10px 0 20px 0