$block: '.b-client-line'

#{$block}
    float: right
    text-align: left
    line-height: 1 
    font-size: 14.3px

    &__tel
        +font(19px)   

        & + #{$block}__name
            font-size: 11.4px

    +bp-tablet

        &


    +bp-tabletLandscape

        &
            margin-top: 5px
            
            &__tel
                +font(24px)
                 
    +bp-desktop

        &
            
    +bp-desktopFull

        &