/*
 * Фотогалерея внутри статьи
 *
 */

// Объявляем блок
$block: '.b-gallery'

// Стили
#{$block}
    +font(13px)
    margin-bottom: 20px
    clear: both

    &__title
        margin-bottom: $indent-g-small / 2
        color: $comment-color

    &__wrapper
        position: relative
        overflow: hidden

        &:before
            content: ''
            width: 100%
            height: 40px

            position: absolute
            top: 0
            left: 0
            z-index: 1

            +opacity(0)

            +linear-gradient('to top', rgba($black, 0) 0%, rgba($black, .8) 100%)
            +transition(opacity .3s ease)

        &:hover:before
            +opacity(1)

    &__content

        .fotorama__stage
            background-color: $black

    &__text
        display: none

    &__list

        &_fotorama

    // Мета
    &__meta
        position: relative
        z-index: 2

    &__btn
        color: $white
        cursor: pointer

        &_fullscreen
            width: 20px
            height: 20px

            position: absolute
            top: 0
            right: 10px
            z-index: 1

            background-position: -100px -100px

            +transform(translate3d(0, -30px, 0))

            +transition(all .3s ease)

        &_close
            width: 20px
            height: 20px
            display: none

            position: absolute
            top: -30px
            right: 0
            z-index: 1

            &:before
                content: '\2715'
                +font(20px)
                line-height: 20px

        &_share
            width: 20px
            height: 20px

            position: absolute
            top: 15px
            left: 10px
            z-index: 1

            background-position: -40px -50px

            .b-share
                width: 220px
                height: 0
                position: absolute
                top: -5px
                left: 0
                overflow: hidden

                +transition(all .3s ease)
                +opacity(0)

            &:hover .b-share
                height: auto
                padding-left: 30px

                +opacity(1)

    // Реклама
    &__advert
        width: 240px
        margin-left: 30px

        display: none
        vertical-align: top

    // Фулскрин
    &_fullscreen
        max-width: 1300px
        width: 80%
        margin: auto

        position: fixed
        top: 10%
        right: 0
        left: 0

        overflow: inherit

        z-index: 11

    // Обертка
    &_fullscreen &__wrapper
        overflow: visible

        &:before
            display: none

    // Скрываем превью
    &_nothumb:not(&_fullscreen) .fotorama__nav-wrap
        display: none

    // Поведение
    &_fullscreen &__content
        // inline-block fix
        font-size: 0
        min-width: 772px

    // Когда фулскрин
    &_fullscreen &__btn_fullscreen
        display: none

    &_fullscreen &__btn_close,
    &_fullscreen &__btn_share
        display: block

    &_fullscreen &__advert
        display: inline-block

    &_fullscreen &__list
        width: calc(100% - 270px) // ширина баннера + отступ
        display: inline-block
        vertical-align: top

    +bp-tablet

        &

            &__text
                display: inline

    +bp-tabletLandscape

        &

    +bp-desktop

        &
            // Показать кнопку фулскрина
            &:hover &__btn_fullscreen
                +transform(translate3d(0, 10px, 0))

    +bp-desktopFull

        &





/*
 * Custom
 *
 */

.tile,
.gall_prev-b
    display: none