/*
 * Блок header
 *
 */


$block: '.b-header'
$b-logo: '.b-logo'
// Стили
#{$block}
    &_promo
        padding: 0 20px

        #{$b-logo}
            &__image
                image-rendering: -webkit-optimize-contrast


        +bp-tablet
            &
                padding: 0
                #{$block}
                    &__item
                        display: inline-block
                        vertical-align: middle
                        width: auto

                    &__title
                        margin-left: 40px

                #{$b-logo}
                    &__image
                        width: 220px
                        height: 76px

        +bp-tabletLandscape
            &
                #{$block}
                    &__title
                        margin-left: 60px
