/*
 * Header
 *
 */

.header
    font-family: $font-condensed
    padding-left: $meta-width/2 + $meta-width/5.5 + $def-indent*2
    padding-bottom: 1px
    position: relative
    text-transform: uppercase
    color: lighten($accent-color, 10%)
    background-color: rgba($sand-light-color, .8)

    &:before
        @extend %aside-decor

    h1
        font-size: 6em
        margin: 0
    
    h2
        margin-top: $def-indent*3