@import "variables"

.browsehappy-b
    font-size: 18px
    margin: 0
    padding: 12px 16px
    color: #fff
    text-align: center
    background: #c0392b

.browsehappy-b a
    text-decoration: underline

.overlay

    &:before
        content: ''
        width: 100%
        margin: auto

        position: fixed
        top: 0
        right: 0
        bottom: 0
        left: 0
        z-index: 6

        background-color: black
        opacity: .8
        cursor: pointer

.header
    background-color: $sand-light-color

.page-content
    background-color: $primary-color

.intro
    background-color: $primary-juisy-color

.info-medal
    background-color: $primary-color

.footer
    background-color: $sand-light-color

.infograph-page-1942
    background: url($img-path + "fig_1942.jpg") top center no-repeat

.infograph-page-1943
    background: url($img-path + "fig_1943.jpg") top center no-repeat

.infograph-page-1944
    background: url($img-path + "fig_1944.jpg") top center no-repeat

.infograph-page-1945
    background: url($img-path + "fig_1945.jpg") top center no-repeat