/*
 * Legend
 *
 */

.legend
    font-family: $font-condensed
    margin-left: $def-indent*4
    padding: $def-indent*2
    color: $invert-text-color
    text-transform: uppercase

    .tooltip
        font-size: .9em
        width: 225px
        position: absolute
        left: $meta-width + $def-indent*2

    .tooltip:before
        content: ''
        height: 2px
        position: absolute
        top: 10px
        background-color: $invert-text-color

    .legend-year
        width: 300px
        position: relative

        .meta
            @extend %meta-b

        .tooltip1
            top: 27px

        .tooltip1:before
            width: 25px
            left: -30px

        .tooltip2
            top: 63px

        .tooltip2:before
            width: 33px
            left: -37px

    .legend-month
        position: relative
        
        .cur-month
            font-size: 1.6em
            @include size($time-month-width*1.5 + $border-width)
            margin: $def-indent*2 0 0 $def-indent*6
            line-height: $time-month-width*1.5 - $border-width
            text-align: center
            color: $invert-text-color
            background-color: lighten($primary-light-color, 10%)
            border: $border-width solid $medal-color 
            border-radius: 100%

        .tooltip1
            top: 7px

        .tooltip1:before
            width: 27px
            left: -32px

    .legend-desc
        width: 200px
        margin-left: -28px
        margin-top: $def-indent*2
        position: relative

        .title
            padding: $def-indent/2 $def-indent
            color: $primary-text-color
            text-transform: none
            background-color: lighten($primary-color, 60%)

        .info
            padding: $def-indent/2 $def-indent
            color: $invert-text-color
            background-color: darken($primary-color, 5%)

            i
                font-style: normal
                float: right
                color: lighten($primary-light-color, 10%)

        .tooltip1
            top: 7px
            left: 225px

        .tooltip1:before
            width: 27px
            left: -32px

        .tooltip2
            top: 54px
            left: 225px

        .tooltip2:before
            width: 24px
            left: -30px

        .tooltip3
            top: 84px
            left: 225px

        .tooltip3:before
            width: 200px
            left: -206px

        .tooltip3:after
            content: ''
            width: 2px
            height: 17px
            position: absolute
            top: -7px
            left: -206px
            background-color: $invert-text-color