/*
 * Meta
 *
 */

.page-content__meta
    position: absolute
    top: $meta-width/2*-1
    left: $meta-width/5.5

.meta
    @extend %meta-b

    .cur-year
        font-size: 2.4em
        height: $meta-width/2
        line-height: $meta-width/2 + 10

    .info
        font-size: 1.2em
        font-weight: normal
        height: $meta-width/2
        position: relative
        line-height: $meta-width/3.2

        .info-text
            width: $info-text-width
            position: absolute
            top: 6px
            right: ($info-text-width + 8)*-1
            color: $primary-light-text-color
            line-height: 1