@mixin size($width, $height: $width)
    width: $width
    height: $height

@mixin aside-decor-infograph($pos: 'left')
    content: ''
    height: $infograph-page-padding-top
    position: absolute
    top: 0
    
    background-color: rgba($primary-color, .4)

    @if $pos == 'left'
        width: $meta-width/2 + $meta-width/5.5
        left: 0

    @else if $pos == 'right'
        width: 40%
        right: 0

