/*
 * Global variables
 *
 */

$img-path: "/res/images/custom/projects/nagrady_pobedy/"

/*
 * Typography
 *
 */

$font-main: "roboto"
$font-condensed: "roboto condensed"

$primary-text-color: #000a04
$primary-light-text-color: #87a09c
$invert-text-color: white

$primary-color: #265c5c
$primary-light-color: #457368
$primary-juisy-color: #32685b
$accent-color: #5a1601

$sand-color: #8b8273
$sand-light-color: #a39b90

$medal-color: #e66b2f
$order-color: #9c1519

/*
 * Layout
 *
 */

$width-middle: 960px
$width-large: 1400px

$def-indent: 8px // Default indenation

// TODO page.sass

$infograph-page-padding-top: 337px

// TODO time.sass

$page-content__time-min-h: 768px

$border-width: 2px

$time-row_active: 160px
$time-month-width: 26px

$indent-var-arr: 1 2 3 4 6 8

// TODO meta.sass

$meta-width: 110px
$info-text-width: 200px

// TODO nav.sass

$nav-item-width: 70px

// TODO info-medal.sass

$info-medal-width: 900px