/*
 *Accent
 */

$accent-heading-delimeter-color: #055a8d

$accent: '.accent'

$accents: '.accents'

.accent-items-wrapper
	
	padding: $indent

	background: $plate-bg-color



#{$accents}
	padding: 0 0 30px 0

	.accent-container
		margin: 52px 0 38px 0
		padding: 10px

		background: $plate-bg-color

		height: $accent-container

	&__title
		margin-bottom: $indent
	
		//fix
		display: -webkit-flex
		display: -ms-flexbox
		display: flex

		.button
			position: relative
			z-index: 3
			
			margin-left: 10px

		&__heading
			position: relative

			width: 89%

			float: left

			//fix
			-webkit-flex: 1 0
			-ms-flex: 1 0
			flex: 1 0

			&__item
				text-align: center
				text-transform: uppercase

				color: $color-white

				font-weight: normal
				font-size: $font-size-h6

				width: 100%
				//margin: 0 0 0 44%

				display: -webkit-flex
				display: -ms-flexbox
				display: flex

				-webkit-justify-content: space-between
				-ms-flex-pack: justify
				justify-content: space-between

			&__item:before
			 	content: ""
			 	//position: absolute
			 
			 	width: 48%
			 	height: 1px

			 	top: 13px
			 	left: 0
			 	
			 	background: $accent-heading-delimeter-color

			 	-webkit-flex: 1 0
			 	-ms-flex: 1 0
			 	flex: 1 0

			 	margin-top: 13px
			 	margin-right: 10px

			&__item:after
			 	content: ""
			 	//position: absolute
			 	
			 	width: 29%
			 	height: 1px

			 	top: 13px
			 	right: 0

			 	background: $accent-heading-delimeter-color

			 	-webkit-flex: 1 0
			 	-ms-flex: 1 0
			 	flex: 1 0
			 	margin-top: 13px
			 	margin-left: 10px


	#{$accent} 
		width: $accent-base-width
		float: left
		font-size: $font-size-medium
		color: $color-white


		&__content

			width: $accent-content-base-width
			float: left

			&__autor
				font-size: $font-size-small
				color: $color-light-purple
				float: left
				margin: 0 0 0 5px

			&__meta
				margin: 0 0 5px 0

				&__raiting
					position: relative
					width: 91px
					height: 15px
					margin-bottom: 3px
					float: left
					background: url($img-sprite-url) 1px -101px no-repeat

					&__overlay
						position: absolute
						width: 60%
						height: 100%
						background: url($img-sprite-url) 1px -84px no-repeat



			&__title
				text-transform: uppercase
				font-weight: $font-weight-bold
				margin: 0 0 5px 0

			&__description 
				color: $color-soft-blue
				

		&__image
			max-width: $accent-image-base-width
			float: left
			padding: 0 $indent 0 0