/*
 * Advertysing
 *
 */

$adv: '.adv'

// Баннер 240х400
$adv_240x400: '.adv_240x400'

// Баннер ТГБ
$adv_tgb: '.adv_tgb'

#{$adv}
	padding: 20px 0
	background-color: $adv-color-bg

	&__item
		max-width: 240px
		//min-height: 400px
		margin: 0 auto
		//padding: 30px 0

		.single-banner
			max-width: 240px
			margin: 0 auto

			> div
				width: 100%!important

			> div:last-child
				width: auto!important


#ads29
	max-width: 240px
	margin: 0 auto

#{$adv_240x400}
	
	&__item
		min-height: 400px

	div[id^="AdFox_banner"]
		margin-top: 0!important

	.b-ads_sidebar-right iframe,
	.b-ads_sidebar-right img
		margin: 0 auto!important

#{$adv_tgb}
	padding-top: 0

	div[id^="AdFox_banner"]
		width: auto!important

	&__item
		display: none

	.adfox_item
		padding-top: 20px

		.b-ads__tgb .b-ads__item,
		div[id^="AdFox_banner"]
			margin-bottom: 0

		div[id^="AdFox_banner"] .b-ads__item
			margin-bottom: 0

	.b-ads_tgb-anonse-sidebar-right
		margin-bottom: 20px

	.adfox-adv
		
		div
			//background-color: white

			img
				width: auto!important


#{$adv}_aside
	float: left

	.jumbotron &
		width: 48%
		float: right


.b-ads_under-materials
	
	div[id^="AdFox_banner"]
		width: auto!important

	div[id^="AdFox_banner"] iframe
		width: 100%!important

.yap-layout__inner.yap-item-inner
	font-size: 80%!important