/*
 *Button
 */

.button

	color: $color-blue
	float: right

	&__item

		font-size: $font-size-medium
		color: inherit
		border: 1px solid $color-blue
		text-transform: uppercase
		padding: 4px 15px
		border-radius: 15px

.button_grey
		border: 1px solid #d7dbe0
		border-radius: 30px
		padding: 7px 20px