/*
 *Footer
 */

$footer-rubrics-title: #4f7091

$footer: '.footer'

#{$footer}

	padding: 38px 0
	color: $color-white
	

	
	&__return-rg-link
		float: left
		position: relative
		padding: 0 0 0 24px

		&__logo

			width: 91px

		&__title
			font-size: $font-size-small
			color: $color-blue
			margin: 0 0 3px 0

			&:hover

				color: $color-light-orange

	&__return-rg-link:before
		content: ""

		position: absolute
		top: 18px
		left: 0


		width: 15px
		height: 20px

		background: url($img-sprite-url) -45px -54px no-repeat


	&__rubrics

		float: left
		margin: 0 0 0 40px
		width: 260px

		&_position_left
			float: left
			

		&_position_right
			position: relative
			float: right
			padding-right: 24px !important

			&:after
				content: ''
				
				position: absolute
				top: 2px
				right: 0

				width: 16px
				height: 16px

				background: url($img-sprite-url) -62px -220px no-repeat

		&__title

			border-bottom: 1px solid $footer-rubrics-title

			&__item

				text-transform: uppercase

				font-size: $font-size-base
				font-weight: $font-weight-medium

				padding: 0 0 3px 0

		&__links

			margin: 5px 0 0 0
			padding: 0


			&__item

				list-style-type: none
				float: left
				margin: 0 16px 0 0


				&__links

					color: $color-blue

					&:hover

						color: $color-light-orange
	&__meta

		float: left

		max-width: 500px

		font-size: $font-size-small

		margin: 0 0 0 50px
		
		line-height: 1.5

		&__text

	&__counts
		float: right
		overflow: hidden

		.counter-item
			margin-bottom: 10px
			margin-left: 10px
			
			float: left

			img
				width: auto


