/************
 * New gall *
 ************/

/* --- prev --- */

.gall_prev-b
    width: 100% !important
    max-width: 600px !important


.gall_prev-b_vertical .gall_prev-b__thumb 
    width: 13% !important


.gall_prev-b_vertical .gall_prev-b__thumb__item 
    width: 100% !important
    margin-bottom: 10% !important


.gall_prev-b_vertical:last-child 
    margin-bottom: 0 !important


.gall_prev-b_vertical .gall_prev-b__main 
    width: 84% !important
    height: auto !important


.gall_prev-b_vertical .gall_prev-b__main__pic__img 
    width: 100% !important
    height: auto !important
    max-width: 504px !important



.gall_prev-b__thumb__item 
    width: 80px!important
    height: 80px!important
    width: 14%!important
    height: 14%!important
    margin-right: 3.2%!important


.gall_prev-b__thumb__item:nth-child(6n+6), .gall_prev-b__thumb__item_last-in-row
    margin-right: 0!important 

/* --- main --- */

.rg-gall-wrapper-b
    width: 602px!important 
    left: -16px

.rg-gall-wrapper-b__main-b 
    width: 600px!important
    padding: 0!important
    float: none!important


.rg-gall-wrapper-b__header-b__title
    margin-left: 0!important
    padding-right: 33px 

.rg-gall-wrapper-b__section-b_aside
    display: none!important 

.rg-gall-b__main__pic-wrapper__list__unit__pic__source
    width: auto!important 

div#cboxOverlay.rg-gallery-overlay_show
    display: block!important 



@media (max-width: 640px) 

    .gall_dummy-b 
        height: auto!important
        padding-bottom: 80%!important
    
@media (max-width: 767px) 

    .gall_dummy-b,
    .gall_prev-b
        margin: 0!important 