/*
 * Header
 *
 */

$header: '.header'

#{$header}
    position: relative
    padding: 0 $indent

    &__menu-toggle
        font-size: 13px
        font-weight: bold
        
        padding: 9px 0
        
        position: absolute
        top: 0
        right: $indent
            
        color: white

        text-transform: uppercase
        text-decoration: none

        cursor: pointer

        display: none

    &__menu-toggle:before,
    &__menu-toggle:after
        content: ''

        position: absolute

        top: 0
        right: 0
        left: 0

        display: block

        height: 3px

        background-color: white

        float: none

        z-index: 99

    &__menu-toggle:after
        top: auto
        bottom: 0

    &__return-rg-link 
        color: $color-blue
        float: left
        margin: 0 16px 0 0

        &:before
            content: ""

            width: 16px
            height: 16px

            background: url(//rg.ru/i/projects/kino/img/material-rating-stars.png) -17px -54px no-repeat

            position: absolute
            top: 14px
            left: 9px

        &:hover

            &:before

                background: url(//rg.ru/i/projects/kino/img/material-rating-stars.png) -31px -54px no-repeat



        &__item
            padding: 5px 0 5px 29px
            font-size: $font-size-small
            position: relative
            z-index: 1

            &:hover

                color: $color-light-orange         


    &__logo
        width: 42.4%

        margin: 0 auto
        // fix
        margin-left: 22px

        float: left

    &__left-side
        width: 27.1%

        position: relative

        float: left

        padding: 10px 0 10px 0

        border-top: 1px solid rgba(7, 160, 231, 0.3)
        border-bottom: 1px solid rgba(7, 160, 231, 0.3)

        margin: 7px 0 0 0

        &__title
            text-transform: uppercase

            font-size: $font-size-base
            font-weight: $font-weight-medium

            float: left

            color: $color-white
            

    &__left-side:before
        content: ""
        background: url(//rg.ru/i/projects/kino/img/material-rating-stars.png) 0 -51px no-repeat

        position: absolute
        right: 0

        width: 16px
        height: 16px

    &__right-side:before
        content: ""
        background: url(//rg.ru/i/projects/kino/img/material-rating-stars.png) 0 -54px no-repeat

        position: absolute
        top: 13px
        left: 0

        width: 16px
        height: 16px



    &__right-side
        position: relative

        width: 27.1%

        float: right

        padding: 10px 13px 10px 0
        margin: 7px 0 0 0

        border-top: 1px solid rgba(7, 160, 231, 0.3)
        border-bottom: 1px solid rgba(7, 160, 231, 0.3)



        &__links
            padding: 0
            margin: 0

            &__item
                list-style-type: none

                float: left

                font-size: $font-size-base

                text-transform: uppercase

                color: $color-white
                
                margin: 0 0 0 26px

                &__link
                
                &__link:hover
                    color: $color-light-orange

            &__item_rgru
                display: none!important

.header__logo_tablet
    display: none

// Menu active
.page_news .header__right-side__links__item_news,
.page_review .header__right-side__links__item_review,
.page_journal .header__right-side__links__item_journal
    color: $color-light-orange


// mobile menu
.mobile-menu
    left: auto
    right: -220px
    display: none
    position: absolute
    position: fixed
    top: 0
    height: 100%
    z-index: 999999
    width: 220px
    overflow-x: none
    overflow-y: auto
    font-size: 16px
    background: rgba(255, 255, 255, .95)
    border-left: 6px solid #eee
    box-shadow: 1px 0px 4px #999

.mobile-menu ul 
    padding: 0

.mobile-menu li,
.mobile-menu li a 
    display: block

.mobile-menu li a
    color: #000
    padding: 10px 0 10px 35px
    border-bottom: 1px solid #f3f3f3
    text-decoration: none


// Hamburger
.header-menuBtn-hamburger
    display: none
    
    height: 28px
    margin: auto

    position: absolute
    top: 0
    right: 0
    bottom: 0

    z-index: 10001

    .header-menuBtn-hamburger_open &
        right: 224px

.header-menuBtn-hamburger__icon 
    padding: 10px
    cursor: pointer

.header-menuBtn-hamburger__layer 
    display: block
    width: 40px
    height: 6px
    background: #eee
    position: relative
    -webkit-animation-duration: 300ms
    -webkit-animation-timing-function: ease-in-out
    animation-duration: 300ms
    animation-timing-function: ease-in-out

.header-menuBtn-hamburger__layer:after,
.header-menuBtn-hamburger__layer:before 
    display: block
    width: inherit
    height: 6px
    position: absolute
    background: inherit
    left: 0
    content: ''
    -webkit-animation-duration: 300ms
    -webkit-animation-timing-function: ease-in-out
    animation-duration: 300ms
    animation-timing-function: ease-in-out

.header-menuBtn-hamburger__layer:before 
    bottom: 200%
.header-menuBtn-hamburger__layer:after 
    top: 200%

.header-menuBtn-hamburger__layer--to-arrow 
    -webkit-animation-name: material-design-hamburger__icon--slide
    -webkit-animation-fill-mode: forwards

    animation-name: material-design-hamburger__icon--slide
    animation-fill-mode: forwards

.header-menuBtn-hamburger__layer--to-arrow:before 
    -webkit-animation-name: material-design-hamburger__icon--slide-before
    -webkit-animation-fill-mode: forwards

    animation-name: material-design-hamburger__icon--slide-before
    animation-fill-mode: forwards

.header-menuBtn-hamburger__layer--to-arrow:after 
    -webkit-animation-name: material-design-hamburger__icon--slide-after
    -webkit-animation-fill-mode: forwards

    animation-name: material-design-hamburger__icon--slide-after
    animation-fill-mode: forwards

.header-menuBtn-hamburger__layer--from-arrow 
    -webkit-animation-name: material-design-hamburger__icon--slide-from
    animation-name: material-design-hamburger__icon--slide-from

.header-menuBtn-hamburger__layer--from-arrow:before 
    -webkit-animation-name: material-design-hamburger__icon--slide-before-from
    animation-name: material-design-hamburger__icon--slide-before-from

.header-menuBtn-hamburger__layer--from-arrow:after 
    -webkit-animation-name: material-design-hamburger__icon--slide-after-from
    animation-name: material-design-hamburger__icon--slide-after-from




@-webkit-keyframes material-design-hamburger__icon--slide
    100% 
        -webkit-transform: rotate(180deg)

@-webkit-keyframes material-design-hamburger__icon--slide-from
    0% 
        -webkit-transform: rotate(-180deg)

@-webkit-keyframes material-design-hamburger__icon--slide-before
    100% 
        -webkit-transform: rotate(-45deg)
        margin: -8% -20%
        width: 75%

@-webkit-keyframes material-design-hamburger__icon--slide-before-from
    0% 
        -webkit-transform: rotate(-45deg)
        margin: -8% -20%
        width: 75%

@-webkit-keyframes material-design-hamburger__icon--slide-after
    100% 
        -webkit-transform: rotate(45deg)
        margin: -8% -20%
        width: 75%

@-webkit-keyframes material-design-hamburger__icon--slide-after-from
    0% 
        -webkit-transform: rotate(45deg)
        margin: -8% -20%
        width: 75%

@keyframes material-design-hamburger__icon--slide
    100% 
        transform: rotate(180deg)

@keyframes material-design-hamburger__icon--slide-from
    0% 
        transform: rotate(-180deg)

@keyframes material-design-hamburger__icon--slide-before
    100%
        transform: rotate(-45deg)
        margin: -8% -20%
        width: 75%

@keyframes material-design-hamburger__icon--slide-before-from
    0% 
        transform: rotate(-45deg)
        margin: -8% -20%
        width: 75%

@keyframes material-design-hamburger__icon--slide-after
    100% 
        transform: rotate(45deg)
        margin: -8% -20%
        width: 75%

@keyframes material-design-hamburger__icon--slide-after-from
    0% 
        transform: rotate(45deg)
        margin: -8% -20%
        width: 75%
