/*
 *Insert-blocks
 */


.main-text p .article-img 
	margin-left: 0

.main-text p .article-img img 
	padding: 0!important 
	border: 0!important
 
.article-img 
	font-family: 'roboto'
	font-size: 12px
	padding: 2px
	clear: both
	color: #9b9b9c
	border-bottom: 1px solid #d7dbe0
	margin: 10px 0


.article-img__pic img
	width: 100%
	margin: 0
	vertical-align: top


.article-img__info 
	padding: 5px 0
	text-align: center


.article-img_250 .article-img__info 
	padding: 5px 0

.article-img__infograph__text
	text-align: center
	padding: 5px 0


.article-img__infograph__text b 
	margin-right: 10px
	font-weight: normal


.article-img__info__text b
	font-weight: 400
	color: #9b9b9c
	font-weight: normal


.article-img_f_left 
	margin-right: 20px!important
	float: left
	clear: none


.article-img_f_right 
	margin-left: 20px!important
	float: right
	clear: none


.article-img_600 
	max-width: 600px
	width: 100%

.article-img_250 
	width: 250px

.article-img_250 .article-img__pic img 
	float: none

.icon-loupe 
    opacity: 1
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"
    background: rgba(27, 67, 136, 1)
    position: relative
    box-sizing: initial


.icon-loupe:hover:before
    opacity: 1
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"


.icon-loupe:hover:after
    opacity: 1
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"


.icon-loupe a img
    opacity: 1
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"
    transition: opacity .3s ease
    position: relative
    z-index: 2


.icon-loupe:hover a img 
    opacity: 0.5
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"



.article-img_250 .icon-loupe:before 
    border: 5px solid #FFF
    width: 30px
    height: 30px
    top: 10px
    right: 22px
    border-radius: 30px
    line-height: 30px
    font-size: 26px


.article-img_250 .icon-loupe:after
    width: 9px
    height: 32px
    right: 16px
    top: 37px
   

.icon-loupe:before
  opacity: 0
  text-align: center
  content: "+"
  border: 10px solid #FFF
  width: 50px
  height: 50px
  display: block
  border-radius: 100px
  font-size: 30px
  line-height: 50px
  font-size: 40px
  font-weight: bold
  color: #FFF
  position: absolute
  top: 25px
  right: 52px


.icon-loupe:after
  opacity: 0
  content: ""
  position: absolute
  /* border: 4px solid #ddd; */
  width: 15px
  height: 57px
  right: 44px
  background: #FFF
  top: 71px
  -webkit-transform: rotate(-44deg)
  -moz-transform: rotate(-44deg)
  -ms-transform: rotate(-44deg)
  -o-transform: rotate(-44deg)
  transform: rotate(-44deg)
  border-radius: 11px


.doc-img_250 
  width: 250px


.doc-img_250 img 
  width: 100%


.doc-img_600
  max-width: 600px
  width: 100%


.doc-img_600 img 
  width: 100%


.article-250-doc-info 
  text-align: center
  padding: 5px 0


.article-600-doc-info 
  padding: 5px 0
  text-align: center




.article-600-doc-info a


.insert-materials-r-small ul a img
	width: auto

.insert-materials-g
	clear: none!important

.playertable
	margin: 0!important
	width: 100%

	div
		width: 100%!important

/*
 *Insert
 */

.insert-materials-g
	position: relative
	text-align: center
	border-bottom: 1px solid $items-divider-color
	margin: 20px 0

	ul li
		margin: 0 0 15px 0

.insert-materials-g .insert-materials-title
	display: inline-block
	font-size: $font-size-medium
	font-weight: $font-weight-bold
	text-transform: uppercase
	padding: 0 10px
	background: $color-white	


	&:before

		content: ""
		position: absolute
		left: 0
		top: 10px
		width: 100%
		height: 1px
		background: $items-divider-color
		z-index: -1

.insert-materials-r-large
	font-size: $font-size-medium

	li
		position: relative	

	.insert-materials-link-title
		display: block
		width: 100%
		position: absolute
		bottom: 0
		color: $color-white
		background: $plate-bg-color
		padding: 10px


.insert-materials-r-large .insert-materials-title
	display: inline-block
	font-size: $font-size-medium
	font-weight: $font-weight-bold
	text-transform: uppercase
	padding: 0 10px
	background: $color-white	

.b-read-more
	background: none
	max-width: 230px
	padding: 0
	position: relative

.b-read-more__name
	margin-bottom: 12px
	font-size: $font-size-medium
	font-weight: $font-weight-bold
	text-transform: uppercase
	font-style: normal
	padding: 0 10px
	text-align: center

.b-read-more__title
	position: absolute
	bottom: 0
	color: #ffffff
	font-family: roboto, sans-serif
	background: rgba(0, 51, 102, 0.5)
	padding: 10px

.article-main .b-read-more__link
	color: #ffffff
	font-weight: normal

.article-main .b-read-more__link:hover
	color: #ffffff

.insert-materials-r-large-title
	text-align: center
	position: relative

.insert-materials-r-large .insert-materials-title:before

	content: ""
	position: absolute
	left: 0
	top: 10px
	width: 100%
	height: 1px
	background: $items-divider-color
	z-index: -1

.insert-materials

	ul

		padding: 0

	ul li

		list-style-type: none
		color: $color-blue

.insert-materials-r-small
	float: left
	width: 50%
	background: $article-author-bg
	padding: 20px
	font-size: $font-size-medium
	margin: 10px 0 10px 0

	ul a img
		float: left
		margin: 0 20px 0 0

	ul
		margin: 10px 0 0 0

	ul li

		padding: 0 0 15px 0
		margin: 0 0 15px 0
		border-bottom: 1px solid $items-divider-color

	ul li:last-child

		padding: 0
		margin: 0
		border: 0

	.insert-materials-title
		text-align: center
		text-transform: uppercase
		font-weight: $font-weight-medium

.insert-materials-r-large
	max-width: 230px
	width: 40%

.insert-left
	float: left
	margin-right: 25px

.insert-right
	float: right
	margin-left: 25px

/*
 *Tiser
 */

.teaser-top 
	background: url(//rg.ru/img/d/teasertop.png) repeat-x bottom left
	margin-bottom: 9px
	clear: both
	height: 26px

.teaser-logo 
	float: left
.teaser-np
	float: right
	color: #bfbfbf
	font-family: Arial
	margin-top: 5px
	font-size: 11px

.teaser-box
 	margin-top: 15px

.teaser-box a
	font-family: arial
	text-decoration: none!important
	line-height: 1.2
	color: #000

.teaser2-top
	margin-bottom: 15px
	clear: both
	height: 26px
	background: url(//rg.ru/i/img/teaser2top.png) repeat-x bottom left


.teaser2-logo 
	float: left
.teaser2-np
	text-align: right
	color: #bfbfbf
	font-family: Arial
	margin-top: 0px
	font-size: 11px
	float: right
	line-height: 12px
	display: block
	width: 70px


.teaser-box-v img:hover
	text-decoration: none !important
	border-bottom: none !important
.teaser-box-v a.hidlink:hover
	border-bottom: none !important
.teaser-ver
	padding-top: 25px