/*
 * Instruments
 */

%group-pseudo
    content: ''
    display: table

.group
    &:before
        @extend %group-pseudo
    &:after
        @extend %group-pseudo
        clear: both

textarea:focus, input:focus
    outline: 0



/*
 * Mixins
 *
 */

=userSelect($prop: initial)
    // Chrome all / Safari all
    -webkit-user-select: $prop  
    // Firefox all
    -moz-user-select: $prop
    // IE 10+
    -ms-user-select: $prop
    // Standart
    user-select: $prop


=transition($prop: all, $time: 1s, $func: ease, $delay: 0s)
	-webkit-transition: $prop $time  $func $delay
	transition: $prop $time $func $delay