/*
 * Kinogame
 *
 */

.kinogame
    margin-top: 40px

    border: 1px solid $items-divider-color
    padding: 30px

    &__form
        background: $article-author-bg
        padding: 30px 0
        text-align: center

    &__head
        font-weight: $font-weight-bold
        margin-bottom: 25px

    &__input
        margin-bottom: 20px
        input
            width: 47%
            border: 1px solid $items-divider-color
            padding: 8px 9px

    &__quest-input
        input
            border: 1px solid $items-divider-color
            width: 100%
            padding: 4px 10px
            margin: 12px 0 25px 0





    &__quest-num
        position: absolute
        top: -4px
        left: 0
        width: 26px
        height: 26px
        text-align: center
        font-size: 10px
        line-height: 2.7
        background: url($img-sprite-url) 30px 187px

    &__quest-item
        float: left
        margin-left: 37px

    &__quest-list__item
        position: relative


    &__quest-list__item:first-child
        .kinogame__quest-item
            margin-top: 0

    &__quest-head
        position: relative
        text-align: center
        margin: 30px 0 20px 0

        .extra-materials-heading__item:before
            top: 11px

    &__button
        text-align: center
        .button
            float: none
    &__quest-input input:focus + &__quest-num
        background: url($img-sprite-url) 30px 157px


.kinogame-side
    font-size: $font-size-medium
    background: $article-author-bg
    text-align: center
    padding: 0 20px 20px 20px

    &__head
        padding: 20px 0
        border-top: 1px solid $items-divider-color

        font-size: $font-size-small
        font-weight: $font-weight-bold

        text-transform: uppercase
        text-align: center


    &__date
        margin: 0 0 20px 0
        font-size: $font-size-small
        color: $color-gray
        text-transform: uppercase

    &__media
        margin: 0 -20px

    &__result
        font-weight: bold
        text-transform: uppercase

    &__item
        padding: 20px 0
        border-top: 1px solid $items-divider-color
    
    &__ranks
        text-align: left
        .kinogame-side__head
            border-bottom: 1px solid $items-divider-color
    
    &__num
        margin-right: 30px
        color: $color-gray
        width: 15px
        display: inline-block

    &__participant
        margin: 15px 0 0 0

    &__answer-reveal
        position: relative
        padding: 15px 0
        border-top: 1px solid $items-divider-color 
        font-size: 14px
        color: $color-blue

        &:before
            content: ''
            position: absolute
            top: -12px
            left: 0
            right: 0
            margin: auto
            z-index: 1

            width: 24px
            height: 24px

            background: url($img-sprite-url) 56px 28px

        &:after
            content: ''
            position: absolute
            top: -14px
            left: 0
            right: 0
            margin: auto
            z-index: 0

            width: 45px
            height: 24px

            background: rgb(245, 247, 249)

    .answer-reveal-on:before
        background: url($img-sprite-url) 29px 28px

    #kinogame-side__questList
        display: none

    &__answer-reveal
        cursor: pointer

    
    &_winner
        font-weight: bold

    &__participant:nth-child(4)
        padding-bottom: 15px
        border-bottom: 1px solid $items-divider-color

    &__icon
        display: inline-block
        width: 15px
        height: 18px
        background: url($img-sprite-url) 22px 127px
        float: right

    &__participant:nth-child(2)

        .kinogame-side__icon
            background: url($img-sprite-url) 44px 127px

