@media (max-width: 1300px)

    .page_layout_header
        background-size: cover

    .header__logo
        display: none

    .header__logo_tablet
        margin: 0 auto
        float: none
        display: block

    .header__left-side,
    .header__right-side
        width: 50%

    .header__left-side:before,
    .header__right-side:before
        display: none

    .header__left-side__title
        font-weight: 300

    .header__right-side__links
        float: right
        overflow: hidden
        text-align: center

    .header__right-side__links__item
        display: inline-block

    .materials
        margin-left: 0
        margin-right: 0

    .page_layout_top

        .accents
            padding-left: 10px
            padding-right: 10px

    .page_layout_content

        .heading
            margin-left: 10px



    /*
     * Article
     *
     */

    .page_article

        .article

            .article-left-wrapper
                padding-left: 20px

        .article-side-wrapper

            .article-other-materials
                margin: 20px

    


@media (max-width: 992px)

    /*
     * Jumbotron
     *
     */

    .jumbotron
        padding-left: 10px

    .jumbotron__block

        .material
            padding: 0

    .jumbotron__block_accent,
    .jumbotron__block_aside
        width: 100%

        .material_accent
            width: 100%

    .jumbotron__block_aside

        .jumbotron__block__heading
            display: none

    .jumbotron__block_accent
        margin-left: 0
        margin-right: 0

    /*
     * Heading-rss
     *
     */

    .heading__rss
        display: none

    /*
     * Article
     *
     */
    
    .author

        width: 100%

        &__description

            height: auto!important

        &__hide-pannel

            display: none

    .author_descr_height_auto
        max-height: auto!important


    /*
     * Accents top
     *
     */
    

    .page_layout_top

        .accent__image
            max-width: 100%
            padding-bottom: 10px
            float: none

    /*
     * Sight
     *
     */
    
    .accents.sight
        position: relative
        z-index: -1

        background: #f1f4f7

        margin-bottom: 30px
        padding-bottom: 30px

        &:before
            height: 15px

        &:after
            background-position: 0 31px
            bottom: 0px

        .sight__main-title-item
            margin-bottom: 20px
            background-color: none

        .accent

            &__content

                &__meta
                    position: static

                    &__opinion
                        float: none

                &__title
                    line-height: 1.2

        .accent.half-rez
            .accent__content

                &__meta

                    &__opinion
                        float: left

        .accent__image
            width: 100%
            max-width: 100%
            margin-bottom: 7px

    /*
     * Materials
     *
     */

    .materials

        .material
            width: 50%

    /*
     * Footer
     *
     */

    .footer__return-rg-link-wrapper
        display: block

    .footer__return-rg-link,
    .footer__rubrics,
    .footer__meta
        float: none

    .footer__rubrics,
    .footer__meta,
    .footer__counts
        margin: $indent*2

    .footer__rubrics
        overflow: hidden

        &_position_right
            display: none

    .footer__counts
        padding-top: $indent*2
        float: none
        clear: both

        .counter-item
            margin-right: $indent
            margin-bottom: $indent
            float: left

    /*
     * Article
     *
     */

    .article-left-wrapper,
    .article-main-wrapper,
    .article-side-wrapper
        width: 100%
        float: none

    .article-left-wrapper .article-popular-wrapper,
    .article-right-wrapper
        display: none

    .insert-materials-r-small
        width: 100%
        margin: 20px auto
        margin-left: 0
        float: none
        background: none

        ul
            margin: 0
            padding: 10px 0 20px
            border-bottom: 1px solid #d8e0e8

            li
                font-size: 16px
                margin-bottom: 0
                text-align: center
                border-bottom: 0

                a img
                    display: none

    .insert-materials-r-small .insert-materials-r-small-title
        position: relative
        text-align: center

    .insert-materials-r-small .insert-materials-title
        display: inline-block
        font-size: 14px
        font-weight: 700
        text-transform: uppercase
        padding: 0 10px
        background: white

    .insert-materials-r-small .insert-materials-title:before
        content: ""
        position: absolute
        left: 0
        top: 10px
        width: 100%
        height: 1px
        background: #d8e0e8
        z-index: -1

    .article-other-materials

        &__item-wrapper
            width: 50%

    .comments-wrapper
        width: 100%

    .page_layout-bottom-adv
        display: block

        .article-right-wrapper
            width: 100%
            padding: 20px
            float: none
            display: block

    #yandex_ad_vert_bottom .yap-yandex_ad_vert_bottom-posterVertical .yap-layout_block_poster
        max-width: 100%!important

    /*
     * New Article
     *
     */

    .page_article

        .article
            width: 100%

            .article-left-wrapper,
            .article-main-wrapper
                width: 100%

        .article-right-wrapper
            width: 100%
            margin-bottom: $indent*2

    /*
     * Comments
     *
     */
    
    .page_article .page_layout_comments .comments

        margin:  auto

        .header-com-form-addCom-btn

            font-size: 12px

        .comments-wrapper .comment-box

                margin-left: 0 
    



@media (max-width: 768px)

    //.header__menu-toggle
    .header-menuBtn-hamburger
        display: block

    .header__left-side,
    .header__right-side
        display: none

    .header__logo_tablet
        width: 70%

    .jumbotron__block_accent,
    .materials

        .material
            width: 100%

            .material__title
                font-size: 18px

    .jumbotron__block_aside

        .jumbotron__block__content

            .material,
            .adv_aside
                width: 100%

    .page_layout_top

        .accent
            width: 100%
            margin: 10px 0

            &__image
                max-width: 34%
                padding-bottom: 0
                float: left

    /*
     *
     * Author
     * 
     */


    .article-main__vote-soc.show-rating
        height: auto

        .article-main__vote-soc__socials,
        .article-main__vote-soc__comment-anchor
            position: static

        .article-main__vote-soc__comment-anchor

            .button
                float: none

        .article-main__vote-soc__voting
            margin: $indent*2 0
        


    .article-author__recent
        display: none

    .article-other-materials

        &__item-wrapper
            width: 100%
            float: none

    .article-img
        float: none

    .insert-materials-r-large
        font-size: 14px

    /*
     * Sight
     *
     */

    .accents.sight

        .accent
            width: 100%
            margin-top: 25px


        .accent__image
            width: 34%
            margin-bottom: 0

        .accent.half-rez
            width: 100%

            .accent__content

                &__meta

                    &__opinion
                        float: none


    /*
     * Commnets
     *
     */
    
    .page_article 

        .page_layout_comments 

            .comments
                width: auto

                .comments-wrapper 

                    .comList-box
                        margin-left: 10px

                        .comList-box-item-info
                            padding: 0 3% 0 0

                        .comList-box-item-text
                            font-size: 14px
                            width: 74%


@media (max-width: 530px)

    .insert-materials-r-large
        max-width: none
        width: 100%

        border-bottom: 1px solid  $items-divider-color

        padding-bottom: 20px
        margin-bottom: 10px

    .insert-materials-r-large .insert-materials-r-large-main-picture

        width: 30%

        float: left

    .insert-materials-r-large .insert-materials-link-title

        width: 70%

        float: left

        position: static

        padding-top: 0
        padding-left: $indent*3

        background: none
        color: $color-blue

        font-size: $font-size-base
