/*
 * More-button
 */
$more-button: '.more-button'


#{$more-button}
    text-align: center

    &__container
        color: $color-blue
        text-transform: uppercase
        font-size: $font-size-medium

        &__item
            position: relative
            background: $color-white
            height: 13px
            padding: 23px

            +transition(color, .3s)

            &__button
                position: relative
                z-index: 2
                background: $color-white
                background-size: 0
                color: inherit
                border: 1px solid #d7dbe0
                padding: 8px 18px
                border-radius: 35px

                +transition(background-size, .3s, cubic-bezier(0.25,0.1,0.04,1.41))

                .hasProcessing &
                    background: url($img-path + $svg-loader) center center no-repeat
                    background-size: 26px

            &.hasProcessing
                color: transparent

.more-button:before
    content: ""
    position: absolute
    width: 100%
    left: 0
    background: url($more-button-pattern) 0 7px repeat-x
    height: 15px