/*
 *Rambler
 */

.rambler_news

	background: #f0f1f2 none repeat scroll 0 0
	margin: 20px 45px
	overflow: hidden

.rambler_item 
	float: left
	overflow: hidden
	padding: 15px
	width: 33.3%
.rambler_item:hover
	background: #c8cbce none repeat scroll 0 0

.rambler_item a.rambler_img 
	display: block
	overflow: hidden
	float: left

.rambler_item img 
	border-radius: 2px
	display: block
	height:auto
	position:relative

.rambler_item a.rambler_title
	color: #1a1a1a
	display: inline-block
	font-size: 18px
	line-height: 20px
	padding: 15px 0px 0
	text-decoration: none
	font-weight: 700

.rambler_header 
	clear: both
	color: #ccc
	font-size: 14px
	font-weight: bold
	padding-bottom: 2px
	padding-left: 15px
