/*
 * Socials
 *
 */

.socials-old,
.b-share:before
    display: none!important

.article-main__vote-soc__socials

        .b-share__content
            display: none

        .b-share-icon,
        .ya-share2__icon
            width: 25px!important
            height: 25px!important
            background-image: url($img-sprite-url)!important
            background-color: transparent!important
            -webkit-transition: none!important
            -moz-transition: none!important
            -o-transition: none!important
            transition: none!important
            // fix for :active styles
            top: 0!important

        .b-share__handle,
        .ya-share2__item
            border-top: 0!important
            background-color: transparent!important

        .b-share-counter,
        .ya-share2__counter
            font-size: 10px
            width: 10px
            margin: 0

            position: relative
            top: 0!important
            right: 0!important

            line-height: 0
            color: $color-grey-blue!important

        // vk
        .b-share-icon_vkontakte,
        .ya-share2__item_service_vkontakte .ya-share2__icon
            background-position: 0px -157px!important

        .b-share__handle:hover .b-share-icon_vkontakte,
        .ya-share2__item_service_vkontakte:hover .ya-share2__icon
            background-position: 0px -182px!important

        //fb
        .b-share-icon_facebook,
        .ya-share2__item_service_facebook .ya-share2__icon
            background-position: -25px -157px!important

        .b-share__handle:hover .b-share-icon_facebook,
        .ya-share2__item_service_facebook:hover .ya-share2__icon
            background-position: -25px -182px!important

        // tw
        .b-share-icon_twitter,
        .ya-share2__item_service_twitter .ya-share2__icon
            background-position: -50px -157px!important

        .b-share__handle:hover .b-share-icon_twitter,
        .ya-share2__item_service_twitter:hover .ya-share2__icon
            background-position: -50px -182px!important

        // ok
        .b-share-icon_odnoklassniki,
        .ya-share2__item_service_odnoklassniki .ya-share2__icon
            background-position: -75px -157px!important

        .b-share__handle:hover .b-share-icon_odnoklassniki,
        .ya-share2__item_service_odnoklassniki:hover .ya-share2__icon
            background-position: -75px -182px!important

        // g+
        .b-share-icon_gplus,
        .ya-share2__item_service_gplus .ya-share2__icon
            background-position: -100px -157px!important

        .b-share__handle:hover .b-share-icon_gplus,
        .ya-share2__item_service_gplus:hover .ya-share2__icon
            background-position: -100px -182px!important