/*
 *Tag
 */

$tags: '.tags'

#{$tags}
	font-size: $font-size-small
	margin-top: 13px

	&__item
		
		margin: 0 12px 10px 0
		padding: 3px 0

		color: $color-gray

		float: left

		&__link

			border: 1px solid #d7dbe0
			border-radius: 15px

			color: inherit

			padding: 3px 15px

		&__link:hover
			color: #3f3e41
			border-color: #3f3e41



.jumbotron .material_accent #{$tags} 

	&__item
		margin-left: 16px