/*
 *Translation
 */


.page .text_translation, .page .text_translation .text_trans_box
	width: auto

.page .text_translation

	margin: 20px 0 0 0
	padding: 0
	font-family: roboto, sans-serif

	.text_trans_box

		border-bottom: 1px solid #d8e0e8
		margin: 0
		padding: 0 0 0 60px 

	.text_action

		font-size: 16px

	.time
		color: initial
		font-weight: $font-weight-medium
		font-size: $font-size-medium
		left: 0

	.img_trans

		border: 0

	.link_data, .link_data:visited

		color: $color-blue
		text-decoration: none!important

.b-broadcast-online
	&__date
		font-size: 16px
		color: #393838
		font-weight: bold
		border-bottom: 2px solid #ddd
		padding: 0 0 3px 0
		float: none
	&__item
		position: relative
		border-bottom: 1px solid #d8e0e8
		padding: 0 0 10px 60px
		margin: 10px 0
	&__time
		position: absolute
		left: 0
		font-weight: 500
		font-size: 14px
	&__author
		margin-bottom: 10px
	&__img
		margin: 10px 0
		padding: 3px
		display: block





