/*
 * Variables
 */

$indent: 10px

$font-primary-stack: roboto, sans-serif
$font-secondary-stack: 'roboto condensed', sans-serif

$font-regular: $font-primary-stack
$font-condensed: $font-secondary-stack

$font-size-small: 12px
$font-size-medium: 14px
$font-size-base: 16px
$font-size-large: 18px

$font-size-h1: 42px
$font-size-h2: 36px
$font-size-h3: 32px
$font-size-h4: 28px
$font-size-h5: 24px
$font-size-h6: 21px

$font-weight-light: 300
$font-weight-normal: 400
$font-weight-medium: 500
$font-weight-bold: 700

$line-height-base: 1.2
$line-height-large: 1.5
$line-height-xlarge: 1.6

$color-white: #ffffff
$color-blue: #0066cc
$color-marine: #07a0e7
$color-black: #000000
$color-soft-black: #3f3e41
$color-gray: #adb3b9
$color-soft-gray: #d7dbe0
$color-deep-blue: #03172d
$color-dark-blue: #003366
$color-grey-blue: #AAB5C0
$color-soft-blue: #6699cc
$color-orange: #ea7a3b
$color-light-orange: #ffcc66
$color-light-purple: #9da3c2
$color-yellow: #f7c100

$color-links-hover: $color-blue
$color-links-visited: #003399

$bg-top-color: #020F21

$items-divider-color: rgba($color-dark-blue, .1)

$plate-bg-color: rgba($color-dark-blue, .5)

$article-author-bg: rgba($color-dark-blue, .04)

$comments-color-bg: rgba($color-dark-blue, .04)

$adv-color-bg: rgba($color-dark-blue, .04)


$page-body-width: 1260px

$jumbotron-height: 556px

$material-base-width: 25%
$material-base-height: 482px
$material-small-cover-height: 343px

$accent-base-width: 33%
$accent-image-base-width: 34%
$accent-content-base-width: 64%

$accent-container: 115px


$img-folder: "//rg.ru/res/images/custom/projects/kino/"

$img-sprite-url: $img-folder + "material-rating-stars.png"
$header-bg-url: $img-folder + "header-bg.png"
$header-bg-gradient: $img-folder + "gradient-head.png"
$header-bg-other-url: $img-folder + "header-bg-other-pages.jpg"
$top-chair-pic: $img-folder + "chair.png"
$top-bg-url: $img-folder + "top-bg.png"
$top-bg-gradient: $img-folder + "gradient-top.png"
$jumbotron-light-top: $img-folder + "light_top.png"
$jumbotron-light-bottom: $img-folder + "light_bottom.png"
$content-top-corner: $img-folder + "content-top-corner.png"
$content-bottom-corner: $img-folder + "content-bottom-corner.png"
$comments-bottom-corner: $img-folder + "comments-bottom-corner.png"
$more-button-pattern: $img-folder + "more-button-pattern.png"

$star-bottom-pic: $img-folder + "star_bottom.png"
$stars-processing-pic: $img-folder + "stars_processing.gif"
$star-top-pic: $img-folder + "star_top.png"
$star-active-pic: $img-folder + "star_active.png"

$img-path: '//rg.ru/i/'
$svg-loader: 'md-loader.svg'







