/*
 * Блок ввода данных
 * Совмещает в себе все стандартные
 * элементы формы
 * 
 */

// Объявляем блок
$block: '.b-field'

// Стили
#{$block}

    &__wrapper
        margin-bottom: 20px

    &__select
        +font(13px)


    &_select
        width: 100%
        float: right


    +bp-tablet
        &
            &_select
                width: 165px