/*
 * Абстрактный блок стандартных элементов
 * 
 */

// Объявляем блок
$block: '.b'
$table: '.b-table'

+bp-desktopFull
    .b-sidebar-right
        float: none

// Стили
#{$block}

    &__wrapper
        margin-bottom: 10px

    &__subtitle
        +font(14px)

    &__item
        padding: 30px 20px 30px 20px

        background: $today-bg-color

    &__img
        width: 240px


    &__row:last-child
        padding-bottom: 1px

    .is-sms-item &
        &__wrapper
            width: 100%
            padding-left: 0

        &__title
            padding-top: 25px
            line-height: 2

        &__subtitle
            +font(14px)
            font-family: $f-sans
            text-transform: uppercase
            font-weight: bold

        &__media
            width: 43%
            text-align: center

    +bp-tablet

        &
            &__row
                width: 100%

            &__title_shifter
                margin-bottom: 0

    +bp-tabletLandscape
        &
            &__wrapper
                width: 70%

            &__title
                +font(22px)

            &__item
                padding-left: 30px
                padding-right: 30px





#{$table}
    &__wrapper

        #{$block}
            &__title
                float: left




















