/*
 * Панель данных
 * 
 */

// Объявляем блок
$block: '.b-date-panel'

// Стили
#{$block}

    &__body
        margin-bottom: $indent-v-el
        padding: 0 $indent-g-small
        position: relative
        overflow: hidden
        border-bottom: 1px solid $border-color

    &__item
        +font(13px)

        margin-right: 19px
        margin-bottom: -1px
        position: relative
        
        display: inline-block
        vertical-align: middle
        border-bottom: 3px solid transparent

        line-height: 3.8em

        &.is-border
            height: 42px
            position: absolute
            border-bottom: 3px solid $red

        +transition

    &__spiegel
        float: left

    &__issues
        margin-right: 0
        float: right

    // Tablet
    +bp-tablet

        &
        
            &__body
                width: $width-wrapper-tablet
                padding: 0

            &__item
                margin-right: 25px

                &.is-border
                    height: 52px

            &__issues
                margin-right: 0
            

    // Tablet landscape
    +bp-tabletLandscape

        &

            &__body
                width: $width-wrapper-tabletLandscape
                margin-bottom: $indent-v-block

            &__item
                margin-right: 35px

            &__issues
                margin-right: 0
            

    // Desktop
    +bp-desktop

        &
            &__body
                //width: 990px
                width: $width-wrapper-desktop

            &__issues
                width: $width-block
                position: relative
                text-align: right

    // Desktop full
    +bp-desktopFull

        &
            &__body
                width: $width-wrapper-desktopFull