/*
 * Блок ввода данных
 * Совмещает в себе все стандартные
 * элементы формы
 * 
 */

// Объявляем блок
$block: '.b-field'

// Стили
#{$block}
    &__item
        width: 100%
        margin-bottom: 10px
        float: left
        &:last-child
            margin-top: 10px
            margin-bottom: 0
            text-align: center



    +bp-tabletLandscape
        &__item
            width: 28%
            padding-right: 10px
            margin-top: 2px
            &:last-child
                width: 16%
                margin-top: 0






