/*
    * Блоки, подгружаемые через LoadChain
    *
    */

// Объявляем блок
$block: '.b-items-list'

// Стили
#{$block}
    margin-top: $indent-v-el

    +bp-tablet

        &
            margin-top: 0