@import ../../../common

// Кастомизируем блоки
@import ../../../../blocks/custom/statics/kontakty/main/b-static-wrapper/style/b-static-wrapper

@import ../../../../blocks/custom/statics/kontakty/main/b-person/style/b-person

@import ../../../../blocks/custom/statics/kontakty/crosslayouts/b-address/style/b-address

// Overlays
.karta-proezda-ctx

    #cboxContent
        padding: 40px 20px

    #cboxTitle
        +font(16px)
        top: 8px
        left: 20px

// Объявляем блок
$block: '.b-content-toggler .b-rubricator-menu'

// Стили
#{$block}
    
    &__item 
        +font(13px)
        color: #1f77bb

        &.is-active
            font-weight: bold
            color: $black


$block: '.b-rubricator-wrapper .b-feed'

#{$block}

    &__text b
        display: inline-block
        padding-top: 10px    

    +bp-tablet

        &
            
            &__list
                -webkit-column-width: 30%;
                -moz-column-width: 30%;
                column-width: 30%;
                -webkit-column-count: 2;
                -moz-column-count: 2;
                column-count: 2;
                -webkit-column-gap: 40%;
                -moz-column-gap: 40%;
                column-gap: 40%;
                // -webkit-column-rule: 1px solid #ccc;
                // -moz-column-rule: 1px solid #ccc;
                // column-rule: 1px solid #ccc;

            &__item
                border: none

