/*
 * Баннеры
 * 
 */

// Объявляем блок
$block: '.b-ads'

// Стили
#{$block}

    div[id^="AdFox_banner"]
        margin-top: 0

        iframe
            margin: 0!important

    &__direct .yap-layout__content
        font-size: 80%!important

    &__direct .yap-layout__logo 
        font-size: 70%!important