/*
 * Блок акцентов
 * 
 */


// Объявляем блок
$block: '.b-issue-picture'

// Стили
#{$block}
    position: relative
    z-index: 1

    &__image
        width: 100%
        border: 1px solid $border-color


    // Tablet
    +bp-tablet

        &

    // Tablet landscape
    +bp-tabletLandscape

        &

    // Desktop
    +bp-desktop

        &

    // Desktop Full
    +bp-desktopFull

        &
            float: right