/*
 * Главные новости
 *
 */

// Объявляем блок
$block: '.b-news'

// Стили
#{$block}
    padding: 0
    border-top: 1px solid #dedede
    border-bottom: 1px solid #dedede

    &__name 
        font-family: $f-sans
        font-weight: bold
        +font(18px)
        padding: $indent-g-small 0 
        color: $black

    &__body
        overflow: hidden

    &__list
        margin-left: 0

    &__list-item-text
        display: none

    &__list-item-time
        display: none

    &__list-item-title
        color: $black
        .b-link:visited
            color: #686868

    &__list-item
        margin-left: 0

        &:last-child
            background: $active-color
            padding: 40px 20px
            position: relative
            #{$block}
                &__list-item-image
                    display: none
                &__list-item-time
                    background: none
                    color: $white
                &__list-item-action
                    display: none
                &__list-item-title
                    margin: 50px 0 20px
                    color: $white
                    .b-link:visited
                        color: $white
            &:before
            	content: "Март 2016"
            	position: absolute
            	+font(14px)
            	color: $white
            	top: 20px

    &__list-item-date
        display: none
        border: none

        #{$block}
            &__list-item-title
                color: $black
                +font(18px)

    &__list-no-x-lagre, &__list-no-lagre

        &:before
            border: none

        #{$block}
            &__list-item-time
                display: none
            &__list-item-title
                +font(18px)

    &__body.b-news-spiegel
        #{$block}
            &__list-item
                width: 100%
                background: none
                padding: 0

                &:last-child
                    #{$block}
                        &__list-item-title
                            margin: 0
                            margin-bottom: 15px
                        &__list-item-time
                            background: $time-color
                        &__list-item-image
                            display: block
                        &__list-item-title
                            color: $black
                            .b-link:visited
                                color: #686868
                    &:before
                    	content: none

            &__list-item-title
                +font(18px)

    +bp-tablet
        #{$block}
            &__list-item
                width: 100%


    +bp-tabletLandscape
        #{$block}
            &__list-item
                width: 203px
                margin-right: 20px
                &:last-child
                    margin-right: 0

                #{$block}
                    &__list-item-title
                        +font(16px)

        &__body.b-news-spiegel
            #{$block}
                &__list-item
                    width: 100%
                    margin-right: 0

    +bp-desktop
        #{$block}
            &__list-item
                width: 228px
                &:last-child
                    width: 474px
                    margin-right: 0
                    #{$block}
                        &__list-item-text
                            display: block
                            color: $white


        &__body.b-news-spiegel
            #{$block}
                &__list-item
                    width: 50%
                    float: left
                    padding-right: 10px
                    &:last-child
                        padding-right: 0
                        padding-left: 10px
                        #{$block}
                            &__list-item-text
                                display: none

    +bp-desktopFull
        #{$block}
            &__list-item
                width: 318px
                &:last-child
                    width: 654px

        &__body.b-news-spiegel
            #{$block}
                &__list-item
                    width: 50%




