/*
 * Шапка страницы поиска
 * 
 */     

// Объявляем блок
$block: '.b-search-head'

// Модификатор блока с поиском
$bSearchBar: '.b-search-bar' 

// Основной блок
#{$block}
    width: 100%

    #{$bSearchBar}

        // Контейнер
        & .b-field_input_text
            width: calc(100% - 70px)
            border-right-width: 0
            border-radius: 2px 0 0 2px

        // Контейнер
        & .b-field_input_submit
            //width: 62px
            width: auto
            margin-left: -2px

        // Элемент
        & .b-field__input_submit
            padding: 8px 10px // чтобы кнопка влезала

            border-radius: 0 2px 2px 0

    &__filters-btn
        margin: 18px 0 30px

    &__filters
        //display: none
        //margin-bottom: 20px
        //padding: 20px
        //background: $today-bg-color

        //&_show
            //display: block

    //&__meta,
    //&__sort
        //margin-bottom: 20px

    //&__meta
        //color: $comment-color

    // Tablet
    +bp-tablet

        &
            width: $width-wrapper-tablet
            //margin: 0 auto

            #{$bSearchBar}

                // Контейнер
                & .b-field_input_text
                    width: 300px
                    margin-right: 10px
                    border-right-width: 1px

                // Контейнер
                & .b-field_input_submit
                    margin-left: 0

            &__row_search
                margin-bottom: 30px

            &__filters-btn
                //margin: 0
                //margin-left: 30px

                //display: inline-block

            //&__meta
                //float: left
            
            //&__sort
                //float: right

            &__filters-btn
                margin: 18px 0 0
                display: block



    // Tablet landscape
    +bp-tabletLandscape

        &
            width: $width-wrapper-tabletLandscape

            #{$bSearchBar}

                // Контейнер
                & .b-field_input_text
                    width: 460px


    // Desktop
    +bp-desktop

        &
            width: $width-wrapper-desktop

            #{$bSearchBar}
                display: inline-block // 21.01.2016 я в 7 раз обновил файл
                vertical-align: middle

                // Контейнер
                & .b-field_input_text
                    width: 560px

            &__filters
                //padding: 30px

            &__filters-btn
                margin: 0
                margin-left: 30px

                display: inline-block
                vertical-align: middle

                .l-page_doc_search &
                    display: none



    // Desktop full
    +bp-desktopFull

        &
            width: $width-wrapper-desktopFull