/*
 * Фотогалерея внутри статьи
 * 
 */

// Объявляем блок
$block: '.b-gallery'

// Стили
#{$block}
    position: relative
    width: 100%


    .fotorama__thumb-border
        border-color: $active-color

    &_jumbotron
        display: none
        #{$block}
            &__body
                &:before
                    content: ''
                    width: 100%
                    height: 140px

                    position: absolute
                    top: 0
                    left: 0
                    z-index: 10

                    +linear-gradient('to top', rgba($black, 0) 0%, rgba($black, .8) 100%)
                    +transition(opacity .3s ease)

                &:after
                    content: '«ЗИЛАРТ» — жилой комплекс арт-класса. Для тех, кто ценит свой комфорт, возможности для бизнеса, и вдохновение от разнообразных культурных событий.'
                    position: absolute
                    z-index: 11
                    color: white
                    +font(20px)
                    width: 430px
                    font-family: "NotoSerif",Arial,sans-serif
                    left: 20px
                    top: 30px



    &__name 
        font-family: $f-sans
        font-weight: bold
        +font(18px)
        padding: $indent-g-small 0 
        color: $black        

    &_jumbotron

        .fotorama__nav-wrap
            position: absolute
            bottom: 0

            .fotorama__dot
                border-color: $white

    +bp-tablet

        &_jumbotron
            display: block

    +bp-desktop

        &_jumbotron

            #{$block}

                &__body

                    &:after
                        left: 60px
                        top: 60px
                        width: 600px
                        +font(30px)

        .l-page_zilart_index &

            width: 68%
            padding-right: 30px
            float: left

            &_jumbotron
                width: 100%
                padding-right: 0
                float: none

    +bp-desktopFull

        .l-page_zilart_index &

            width: 77%
            padding-right: 20px

            &_jumbotron
                width: 100%
                padding-right: 0