/*
 * Абстрактный блок стандартных элементов
 *
 */

// Объявляем блок
$block: '.b'

#{$block}
    &__media
        width: 100%
        height: 100%

    &-rubricator-menu
        padding-right: 0

    &__row
        display: none
        &:first-child
            display: block

        &:nth-child(2)
            border: none
            padding-top: 0
            margin-bottom: 0

    &__img.is-first-img
        display: none

        &.is-sila
            background: url('/res/images/custom/statics/spec/sila-cover.jpg')

        &.is-digital
            background: url('/res/images/custom/statics/spec/digital-cover.jpg')

        &.is-kino
            background: url('/res/images/custom/statics/spec/kino-cover.jpg')

        &.is-zvezdy
            background: url('/res/images/custom/statics/spec/zvezdy-cover.jpg')

        &.is-d2
            background: url('/res/images/custom/statics/spec/d2-cover.jpg')

        &.is-25
            background: url('/res/images/custom/statics/spec/25-cover.jpg')

        &.is-beg
            background: url('/res/images/custom/statics/spec/beg-cover.jpg')

        &.is-proroditel
            background: url('/res/images/custom/statics/spec/proroditel-cover.jpg')

        &.is-mbfw
            background: url('/res/images/custom/statics/spec/mbfw-cover.jpg')

        &.is-lada
            background: url('/res/images/custom/statics/spec/lada-cover.jpg')

        &.is-zilart
            background: url('/res/images/custom/statics/spec/zilart-cover.jpg')

        &.is-azerbaijan
            background: url('/res/images/custom/statics/spec/azerbaijan-cover.jpg')

        &.is-2020
            background: url('/res/images/custom/statics/spec/2020-cover.jpg')

        &.is-ulianovsk
            background: url('/res/images/custom/statics/spec/ulianovsk-cover.jpg')

        &.is-is-rostov
            background: url('/res/images/custom/statics/spec/rostov-cover.jpg')

    +bp-tabletLandscape
        &__img.is-second-img
            display: none

        &__img.is-first-img
            display: block

        &__item.is-wide
            width: 100%

        &__item
            width: 50%
            display: inline-block
            vertical-align: top
            padding-left: 20px
        &__row
            margin-left: -20px

    +bp-desktop
        &__wrapper
            margin-right: -60px
        &__item
            width: 308px
            height: 308px
            margin-right: 30px
            margin-bottom: 30px
            overflow: hidden
            position: relative
            padding-left: 0
            float: left

        &__item.is-wide
            width: 647px

        &__row
            margin-left: 0

        &__text
            +font(14px)

        &__col
            position: absolute
            top: 0
            color: $white
            padding: 30px
            width: 100%
            height: 100%
            padding: 30px 30px 0 30px
            background: rgba(92, 112, 123, 0.3)

            #{$block}
                &__text
                    display: none
            &:hover
                background: rgba(92, 112, 123, 0.5)

                #{$block}
                    &__text
                        display: block



    +bp-desktopFull

        &__item.is-wide
            width: 876px

        &__item
            width: 423px
            height: 423px







                

