/*
 * Блок переключения регионов в шапке
 * 
 */

// Объявляем блок
$block: '.b-switch-region'

// Модификаторы

// Стили
#{$block}
    +font(14px)

    margin-left: 30px

    &__text
        margin-left: 15px