/*
 * Подписаться на сюжет
 * 
 */

// Объявляем блок
$block: '.b-follow'

// Стили
#{$block}
    +font(14px)

    &:hover
        color: #333333
        cursor: pointer

    // Если это сюжет
    &_sujets
        position: relative
        display: inline-block
        line-height: 1.2em
        color: #9a9a9a
        border-bottom: 1px dotted
    
        &:after 
            content: ''
            width: 20px
            height: 20px
            position: absolute
            right: -25px
            background: url(#{$img-path}sprite_main.png) no-repeat -150px -60px

            // Ретина
            +bp-retina

                &
                    background: url(#{$img-path}sprite_main_2.png) no-repeat -150px -60px
                    background-size: $retina-icon-width

            .b-fast-access &
                right: inherit
                top: -10px

                background-position: -150px -20px

    // Когда активный сюжет
    &_sujets.is-active:after
        background-position: -150px -40px

    // Убираем, если вунтри контента статьи
    .b-content .b-material-sujet &
        display: none

    // Внутри оверлея
    .b-followed__item-action &_sujets
        height: 14px

    // Модификатор, когда внутри заголовка
    .b-list-head__row &
        font-weight: normal
        text-transform: none

        margin-bottom: 10px

    +bp-desktop

        &

            .b-list-head__row &
                position: absolute
                right: -298px
                bottom: -5px


    +bp-desktopFull

        &

            .b-list-head__row &
                right: -337px