/*
 * Главные новости
 *
 */

// Объявляем блок
$block: '.b-another-news'

// Стили
#{$block}
    padding: $indent-g-small
    padding-bottom: 0
    background-color: #f3f3f3

    &__name
        +font(16px)
        font-family: $f-serif
        font-style: italic
        padding-bottom: $indent-g-small
        font-weight: bold


$news-block: '.b-another-news .b-news__list-item'

// Стили
#{$news-block}
    padding-bottom: $indent-g-small/2
    margin-bottom: $indent-g-small/2
    border-bottom: 1px solid $border-color
    width: 100%

    &:last-child
        border: none
        margin-bottom: 0

    & h2.b-news__list-item-title
        +font(13px)
        font-family: $f-sans
        font-weight: normal
        margin: 0

    &-time
        display: none
    




