/*lm 2014*/
.insert-right {float:right !important; margin-left: 15px!important}
.insert-right.insert-materials-r-small, .insert-right.insert-materials-r-large {margin-right:0 !important}
.insert-left {float:left !important;}

.insert-left > a,
.insert-right > a {
  display: block;
}

.insert_right {float:right !important; margin-left: 10px}
.insert_right .insert-materials-r-small, .insert_right .insert-materials-r-large {margin-right:0 !important}
.insert_left {float:left !important;clear: both}

.insert_left > a,
.insert_right > a {
  display: block;
}

/*Has text*/
.insert-materials-title.has_text {
	text-indent: 0!important;
	background: none!important;
}

/*INSERT MATERIALS GORISONTAL*/
.insert-materials-g {
  font-family: roboto, sans-serif;
  width: 690px;
  height: 41px;
  margin: 3px 0;
  border: 1px solid #b7b7b7;
  border-color: #b7b7b7 #d5d5d5;
  background: url(//rg.ru/i/insert-material/insert-materials-g-bg-grad.jpg) repeat-x 0 0;
  position:relative;
  clear: both;
}

.insert-materials-g img {
  margin-top: 9px;
  float: left;
}

.insert-materials-g .insert-materials-title {
	font-family: 'roboto condensed', sans-serif;
	font-size: 15px;
    width: 163px;
    height: 26px;
	padding-left: 3px;
    position: absolute;
    top: 6px;
	text-indent: -9999px;
	text-transform: uppercase;
	line-height: 26px;
	color: #4f82ac;
	border-left: 3px solid;
    background: url('//rg.ru/img/insert-materials-big.png') no-repeat;
}

.insert-materials-g ul {
  font-size: 13px;
  margin: 1px 0 0 164px;
  padding: 0!important;
  line-height: 18px;
  list-style: none!important;
}

.insert-materials-g ul a {
  padding-left: 10px;
  color: #4f82ac;
  text-decoration: none;
  background: url(//rg.ru/i/insert-material/insert-materials-g-dot.gif) no-repeat 0 7px;
}

.insert-materials-g ul a:hover {}

.insert-materials-g ul li {
margin-top: 0 !important;
margin-bottom: 0 !important;
}


/*INSERT MATERIALS ONLY TEXT*/

.insert-materials-r-text {
  font-family: roboto, sans-serif;
  width: 200px;
  margin: 3px 16px 3px 0;
  float: left;
  border: 1px solid #d5d5d5;
}

.insert-materials-r-text-title {
  height: 27px;
  background: url(//rg.ru/i/insert-material/insert-materials-g-bg-grad.jpg) repeat-x 0 0;
  position:relative;
}

.insert-materials-r-text-title img {
  width: 84px;
  height: 15px;
  margin-top: 6px;
}

.insert-materials-r-text-title .insert-materials-title {
	font-family: 'roboto condensed', sans-serif;
	font-size: 15px;
	padding-left: 3px;
    width: 100%!important;
    height: 15px;
    position: absolute;
    top: 6px;
	text-indent: -9999px;
	color: #4f82ac;
	line-height: 15px;
	text-transform: uppercase;
	border-left: 3px solid;
    background: url('//rg.ru/img/insert-materials-r-big.png') no-repeat;
}

.insert-materials-r-small .insert-materials-title {
	font-family: 'roboto condensed', sans-serif;
	font-size: 15px;
    width: 100%!important;
    height: 15px;
	padding-left: 3px;
    position: absolute;
    top: 6px;
	text-indent: -9999px;
	color: #4f82ac;
	line-height: 15px;
	text-transform: uppercase;
	border-left: 3px solid;
    background: url('//rg.ru/img/insert-materials-r-big.png') no-repeat;
}

.insert-materials-r-text ul {
  font-size: 13px;
  margin: 0;
  padding: 15px 2px 0 8px!important;
  list-style: none!important;
  border-top: 1px solid #b7b7b7;
}

.insert-materials-r-text ul li {
  margin: 0 0 15px 0;
  padding: 0 0 0 10px;
  background: url(//rg.ru/i/insert-material/insert-materials-g-dot.gif) no-repeat 0 8px;
}

.insert-materials-r-text ul a {
  line-height: 16px;
  color: #296091;
  text-decoration: none;
}

.insert-materials-r-text ul a:hover {}

.insert-materials-r-text-more {}

.insert-materials-r-text-more a {
  width: 182px;
  margin: 0 auto;
  padding: 0 0 0 10px;
  display: block;
  color: #5385ad;
  border-top: 1px solid #5385ad;
  background: url(//rg.ru/i/insert-material/insert-materials-r-text-more-arrow.gif) no-repeat 0 7px;
}

.insert-materials-r-text-more a:hover {
  text-decoration: none;
}

/*INSERT MATERIALS SMALL IMAGE 50*/

.insert-materials-r-small {
  font-family: roboto, sans-serif;
  width: 200px;
  margin: 3px 16px 3px 0;
  float: left;
  border: 1px solid #d5d5d5;
  position:relative;
}

.insert-materials-r-small-title {
  height: 27px;
  background: url(//rg.ru/i/insert-material/insert-materials-g-bg-grad.jpg) repeat-x 0 0;
  position:relative;
}

.insert-materials-r-small-title img {
  width: 84px;
  height: 15px;
  margin-top: 6px;
}

.insert-materials-r-small ul {
  font-weight: 700;
  font-size: 11px;
  margin: 0;
  padding: 15px 0 8px 8px!important;
  list-style: none!important;
  border-top: 1px solid #b7b7b7;
}

.insert-materials-r-small ul li {
  min-height: 54px;
  margin-bottom: 0!important;
  overflow: hidden;
}

.insert-materials-r-small ul a {
  line-height: 16px;
  color: #296091;
  text-decoration: none;
}

.insert-materials-r-small ul a:hover {}

.insert-materials-r-small ul a img{
  float: left;
  margin: 0 5px 15px 0;
  padding: 1px;
  border: 1px solid #ccc;
}

.insert-materials-r-small-more {
  clear: both;
}

.insert-materials-r-small-more a {
  font-size: 17px;
  width: 182px;
  margin: 5px auto;
  padding: 0 0 0 10px;
  display: block;
  line-height: 21px;
  color: #5385ad;
  border-top: 1px solid #5385ad;
  background: url(//rg.ru/i/insert-material/insert-materials-r-text-more-arrow.gif) no-repeat 0 7px;
}

.insert-materials-r-small-more a:hover {
  text-decoration: none;
}

/*INSERT MATERIALS LARGE IMAGE 230*/

.insert-materials-r-large {
  font-family: roboto, sans-serif;
  width: 200px;
  margin: 3px 16px 3px 0;
  float: left;
  border: 1px solid #d5d5d5;
}

.insert-materials-r-large-title {
  height: 27px;
  background: url(//rg.ru/i/insert-material/insert-materials-g-bg-grad.jpg) repeat-x 0 0;
  position:relative;
}

.insert-materials-r-large-title .insert-materials-title {
	font-family: 'roboto condensed', sans-serif;
	font-size: 15px;
	padding-left: 3px;
    width: 100%!important;
    height: 15px;
    position: absolute;
    top: 6px;
	text-indent: -9999px;
	color: #4f82ac;
	line-height: 15px;
	text-transform: uppercase;
	border-left: 3px solid;
	background: url('//rg.ru/img/insert-materials-r-big.png') no-repeat;
}

.insert-materials-r-large-title img {
  width: 84px;
  height: 15px;
  margin-top: 6px;
}

.insert-materials-r-large ul {
  font-weight: 700;
  font-size: 13px;
  margin: 0;
  padding: 6px 0!important;
  list-style: none!important;
  border-top: 1px solid #b7b7b7;
}

.insert-materials-r-large ul li {
  padding: 0 5px;
}

.insert-materials-r-large ul a {
  line-height: 1.2;
  color: #4f82ac;
  text-decoration: none;
}

.insert-materials-r-large-main-picture {
  width: 198px;
  height: auto;
  margin-bottom: 4px;
  padding: 1px;
  display: block;
}

.insert-materials-r-large ul a img {
	margin-top: -6px;
	margin-left: -5px;
}

.insert-materials-r-large ul a .insert-materials-link-title { display: block }

.insert-materials-r-large-more {
  clear: both;
}

.insert-materials-r-large-more a {
  font-size: 17px;
  width: 182px;
  margin: 5px auto;
  padding: 0 0 0 10px;
  display: block;
  line-height: 21px;
  color: #5385ad;
  border-top: 1px solid #5385ad;
  background: url(//rg.ru/i/insert-material/insert-materials-r-text-more-arrow.gif) no-repeat 0 7px;
}

.insert-materials-r-large-more a:hover {
  text-decoration: none;
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 1024px)
and (-webkit-min-device-pixel-ratio: 1)  {

.insert-materials-g .insert-materials-title,
.insert-materials-r-text-title,
.insert-materials-r-small .insert-materials-title,
.insert-materials-r-large-title .insert-materials-title {
	font-family: roboto, sans-serif;
	font-size: 14px;
}

.insert-materials-g .insert-materials-title { font-size: 16px }

}