/***************
 * INSTRUMENTS *
 ***************/

/* --- no user select --- */

.no-select {
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	-o-user-select: none;
	user-select: none;          
}

/*****************
 * RG GALL DUMMY *
 *****************/
 
.gall_dummy-b {
	width: 100%;
	max-width: 600px;
	height: 546px;
	margin: 0 auto;
	background: url('/i/loader.gif') no-repeat center center #fff;
	box-shadow: 0 0 4px #eee inset;
}

/****************
 * RG GALL PREV *
 ****************/
 
.main-text div[id^="rgG_"] {
	width: 600px;
    margin-left: 50px;
}

.body_rg-gallery_open { overflow: hidden!important }
 
.rg-gallery-overlay_show { display: block!important }
 
.gall_prev-b {
	width: 600px;
	margin: 16px 0;
}

.gall_prev-b__title {
    font-family: 'roboto',serif;
    font-size: 14px;
    font-weight: 700;
	margin-bottom: 6px;
	padding-bottom: 6px;
	padding-left: 16px;
	clear: both;
	background: url('/img/d/photo.png') no-repeat 0 5px;
	border-bottom: 1px solid #ccc;
}

.gall_prev-b__thumb__item {
	width: 90px;
	height: 90px;
	margin-right: 12px;
	margin-bottom: 12px;
	float: left;
	
	overflow: hidden;
}

.gall_prev-b__thumb__item:nth-child(6n+6),
.gall_prev-b__thumb__item_last-in-row { margin-right: 0 }

.gall_prev-b__thumb {
	margin-top: 12px;
}

.gall_prev-b__main__pic__img { width: 100% }

.gall_prev-b__main__pic__img,
.gall_prev-b__thumb__item__pic__img  { vertical-align: top }

.gall_prev-b_vertical .gall_prev-b__main {
	width: 504px;
	height: 384px;
	float: left;
	overflow: hidden;
}

.gall_prev-b_no-thumb .gall_prev-b__title,
.gall_prev-b_vertical .gall_prev-b__title { padding-top: 6px; background-position: 0 10px; }

.gall_prev-b_vertical .gall_prev-b__main__pic__img { height: 100% }

.gall_prev-b_vertical .gall_prev-b__thumb {
	width: 70px;
	margin-top: 0;
	margin-left: 7px;
	float: left;
}

.gall_prev-b_vertical .gall_prev-b__thumb__item {
	margin-bottom: 8px !important;
    width: 78px;
    height: 78px;
}

.gall_prev-b_vertical .gall_prev-b__thumb__item__pic__img {
    width: 100%;
}

/***********
 * RG GALL *
 ***********/

/* --- general --- */

.rg-gall-root {
	position: relative;
}

.rg-gall-root * {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

.rg-gall-root_loading .rg-gall-wrapper-b .rg-gall-b,
.rg-gall-root_loading .rg-gall-wrapper-b__header-b,
.rg-gall-root_loading .rg-gall-wrapper-b .ads-b,
.rg-gall-root_loading .rg-gall-wrapper-b__section-b_aside {
    opacity: .1;
}

.rg-gall-b {
    opacity: 1;
    -webkit-transition: opacity .2s ease;
    transition: opacity .2s ease;
}

.rg-gall-b__link {
    text-decoration: none!important;
    color: inherit!important;
    cursor: pointer;
}

.rg-gall-wrapper-b__header-b {
    opacity: 1;
    -webkit-transition: opacity .3s ease;
    transition: opacity .3s ease;
}

.ads-b {
    opacity: 1;
    -webkit-transition: opacity .2s cubic-bezier(0.4, 1, 0.2, 1) .3s;
    transition: opacity .2s cubic-bezier(0.4, 1, 0.2, 1) .3s;
}

.rg-gall-wrapper-b__section-b_aside {
    opacity: 1;
    -webkit-transition: opacity .2s cubic-bezier(0.4, 1, 0.2, 1) .3s;
    transition: opacity .2s cubic-bezier(0.4, 1, 0.2, 1) .3s;
}

.rg-gall-wrapper-b_hide { display: none }

.rg-gall-wrapper-b {
    font-family: roboto, sans-serif;

    width: 938px;
    padding: 16px 15px 45px 16px;
    
    position: absolute;
    top: 0;
    top: -567px;
    right: 0;
    left: 0;

    margin: 0 auto;

    background: #000;

    z-index: 10001;
}

.rg-gall-any + .rg-gall-root .rg-gall-wrapper-b { top: 0 }

.rg-gall-wrapper-b__main-b {
    width: 600px;
    padding: 0 25px;

    float: left;
}

.rg-gall-wrapper-b__section-b { background: #fff }

.rg-gall-wrapper-b__section-b_aside {
    width: 240px;
    padding: 16px;

    float: left;
}




/* --- header --- */

.rg-gall-wrapper-b__header-b { margin-bottom: 16px }

.rg-gall-wrapper-b__header-b__title {
    font-family: 'roboto condensed', serif;
    font-size: 20px;
    font-weight: 700;

    margin: 0 0 0 25px;

    color: #fff;
}




/* --- ads ---- */

.ads-b_tgb { margin-top: 16px }

.ads-b_tgb .single-banner div { margin-bottom: 0!important }

.ads-b_tgb img { width: auto!important }

.ads-b_direct_bottom { margin-top: 20px }

.ads-b_partners_bottom {
    margin-top: 8px;
    padding: 4px;
	background: #fff;
}

.ads-b_partners_bottom .teaser-box { margin: 0 }

.ads-b_partners_bottom img { width: 136px; height: auto; }

.ads-b_partners_bottom .teaser-logo img {
	width: 76px;
	height: 26px;
}

.ads-b_500 {
    margin-top: 25px;
}

.ads-b_500 .single-banner div {
    margin: 0 auto;
}

/* --- gallery --- */

.rg-gall-b__main {
    height: 464px;

    border-bottom: 1px solid #767676;
}

.rg-gall-b__main__pic-wrapper {
    width: 100%;
    height: 100%;
    position: relative;

    overflow: hidden;
}

.rg-gall-b__main__pic-wrapper__list {
    width: 100000px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.rg-gall-b__main__pic-wrapper__list_animate {
	-webkit-transition: all .3s cubic-bezier(0.4, 1, 0.2, 1);
	transition: all .3s cubic-bezier(0.4, 1, 0.2, 1);
}
 
/* --- lisy unit --- */

.rg-gall-b__main__pic-wrapper__list__unit {
    width: 600px;
    float: left;
}

.rg-gall-b__main__pic-wrapper__list__unit__pic {
    height: 436px;
    position: relative;
    overflow: hidden;
	text-align: center;
}

.rg-gall-b__main__pic-wrapper__list__unit__pic .rg-gall-b__link {
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	-o-user-select: none;
	user-select: none;   
}

.rg-gall-b__main__pic-wrapper__list__unit__link {
    text-align: center;

    display: block;
}

.rg-gall-b__main__pic-wrapper__list__unit__pic__source {
	width: auto;
	/*height: 100%;*/
	max-width: 600px;
	max-height: 436px;
    vertical-align: top;

    /*added by chulkov 09.11.15*/
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

/* --- list unit social --- */

.rg-gall-b__main__pic-wrapper__list__unit__pic__social {
    position: absolute;
    top: 0;
    right: 0;

    background: #fff;
    opacity: .7;
}

.rg-gall-b__main__pic-wrapper__list__unit__pic__social:hover { opacity: 1 }

/* --- list unit meta --- */

.rg-gall-b__main__pic-wrapper__list__unit__pic__meta {
    font-size: 14px;

    width: 98%;
    padding: 1%;

    position: absolute;
    left: 0;
    bottom: 0;

	text-align: left;
    color: #fff;
    background: rgba(0, 0, 0, .5);
}

.rg-gall-b__main__pic-wrapper__list__unit__pic__meta a { color: inherit }

.rg-gall-b__main__pic-wrapper__list__unit__pic__meta__count {
    font-style: normal;
    font-weight: 300;
    
    margin-right: 5px;

    color: #b8bab5;
}

.rg-gall-b__main__pic-wrapper__list__unit__pic__author {
    font-size: 12px;

    padding: 1%;

    color: #ececec;
}

/* --- list arrows --- */

.rg-gall-b__main__pic-wrapper__arrow__unit {
    font-size: 0;

    width: 50px;
    height: 50px;
    margin-top: -25px;

    position: absolute;
    top: 50%;

    border-radius: 100%;
    background: rgba(0, 0, 0, .7);

    opacity: 0;

    cursor: pointer;

    -webkit-transition: all .3s cubic-bezier(0.2, 1.6, 0.2, 2);
    transition: all .3s cubic-bezier(0.2, 1.6, 0.2, 2);
}

.rg-gall-b__main__pic-wrapper:hover .rg-gall-b__main__pic-wrapper__arrow__unit { opacity: 1 }

.rg-gall-b__main__pic-wrapper__arrow__unit:before {
    content: '';

    width: 20px;
    height: 24px;

    position: absolute;
    top: 12px;

    background: url(/res/images/rg_gall/rg-gall-b__main__pic-wrapper__arrow__unit.png) no-repeat 0 0;
	
	-webkit-transition: all .3s cubic-bezier(0.2, 1.6, 0.2, 2);
    transition: all .3s cubic-bezier(0.2, 1.6, 0.2, 2);
}

.rg-gall-b__main__pic-wrapper__arrow__unit_prev:before {left: 11px }
.rg-gall-b__main__pic-wrapper__arrow__unit_next:before {
    right: 12px;
    background-position: -20px 0;
}

.rg-gall-b__main__pic-wrapper__arrow__unit_prev { left: 13px }
.rg-gall-b__main__pic-wrapper__arrow__unit_next { right: 13px }

.rg-gall-b__main__pic-wrapper__arrow__unit:hover {
	width: 60px;
	height: 60px;
	margin-top: -30px;
}

.rg-gall-b__main__pic-wrapper__arrow__unit_prev:hover { left: 7px }
.rg-gall-b__main__pic-wrapper__arrow__unit_next:hover { right: 7px }

.rg-gall-b__main__pic-wrapper__arrow__unit:hover:before { top: 17px }
.rg-gall-b__main__pic-wrapper__arrow__unit_prev:hover:before { left: 17px }
.rg-gall-b__main__pic-wrapper__arrow__unit_next:hover:before { right: 18px }



/* --- thumb --- */

.rg-gall-b__main__pic-thumb {
    margin: 16px 0;
    position: relative;
}

.rg-gall-b__main__pic-thumb__wrapper {
    width: 572px;
    height: 100px;
    margin: 0 auto;
    position: relative;

    overflow: hidden;
}

.rg-gall-b__main__pic-thumb__wrapper__list {
    width: 10000px;
    height: 100%;
    
    position: absolute;
    top: 0;
    left: 0;
}

.rg-gall-b__main__pic-thumb__wrapper__list__unit {
    width: 98px;
    height: 98px;
    margin-right: 12px;
    float: left;

    overflow: hidden;

    border: 1px solid transparent;

    opacity: .6;
    filter: alpha(opacity=60);

    -webkit-transition: opacity .2s cubic-bezier(.694, .0482, .335, 1);
    transition: opacity .2s cubic-bezier(.694, .0482, .335, 1);
}

.rg-gall-b__main__pic-thumb__wrapper__list__unit:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}

.rg-gall-b__main__pic-thumb__wrapper__list__unit_active {
    border: 1px solid #fff;

    opacity: 1;
    filter: alpha(opacity=100);
}

.rg-gall-b__main__pic-thumb__wrapper__list__unit:first-child { margin-left: 12px }

.rg-gall-b__main__pic-thumb__wrapper__list__unit__link {
    text-align: center;

    display: block;
}

.rg-gall-b__main__pic-thumb__wrapper__list__unit__pic__source {
    width: 100%;
    vertical-align: top;
	
	-webkit-transform: scale(1.1, 1.1);
	transform: scale(1.1, 1.1);
	
	-webkit-transition: transform .2s cubic-bezier(.694, .0482, .335, 1);
	transition: transform .2s cubic-bezier(.694, .0482, .335, 1);
}

.rg-gall-b__main__pic-thumb__wrapper__list__unit:hover .rg-gall-b__main__pic-thumb__wrapper__list__unit__pic__source,
.rg-gall-b__main__pic-thumb__wrapper__list__unit_active .rg-gall-b__main__pic-thumb__wrapper__list__unit__pic__source {
	-webkit-transform: scale(1, 1);
	transform: scale(1, 1);
}

.rg-gall-b__main__pic-thumb__arrow__unit {
    font-size: 0;

    width: 20px;
    height: 100%;

    position: absolute;
    top: 0;

    cursor: pointer;
}

.rg-gall-b__main__pic-thumb__arrow__unit:before {
    content: '';

    width: 20px;
    height: 14px;
    margin-top: -10px;

    position: absolute;
    top: 50%;

    background: url(/img/rg_gall/rg-gall-b__main__pic-wrapper__arrow__unit.png) no-repeat 0 -25px;
}

.rg-gall-b__main__pic-thumb__arrow__unit_prev:before { left: -5px }
.rg-gall-b__main__pic-thumb__arrow__unit_next:before {
    left: 5px;
    background-position: -20px -25px;
}

.rg-gall-b__main__pic-thumb__arrow__unit_prev { left: 0 }
.rg-gall-b__main__pic-thumb__arrow__unit_next { right: 0 }

@media (max-height: 600px) {
	
	.rg-gall-b__main__pic-thumb {
		width: 600px;
		padding: 16px 0;
		position: absolute;
		top: 380px;
		background: #000;
		opacity: 0;
		filter: alpha(opacity=0);
		
		-webkit-transition: opacity .2s ease;
		transition: opacity .2s ease;
	}
	
	.rg-gall-b:hover .rg-gall-b__main__pic-thumb {
		opacity: 1;
		filter: alpha(opacity=0);
	}
	
}

/* --- top 5 block --- */

.rg-gall-b__top-box { margin-top: 27px }

.rg-gall-b__top-box__unit {
    width: 173px;
    height: 173px;
    margin: 13px;
    position: relative;
    float: left;
    overflow: hidden;
}

.rg-gall-b__top-box__unit__pic__source {
    width: auto!important;
    min-height: 173px;
    height: 100%;
}

.rg-gall-b__top-box__unit_repeat .rg-gall-b__top-box__unit__pic__source {
    width: 100%;
    height: auto;
}

.rg-gall-b__top-box__unit__meta {
    width: 100%;

    position: absolute;
    bottom: 0;
    left: 0;

    color: #fff;
    background: rgba(0, 0, 0, .6);
}

.rg-gall-b__top-box__unit__meta__link {
	font-size: 12px;
    padding: 4px 6px;
    display: block;
	line-height: 1.2;
}



/* --- linked materials --- */

.rg-gall-b__main__linked-materials {
    font-size: 14px;
    color: #fff;
}

.rg-gall-b__main__linked-materials__title { text-transform: uppercase }

.rg-gall-b__main__linked-materials__link {
    color: inherit!important;
    text-decoration: none!important;
}

.rg-gall-b__main__linked-materials__list {
    margin: 12px 0 0 0!important;
    padding: 0!important;

    list-style-type: none!important;
}

.rg-gall-b__main__linked-materials__list__unit__date {
    font-style: normal;
    font-weight: 300;

    color: #b8bab5;
}

.rg-gall-b__main__linked-materials__list__unit__desc { font-weight: 400 }



/* --- close btn --- */

.rg-gall-wrapper-b__close-b {	
	position: absolute;
	top: 10px;
	right: 10px;
	
	color: #fff;
}

.rg-gall-wrapper-b__close-b__unit__link {
	color: inherit!important;
    text-decoration: none!important;
}

.rg-gall-wrapper-b__close-b__unit__btn {
    font-family: arial;
	font-size: 0;

	width: 30px;
	height: 30px;
	
	position: relative;
	top: 0;
	left: 0;
	
	display: block;

    line-height: 30px!important;
	
	border: 2px solid!important;
	border-radius: 100%;
	
	-webkit-transition: all .3s cubic-bezier(0.2, 1.6, 0.2, 2);
    transition: all .3s cubic-bezier(0.2, 1.6, 0.2, 2);
}

.rg-gall-wrapper-b__close-b__unit__btn:hover {
	width: 38px;
	height: 38px;
	
	top: -4px;
	left: 4px;
}

.rg-gall-wrapper-b__close-b__unit__btn:before {
	content: '\00D7';
	
    font-family: arial;
	font-size: 34px;
	font-weight: 700;
	
	position: absolute;
	top: 0px;
	left: 5px;

    display: block;
	
	-webkit-transition: all .3s cubic-bezier(0.2, 1.6, 0.2, 2);
    transition: all .3s cubic-bezier(0.2, 1.6, 0.2, 2);
}

.rg-gall-wrapper-b__close-b__unit__btn:hover:before {
	font-size: 48px;
	
	top: 4px;
	left: 5px;
}
