// Объявляем блок
$block: '.b-custom-content'

// Стили
#{$block}
    .b__media
        background-color: $today-bg-color

    .b-sidebar-right &
        .b__media
            padding: 17px 36px 18px