/*
 * Ссылки в пагинации
 *
 */


// Объявляем блок
$block: '.b-to-page'

// Стили
#{$block}
    display: inline-block
    padding: 4px 12px
    &_active
        background: $red-orange
        border-radius: 2px
        color: $white