// Объявляем блок
$block: '.b-feed__item.b-feed__tags'

// Стили
#{$block}
    +font(14px)
    padding-bottom: $indent-g-small
    margin-bottom: $indent-g-small
    display: inline-block
    vertical-align: top
    border-bottom: 1px solid $border-color

    & .b-feed-accents__media
        display: block
        float: right
        margin-left: $indent-g-small

    & img
        display: block

    & .b-feed__date
        display: none

    & .b-link_title
        display: block

    &.b-feed__spiegel .b-feed__list-item-tags, &.b-feed__spiegel .b-link_title
        border-left: 3px solid #f26922
        padding-left: $indent-g-small

    & .b-feed__list-item-tags
        +font(13px)
        // padding-top: $indent-g-small/2
        padding-top: 2px
        font-family: $f-sans
        color: $comment-color
