/*
 * Блок ленты контента
 * 
 */

// Объявляем блок
$block: '.b-feed'

// Стили
#{$block}

    +bp-tablet
            margin-left: 20px

    +bp-tabletLandscape
            margin-left: 30px

    +bp-desktop
            margin-left: 0