/*
 * Выбор региона
 * 
 */

// Объявляем блок
$block: '.b-region'

// Стили
#{$block}
    // inline-block fix
    font-size: $f-sz-zero
    letter-spacing: 0

    padding: 15px 20px

    &__current
        margin-bottom: 30px
        color: $comment-color

    &__choose
        margin-bottom: 30px

    &__choose-title
        margin-bottom: 10px

    &__choose-item
        width: 100%

    &__search

    &__search-text
        margin-bottom: 10px

    &__current,
    &__choose,
    &__search
        // inline-block fix
        +font(13px)
        letter-spacing: $letterSpacingDefault
        

    // Retina
    +bp-retina

        &
            &__link_active
                &:before
                    background: url(#{$img-path}sprite_main_2.png) -80px -50px no-repeat
                    background-size: 500px



    // Tablet
    +bp-tablet

        &
            //+font(14px)

            width: 650px
            padding: 30px

            &__current
                +font(16px)
                color: $comment-color

            &__choose-title
                +font(16px)

            &__list
                margin-left: -25px
                padding: 0
                list-style: none

            &__list-item
                width: 175px
                margin: 0 0 10px 25px
                vertical-align: top
                display: inline-block

            &__link_active
                position: relative
                color: $comment-color

                &:before
                    content: ''
                    width: 20px
                    height: 20px

                    position: absolute
                    top: 0
                    left: -20px

                    background: url(#{$img-path}sprite_main.png) -80px -50px no-repeat

            &__search-text
                width: 400px
            

    // Desktop
    +bp-desktop

        &

            width: 890px
            padding: 50px

            &__choose,
            &__search
                width: 50%
                display: inline-block
                vertical-align: top

            &__search-input
                padding: 10px 15px    