/*
 * Пост комментария
 *
 */

// Объявляем блок

#textActions
    width: inherit

$block: '.b-text-actions'

// Стили
#{$block}

    margin-top: 5px
    padding: 10px 20px
    width: inherit

    position: absolute
    text-align: center

    color: $link-color
    background: $white
    box-shadow: 1px 1px 15px rgba($black, .3)

    border: 0
    z-index: 1

    &__col
        +font(14px)
        display: inline-block
        width: 30%
        text-align: center
        vertical-align: middle

        &.b-share
            width: 36%

            & li
                margin-left: 5px
                margin-right: 5px

    &__typo
        cursor: pointer

    &__quote
        cursor: pointer

    &__comment
        width: calc(100% - 220px)
        display: inline-block

    &__fieldset
        margin: 0

    &__cancel
        margin-left: 20px

    &:after

        content: ''

        width: 10px
        height: 10px
        margin-left: -5px
        top: -5px
        left: 50%

        position: absolute
        display: block

        background: $white

        +transform(translateX(-50%) rotate(45deg))


    // Tablet
    +bp-tablet

        &__col
            width: 25%

            &.b-share
                width: 46%

    // Desktop
    +bp-tabletLandscape

        &__col
            width: 30%

            &.b-share
                width: 38%

    // Desktop
    +bp-desktop