/*
 * Баннеры
 * 
 */

// Объявляем блок
$block: '.b-ads'
// Стили
#{$block}
    
    &_sidebar-left div[id^="AdFox_banner"],
    &_sidebar-right div[id^="AdFox_banner"]
        margin-top: 0

    .l-page_zilart_index &
        text-align: center

        div[id^="AdFox_banner"]
            padding: 20px 0

    +bp-desktop

        &_sidebar-right
            margin-top: 64px

        .l-page_zilart_index &
            width: 32%
            float: left

            div[id^="AdFox_banner"]
                padding: 0

    +bp-desktopFull

        .l-page_zilart_index &
            width: 23%
