// Глобальные переменные и служебные функции
@import "../../../common"

// Блок статической страницы
@import "../../../../blocks/main/b-static-wrapper/styles/b-static-wrapper.sass"


// Desktop
+bp-desktop
	.b-static-wrapper_static

		.half-size
			width: 50%

		.quarter-size
			width: 25%

		.has-left
			float: left

		.has-right
			float: right

		.b-app-store
			text-align: left


		.b-app-store__item
			margin-bottom: 0
			margin-left: 40px

.b-static-wrapper_static

	.b-app-store
		text-align: center

	.b-app-store__item
		margin-bottom: 20px



	.b-table
		+font(14px)
		margin-bottom: 35px

	.b-table__title
		+font(14px)

	.b-table__text
		width: 255px
		padding-top: 15px

	.b-table__col
		padding-top: 15px

	.b-table__icon
		display: block

		width: 18px
		height: 18px

		background: url(#{$img-path}sprite_main.png)

	.b-link
		display: block

	.b__col .b-link
		margin-bottom: 15px



	.rss-icon
		background-position: -51px -29px

	.yandex-news-icon
		background-position: -40px -70px

	.google-icon
		background-position: -60px -70px

	.b-table__title
		font-weight: bold

	.b__subtitle
		position: relative
		margin-left: 15px


	.b__subtitle:before
		content: ""

		position: absolute
		top: 3px
		left: -19px

		width: 16px
		height: 16px
		background: url("/res/images/custom/statics/services/soc-icon.png")

	.b__col:last-child
		margin-top: 23px

	.b__col:last-child .b__subtitle:before
		background: none

	.b__col:last-child .b__subtitle.telegram:before
		background: url("/res/images/custom/statics/services/soc-icon.png") 0 -168px

	.facebook:before
		background-position: 0 0

	.ok:before
		background-position: 0 -18px

	.google:before
		background-position: 0 -38px

	.instagram:before
		background-position: 0 -58px

	.youtube:before
		background-position: 0 -76px

	.livejournal:before
		background-position: 0 -95px

	.vk:before
		background-position: 0 -113px

	.pinterest:before
		background-position: 0 -132px

	.twitter:before
		background-position: 0 -150px

// Объявляем блок
$block: '.b'

// Стили
#{$block}

	&__media
		width: 450px