/*
 * Меню пользователя в шапке
 * 
 */

// Объявляем блок
$block: '.b-menu-user'

// Модификаторы

// Стили
#{$block}

    &__item
        display: inline-block
        vertical-align: middle

        &_desktop
            display: none

        &_mobile
            & .b-icon-aside_type_login
                padding: 20px 20px
                display: block

    &__item_image
        width: 30px
        height: 30px
        margin-right: 10px
        overflow: hidden

        +rounded-corners(50%)

    &__name
        max-width: 120px

        white-space: nowrap
        overflow: hidden
        display: block

    &__nav

    &__nav-icon
        width: 20px
        margin-top: 2px

        position: relative
        top: 2px

        display: inline-block
        line-height: 0
        vertical-align: middle

    &__nav-icon-line
        width: 100%
        margin-bottom: 5px

        display: inline-block
        border-bottom: 2px solid $black

    &__menu
        width: 100%
        padding: 0 20px

        position: absolute
        top: 45px
        right: 0

        &:before
            content: ''

            width: 60px

            position: absolute
            top: 0
            //right: 20px
            right: 0 // Фикс правки номер 7 в гуглдоксе
            z-index: 5
            
            border-top: 3px solid $red

    &__action
        width: 100%
        height: 45px
        margin-left: -80px
        padding: 5px 20px 5px 80px

        position: absolute
        top: -45px
        left: 0
        z-index: 1
        
        background-color: $white

    &__action-item-icon
        margin-left: 20px
        display: inline-block
        vertical-align: middle

    &__profile
        width: 100%

        position: absolute
        right: 0
        z-index: 2

        text-align: left
        white-space: normal
        line-height: 1.4em

        //background-color: $white
        background-color: $today-bg-color
        
        +box-shadow(1px 1px 14px #aaa)

    &__profile-info
        padding: 20px
        //background-color: $today-bg-color
        border-bottom: 1px solid $border-color

    &__profile-info-name
        font-weight: bold
        margin-bottom: 10px

    &__profile-info-mail
        color: $comment-color

    &__profile-wrapper
        //height: 220px
        //overflow-y: auto
        background-color: $white

    &__profile-categories
        //padding-bottom: 10px
        background-color: $white
        //border-bottom: 1px solid $border-color

        & .b-categories__body_blue .b-categories__list
            border-color: #f3f3f3
        

    &__profile-title
        border-bottom: solid 1px #f3f3f3

    &__profile-links
        padding: 20px 20px 10px

    &__profile-links-item
        margin-bottom: 10px
    

    // Tablet
    +bp-tablet

        &

            &__item
                &_desktop
                    display: inherit

            &__menu
                top: 41px

                &:before
                    width: 30px
                    right: 0

            &__item_image
                margin-top: 1px

            &__action
                display: none

            &__action-item-icon
                margin-left: 20px

                display: inline-block
                vertical-align: middle

            &__profile
                width: 240px

            &__profile-info
                padding: 15px 20px

            &__profile-info-name
                margin-bottom: 5px

            &__profile-categories
                display: none

            &__profile-links
                padding: 15px 20px

            &__profile-title
                display: none

            &__profile-links-item
                margin-bottom: 15px

                &:last-child
                    margin-bottom: 10px           