/*
 * Пост комментария
 * 
 */

// Объявляем блок
$block: '.b-post'

@keyframes pound
    to
        transform: scale(1.2)

.heartbeats
    animation: pound .25s infinite alternate
    transform-origin: center

// Стили
#{$block}
    +font(14px)
    position: relative

    // Аватарка поста
    &__media
        width: 30px
        height: 30px
        overflow: hidden
        border-radius: 100%
        
        display: none

    &__image
        width: 100%
        height: auto

    // Контент поста
    &__wrapper

    &__name
        padding-top: 8px

    // Информация о юзере
    &__name-full
        font-weight: bold
        cursor: pointer

    // Дата поста
    &__name-date
        color: $comment-color

    // Кнопка ответить
    &__reply-btn

    // Кнопка обратиться
    &__speak-btn
        margin-right: -24px
        top: -16px
        left: -8px
        cursor: pointer

        +transition(opacity .3s ease)

    // Кнопка лайк
    &__like
        position: absolute
        top: 8px
        right: 0
        cursor: pointer

        // Иконка лайка
        &-icon
            display: inline-block
            vertical-align: top
    
        // Счетчик лайков
        &-qty
            margin-right: 5px
            display: inline-block
            color: $comment-color

            +transition(color .3s ease)

    // Тултип цитирования
    &__quote-tip
        +font(12px)
        margin-top: 5px
        padding: 15px

        position: absolute

        color: $link-color
        background: $white
        box-shadow: 1px 1px 15px rgba($black, .3)

        border: 0
        z-index: 9999

        +transform(translateX(-6px))

        &:after
            content: ''

            width: 10px
            height: 10px
            margin-left: -5px
            
            position: absolute
            top: -5px
            left: 50%
            display: block
            background: $white

            +transform(translateX(-50%) rotate(45deg))

    // Текст
    //&__text div::-moz-selection,
    //&__text p::-moz-selection,
    //&__text i::-moz-selection,
    //&__text b::-moz-selection,

    //&__text div::selection,
    //&__text p::selection,
    //&__text i::selection,
    //&__text b::selection
        //background: rgba($green-accent, .3)


    // элементы-помощники
    &__row
        margin-bottom: 10px
        position: relative
    
        // Строка с информацией о юзере
        &_info
            padding-right: 40px


    // разметка тела поста
    &__content
    
    // разметка блока действий
    &__action

    &__content,
    &__action

    // Поведение, когда неактивны все посты
    .b-comment_deactive &
        +opacity(.3)

    .b-comment_deactive &_active
        +opacity(1)


    // Tablet
    +bp-tablet

        &
            &__media
                margin-right: 10px
                float: left
                display: block

            &__name,
            &__like
                +font(13px)


    // Desktop
    +bp-tabletLandscape

        


    // Desktop
    +bp-desktop

        &

            // разметка тела поста
            &__content
                width: 86%
            
            // разметка блока действий
            &__action
                width: 14%

            &__content,
            &__action
                float: left

            // Кнопка ответить
            &__reply-btn
                position: absolute
                right: 0
                bottom: 0
                +opacity(0)

                +transition(opacity .3s ease)

            // Кнопка обратиться
            &__speak-btn
                +opacity(0)

            // Кнопка ответить
            // Кнопка обратиться
            &:hover &__reply-btn,
            &:hover &__speak-btn
                +opacity(1)

            // Счетчик лайков
            &:hover &__like-qty
                color: initial


// Если в личном кабинете
.b-account__content_comment #{$block}__reply-btn,
.b-list-table_comments #{$block}__quote-tip    
    display: none!important